[2017-06-26 17:34] kaso17 commented on #1476
@FSurani can you post an updated log?

[2017-06-26 17:38] kaso17 commented on #1485
@kingfenix a temporary workaround would be to use the blackhole directory and use a simple bash/whatever script to generate the rss feed from the blackhole torrent files.
Alternatively there were some browser plugins allowing to "redirect" torrent file downloads to deluge, rtorrent, etc.. Not sure if they are still available.

[2017-06-26 17:44] kaso17 commented on #1404
@RuudBurger what do you think about the suggestion from @flightlevel ? Would you accept a CP pull request which always sends the movie title (search parameter) and the imdbid?

[2017-06-26 17:45] kaso17 commented on #1505
probably caused by #1404

[2017-06-26 17:46] #1471 closed

[2017-06-26 17:47] kaso17 commented on #1487
please enable enhanced logging and post the full log

[2017-06-26 17:50] kaso17 commented on #1392
Please try running jackett via ` mono JackettConsole.exe -t -l --IgnoreSslErrors true`
Are other HTTPS trackers working?

[2017-06-26 17:51] kaso17 commented on #1503
dupe #1443

[2017-06-26 17:51] #1503 closed

[2017-06-26 18:07] kaso17 commented on #1484
According to the logs the Blackhole download seems to work fine.
Does the actual blackhole download work (files are created in the directory) and the client just shows the error message?
Please also check the ISS log file. It might not like the response by jackett causing the problem.

[2017-06-26 18:08] #1501 closed

[2017-06-26 18:12] kaso17 commented on #1469
@DominicMe did you try setting XDG_CONFIG_HOME?

[2017-06-26 18:13] kaso17 commented on #1481
@adamwinn can you help with this?

[2017-06-26 18:22] kaso17 commented on #1479
Change the sonarr categories to just 5000 instead of 5030,5040 (you've to enable advanced options for it) and it should work:
http://127.0.0.1:9117/torznab/thepiratebay/api?t=tvsearch&cat=5000&extended=1&apikey=(removed)&offset=0&limit=100&q=Rachel%20Maddow%20Show&season=2017&ep=06/14

[2017-06-26 18:22] #1479 closed

[2017-06-26 20:20] RuudBurger commented on #1404
yeah sure, send It and Ill have a look

[2017-06-26 20:53] adamwinn commented on #1481
No, not really.  I tried all I could to make AHD work but it's outside my skillset or it needs to be re-written in C# as an indexer and not a definition.  I released it knowing there were some issues but it was the best I knew how.  Someone else can probably look at it and clean it up and improve it.

[2017-06-26 23:08] kingfenix commented on #1485
yeah there are a couple band-aid type workarounds, but not any good solutions yet

[2017-06-27 02:16] seanvree commented on #1484
@kaso17 Actually, further investigation appears that you're right it down download the file, but the jackett console just shows that message.

I'll go ahead and close this.

[2017-06-27 02:16] #1484 closed

[2017-06-27 10:45] nikogaug commented on #1505
I'm not sure. I have the same problem with CP+Jackett+ArcheTorrent. But works great with CP+Jackett+Elite Tracker.

[2017-06-27 13:48] #1259 closed

[2017-06-27 15:08] chibidev opened #1508 "[DevQ] Is Autofac and Automapper needed?"
This is a development inquiry rather than an issue or any other kind of question. The reason I'm asking whether the two nuggets are really necessary is because when I initially started contributing to Jackett the hardest part was to get used to Autofac and Automapper. In my perspective neither of those solve any code maintenance issues, however they do create some and make it really hard to follow

[2017-06-27 16:12] DominicMe commented on #1469
Did a clean Jackett install on a VM again this time running export XDG_CONFIG_HOME=/var/lib/jackett before Jackett. Results are the same, it still attempts to use /home/jackett. /opt is the wrong place to install Jackett, and Both Sonarr and Radarr use mono too with no such issues. It's a serious bug and should be simple to to fix not to mention to having to deal with continuous issues people have

[2017-06-27 21:42] Gothamen commented on #1476
To update, issue still occurs on new version, I am running Jackett with Sonarr and know this is not the Sonarr Git but that is how I am seeing the auth failure.

Let me know if I can provide anything to assist with identification of the error.

[2017-06-27 22:36] chibidev commented on #1404
In the meantime @kaso17 @flightlevel I have implemented my approach on chibidev/Jackett@cab8518. Once #1507 gets merged, I'll open the PR.

[2017-06-27 23:03] chibidev commented on #1508
Okay, Autofac is getting on my nerves... It randomly started reporting exceptions (did not happen before, seriously don't understand why), so I needed to **manually exclude** the types I created from the registered types... This is another example that poses me the question: is it really necessary?

[2017-06-28 04:34] chrisjohnson00 commented on #1492
Agreed... I'm only interested in 1, maybe 2 categories from a site and would like to disable the other 50+ categories to reduce memory footprint and chances of a release being missed when refreshing.

[2017-06-28 05:23] kaso17 commented on #1508
I can't tell you why it was used in the first time but I agree that they causes more problems than they solve.
Last time I checked neither of them (autofac/automapper) were compatible with .NET core.
I would suggest that we welcome any patches to reduce/get get rid of autofac/automapper usage.

@flightlevel what's your opinion on this?

Regarding communication:
There's a slack chat but it's not be

[2017-06-28 05:25] kaso17 commented on #1492
#1262 is the more generic feature request than this (allow to select multiple categories)

[2017-06-28 05:26] kaso17 commented on #1476
@Gothamen a updated log with enhanced logging enabled would be helpfull

[2017-06-28 05:45] PlqnctoN commented on #1325
@OppieTV T411 is dead, see here: http://www.numerama.com/politique/270988-t411-lenquete-internationale-qui-a-mis-fin-a-un-des-plus-importants-reseaux-de-piraterie.html

[2017-06-28 08:12] Gothamen commented on #1476
@kaso17 have enable enhanced logging, in the mean time this is the Sonarr error, again I know this isn't a Sonarr post but it may help decipher a potential disconnect?

[2017-06-28 12:52] flightlevel commented on #1508
Yep, agree with kaso, this is the best place for discussion as we are a community project and everyone should be able to see/throw their opinion in. And it makes it easier having everything in the one place

With Autofac, I can't give you a great answer as I came along after it was all going. Is it specifically Autofac that you don't like or more just too much dependency injection?

.NET Core 2 sh

[2017-06-28 14:05] chibidev commented on #1508
Thank you both for the answers.

The problem with all the dependency frameworks I came along is that they usually just hide issues and cause others, rather than really solving anything.
In my experience they are used in either of the following:
1. There are too many dependencies for an object, and the constructor requires a plethora of input params. However this is usually caused by wrong design a

[2017-06-28 14:12] chibidev commented on #1508
@flightlevel I understand the reason, and if you guys want to wait for core 2.0 I have no problem supporting it. However I want to say that in my experience doing these things in iterations is probably more reasonable, instead of doing a single-shot global refactoring. Both doing and reviewing it is easier step-by-step. An if we start doing those replacements, we'll probably finish them by the tim

[2017-06-28 18:10] jazzgott commented on #1200
...any luck?

[2017-06-28 18:25] raspdealer commented on #1325
t411 is down

[2017-06-28 19:08] CatmanIX commented on #1490
[code]

------------------------------------------------

Looks like i've got a couple other trackers that need to be sorted out now as well but i don't think they're related as the AOX issue is different and predates the others.

[2017-06-28 22:24] JigSawFr commented on #1325
T411 busted, definition will be wiped.

[2017-06-29 02:56] thenamelessthing opened #1510 "update url for ShareSpaceDB"
Hi, the url for ShareSpaceDB is now: https://www.ssdb.me   please update this!

Thanks you.
-------------------------------

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46707868-update-url-for-sharespacedb?utm_campaign=plugin&utm_content=tracker%2F25207257&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysourc

[2017-06-29 02:58] thenamelessthing commented on #1424
@maxcore  C'est bien ce tracker? Je ne connaissais pas..

[2017-06-29 02:59] thenamelessthing commented on #1304
@amuteau Je t'envie tellement, Xthor... J'en rêve!

[2017-06-29 07:14] thejacer87 commented on #1392
ran it. still errors. and yes, my speed.cd and torrentbytes (it just went down last week) indexers are working.

[jackett logs.txt](https://github.com/Jackett/Jackett/files/1111136/jackett.logs.txt)

[2017-06-29 08:57] JigSawFr commented on #1304
@amuteau is this problem solved ? Or need more investigation ?

[2017-06-29 10:16] d2dyno commented on #1487
PrivateHD is working just fine in my installation.

[2017-06-29 12:59] cesalo commented on #1439
Just asking for an update .. Will this be added at some point?

Thanks.

[2017-06-29 14:02] maxcore commented on #1424
Oui pas juste de la tv

________________________________
From: thenamelessthing <notifications@github.com>
Sent: Wednesday, June 28, 2017 10:58:41 PM
To: Jackett/Jackett
Cc: Maxcore; Mention
Subject: Re: [Jackett/Jackett] [REQ] Votre télé québecois French tracker (#1424)

@maxcore<https://github.com/maxcore> C'est bien ce tracker? Je ne connaissais pas..

—
You are receiving this because you were

[2017-06-29 17:08] seanvree opened #1512 "Error when adding Indexer: "Request for unknown indexer: cardigannindexer""
Windows 10E 1703 X64
Jackett Version 0.7.1508.0

Issue:

I noticed today that half of my indexers were not configured.  So, I went to add them again, as soon as I click on the indexer to add it, I get the error "Request for unknown indexer: cardigannindexer"

The .JSON files are in the /indexers folder. I've tried to delete the ones I"m trying to Re-add, but no-go.

Seems I'm unable to add ANY ind

[2017-06-29 17:37] haudankaivajasi commented on #282
Is there any plans to add metal-tracker site to Jackett in the future or am I missing something?

[2017-06-29 17:38] Azno commented on #1512
I'm having the same problem, although mine removed all my indexers also except rarbg

[2017-06-29 17:58] chibidev commented on #1512
Thanks everyone for the report, the recent pre-release version is the one affected. Update to an official release and the issue will be gone.
Also, it will be fixed by #1511

[2017-06-29 18:26] jeff15110168 commented on #1512
how do we update? i also lost all my indexers

[2017-06-29 19:15] chibidev commented on #1512
@Azno @seanvree please check with the latest pre-release, it should be fixed now (thank you @kaso17)

[2017-06-29 19:23] seanvree commented on #1512
Thanks!

[2017-06-29 19:23] #1512 closed

[2017-06-30 09:53] lolmancgn opened #1513 "Peculiar "No Results" issue with Sonarr/Radarr using Jackett"
I've created a new definition file for Jackett for a private tracker. I'm getting perfect results from the Jackett interface for movies as well as TV shows. Using this config as a torznab resouce in Sonarr and Radarr (latest versions) gives me an error in both apps. The Jackett log seems fine. I'm also including the yml definition. The best pointer I was able to make out is this error in both apps

[2017-06-30 10:37] seedboxer opened #1514 "[Request] Add Torrentvault"
This is a very old and stable tracker with very good pre-times and gets under used.
Please, can it be added to jackett so it can be better utilized . #

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46758026-request-add-torrentvault?utm_campaign=plugin&utm_content=tracker%2F25207257&utm_medium=issues&utm_source=github)** We accept

[2017-06-30 12:50] lolmancgn commented on #1513
Closing this. The YML definition was missing a key part, the details field:

[code]

without this, Jackett was unable to provide a GUID to Sonarr/Jackett

[2017-06-30 12:50] #1513 closed

[2017-06-30 14:47] nikogaug opened #1515 "Just a question to know how to request a tracker"
Hi,
On the wiki, there is a description on how to request a tracker.
An the wiki, we see the list of available categories like this:

and in the exemple for FnT there are multicategory like this:

But when I look on the code of existing tracker, I never see the "AddMultiCategoryMapping". Is it better to list category with or without "AddMultiCategoryMapping" ?

I don't know if I can"t post the que

[2017-07-01 15:58] chibidev commented on #1505
@helmutwasa can you check again when #1516 gets merged?

[2017-07-01 16:23] #1404 closed

[2017-07-01 21:26] Nis158 commented on #938
Yup having the same issue

[2017-07-02 12:21] iFEARR opened #1518 "Indexer password resets at random times"
I'm using filelist as my indexer, and very often my indexer would just stop working, if I put the password again would work. I even updated from stable to beta. But still same problem.

Jackett version: 0.7.1514.0

-------------------------------

[2017-07-02 13:38] nejaugitu commented on #1268
Is there any possibility to get a tasmani.es invite code. Much much appreciate it!

[2017-07-03 01:29] SCRPD opened #1519 "Nyaa.si Search Pulling Up Comment Hyperlink vs Title Hyperlink"
When I do a manual search with Nyaa.si it's pulling up the comments hyperlink for the torrent.
Search function:[![Screenshot from Gyazo](https://gyazo.com/4bce6abfe555060bca25e0c8f557062c/raw)](https://gyazo.com/4bce6abfe555060bca25e0c8f557062c)

Hyperlink given for title "85" <- number of comments: https://nyaa.si/view/935321#comments

It seems like it's grabbing this comments hyperlink vs the ti

[2017-07-03 08:21] nikogaug commented on #1505
I tried with the last version 0.7.1514.0 and have the same error.
I don't know if it's the same error.

When I put that on the URL it works:
http://myIP:MyPort/potato/elitetracker?search=french=&passkey=xxx

But when I put that in my URL, it didn't work:
http://myIP:MyPort/potato/archetorrent?search=french=&passkey=xxx
I have a blank page. Here is the log in Jackett:

`Jul 03, 2017 09:34:12 AM 	In

[2017-07-03 16:49] albertsj1 commented on #1019
@jamesb2147 Yep. I'm getting the same error too.  I've still never gotten this tracker working.  I just figured I'd give the latest Jackett a try and got this error when hitting the test button.

[2017-07-03 16:54] albertsj1 commented on #1019
@jamesb2147 I actually just got this to work.  On the gimmepeers site, I went to my profile and turned off 'View Top20'.  Clicking the test button in Jackett now shows successful.

[2017-07-04 03:03] ajslater opened #1521 "Null Value Exception on aggregate API"
I'm not sure where `source` is not being set, but Jackett doesn't react well.

`Unhandled exception url: http://localhost:9117/torznab/all/api?t=tvsearch&cat=5030,5040&extended=1&apikey=ntektmi94kmpqd1ptc7k2601r7acpqve&offset=0&limit=100`

HandleCore(): unhandled exception: Message = Value cannot be null.
Parameter name: source
ParamName = source
Data = System.Collections.ListDictionaryInternal
In

[2017-07-04 20:20] chibidev commented on #1521
@ajslater which version of Jackett do you have installed? #1504 fixed an issue just like that, and that is only included in the pre-release.
If you have an older version, would you try updating to the latest pre-release version and try again?
Thanks.

[2017-07-04 21:30] ajslater commented on #1521
The latest pre-release does not reproduce this issue. Thanks.

[2017-07-04 21:30] #1521 closed

[2017-07-06 13:58] ploufs commented on #1424
@maxcore c'est maintenant sur invitation.
Donc, si tu veux que je l'ajoute envoi un code d'invitation.

[2017-07-06 14:09] ploufs commented on #1279
Aussi demandé dans : https://github.com/Jackett/Jackett/issues/1435

[2017-07-06 15:53] gprime44 commented on #1435
I'm interested too :-) I can try create the nexttorrent indexer. We just need to create the  yml file ?

[2017-07-06 16:42] noorbertt opened #1522 "Bit-hd cookie"
**Please use the search bar** at the top of the page and make sure you are not creating an already submitted issue. Duplicating issues makes it more difficult for everyone to follow. Your issue may have already been solved in the past as well.

Provide a description of the feature request or bug, the more details the better.
If you are experiencing an issue with a tracker, a **full log must be inc

[2017-07-06 16:44] noorbertt commented on #1522
Hi

I have problem with bit-hdtv.com when I try to add in Jackett I have to write my full cookie header.
For some reason I can not found.
Can I get a little help:) ?

[2017-07-06 18:22] kaso17 commented on #57
Added via c87f1b3949b9500762f0be468b3835e3b19998ec

Thank you @eybox

[2017-07-06 18:22] #57 closed

[2017-07-06 18:26] kaso17 commented on #1435
@gprime44 yes, most trackers can be added/implemented via the yml cardigan definition.

[2017-07-06 18:27] kaso17 commented on #1522
Getting your cookies is explained here: https://github.com/Jackett/Jackett/wiki/Finding-cookies

[2017-07-06 18:31] kaso17 commented on #1518
f21a721ddba95129182bc7d90705d051fc2b1298 should fix it

[2017-07-06 18:31] #1518 closed

[2017-07-06 18:32] kaso17 commented on #1519
should be fixed wia #1520, thank you @lalmanzar

[2017-07-06 18:32] #1519 closed

[2017-07-06 18:36] kaso17 commented on #1515
The article and the format is outdated.
Please provide the mappings in the newer cardigann format.
See https://github.com/Jackett/Jackett/wiki/Definition-format for a few more details (Caps section).

[2017-07-06 19:56] gprime44 commented on #1435
I've implemented nexttorrent but i've not tested now. I'm using Jackett with linuxserver docker image, did you know if i can push the yml inside container ? thx

[2017-07-06 20:52] gprime44 commented on #1435
#1523

[2017-07-06 21:48] ploufs commented on #1279
https://github.com/Jackett/Jackett/pull/1523

[2017-07-07 04:17] natoriousbigg opened #1524 "Blutopia limited results compared to website"
As per the title, when searching using Jackett there are much few results compared to from the website. For example if you search "1080p remux" only 1-2 results compared to hundreds more on the website.

Jackett version:   0.7.1514.0
Mono version (if not using Windows):  not sure, running linuxserver.io docker

-------------------------------

<bountysource-plugin>

---
Want to back this issue? **

[2017-07-07 05:55] gdob opened #1525 "Errors after upgrading Mono to 5.0.1.1"
Jackett version: 0.7.1523.0
Mono version (if not using Windows): 5.0.1.1

-------------------------------

Yesterday I upgraded Mono to 5.0.1.1 and I’m getting the following errors on Jackett when I try to “test” the tracker from Sonarr.

https://pastebin.com/sKTd76iY

Sonarr is reporting the following:

[code]

[code]

[code]

[code]

When I run test from Jackett it reports the following:
[code]

[2017-07-07 09:50] nikogaug commented on #1515
Great thanks kaso17. I will look at this.

[2017-07-07 09:50] #1515 closed

[2017-07-07 12:57] nikogaug opened #1526 "Add new categories to EliteTracker"
Hello !
In [EliteTracker.cs](https://github.com/Jackett/Jackett/blob/master/src/Jackett/Indexers/EliteTracker.cs)
Is it possible to add this categories:

- Between line 74-75
`AddCategoryMapping(84, TorznabCatType.MoviesHD, "4K");`

- Between line 76-77
`AddCategoryMapping(85, TorznabCatType.MoviesHD, "x265");`

Great thanks !

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty o

[2017-07-07 13:08] gprime44 commented on #1435
http://cpabien.xyz is http://www.torrent9.cc/

https://www.omgtorrent.me doesn't have a download link to download torrent file

[2017-07-07 13:56] 0naicuL commented on #1241
Has anyone figured this out for waffles yet?

[2017-07-07 13:57] 0naicuL commented on #1436
Any updates on this/karagarga?

[2017-07-07 17:12] ploufs commented on #1435
https://github.com/Jackett/Jackett/pull/1527 pull request for cpabien.xyz

[2017-07-07 17:47] adamwinn commented on #1524
Please read the limitation from the pull request #1489

[2017-07-07 18:29] super94i opened #1528 "Restore feature OR at least let the user edit the API Key"
Hello,

Both Sonarr and Radarr offer the restore feature, which in case of a new install it will have an old API Key from the previous installation of Jackett. Now I have to edit 20 Indexers in both Sonarr and Radarr to edit the API Key field.

It would be reaaaally nice if we can re-use the old API Key in Jackett. Basically give the option to set our own API Key.

Thanks!

[2017-07-07 18:33] super94i commented on #1528
Never mind. Go to ~/.config/ServerConfig.json
and edit the API.

[2017-07-07 18:34] #1528 closed

[2017-07-07 22:11] Ssnarf opened #1529 "Error displaying cached releases or manual search results (Synology)"
Jackett version:  0.7.1523.0
Mono version (if not using Windows):  Stable 4.6.2.7/08fd525 (Synocommunity)

-------------------------------

Hitting the button to view cached releases or running a manual search gives a red warning message "Request to Jackett server failed" with [log output](https://pastebin.com/ETCxGGJ8) showing an unhandled exception in the JsonWriter.

I suspect an issue with the

[2017-07-07 22:41] famulor opened #1530 "Danishbits not allowing torrents.php anymore"
So danishbits.org came out and said they werent allowing software (sonarr,sickrage,medusa etc) searching through torrents.php anymore since it was spamming the site with +600 searches within a minute from single users. Medusa and sickrage have already fixed it. Is there any plans on jackett doing the same?

-------------------------------

<bountysource-plugin>

---
Want to back this issue? **[Pos

[2017-07-07 22:53] cas27 opened #1531 "RevoluttionTT Search Feed Breaking Upstream Parsers"
Jackett version:  0.7.1499.0
Mono version (if not using Windows):  5.0.1.1

-------------------------------
RevTT is putting an advert in their feed.  This is breaking the spec for the `enclosure url` by omitting the `length="size"`

Below is the offending item:
[code]

[2017-07-08 00:23] adamwinn commented on #1436
I wrote @kaso17 an email for clarification but haven't heard back yet.

[2017-07-08 00:23] adamwinn commented on #1241
I wrote @kaso17 an email for clarification but haven't heard back yet.

[2017-07-08 08:17] adamwinn opened #1532 "InnerException = Newtonsoft.Json.JsonSerializationException: Self referencing loop detected for property 'encoding' with type 'System.Text.Latin1Encoding'."
Jackett version:  Jackett Version 0.7.1523.0
Mono version (if not using Windows):  5.0.1.1

-------------------------------
Trying to search gives the error below:

[code]

[2017-07-08 10:38] barbarass commented on #1529
Same issue here but with the latest mono , Request to Jackett server failed.

[2017-07-08 11:18] hotio commented on #1532
try disabling torrentleech

[2017-07-08 11:55] kaso17 commented on #1531
6c90016c0c4e57d0d18b104e9c537bed66e80139 should fix it

[2017-07-08 11:55] #1531 closed

[2017-07-08 12:43] gprime44 opened #1533 "[REQ] Add YGGTorrent tracker"
Add the french tracker http://yggtorrent.com/dev/

[2017-07-08 17:35] AliveCake opened #1535 "AnimeBytes Configuration Failing"
Jackett version: 0.7.1533.0
Mono version (if not using Windows): 4.8.0

No matter what I do, AnimeBytes fails to configure on Jackett from my seedbox. I've looked at Issue #1054 and updating to the latest build of Jackett doesn't seem to fix it. I've also tried to change my account password to only alphanumerical characters and it still fails. Strangely though, AnimeBytes seems to recognize that I

[2017-07-08 18:53] adamwinn commented on #1532
I got the same error after disabling torrentleech

[2017-07-08 20:26] zjpleau commented on #1529
Having the same issue: Request to Jackett server failed

[2017-07-09 01:04] ctroncoso commented on #1532
Same issue here.
Got the following indexers: Anidex, EZTV, Pretome, RARBAG, TPB, and Torrentleech.

Doing a search (even empty) on each individually, I'm getting the error " Request to Jackett server failed" on: Pretome, Rarbag, and Torrentleech. Anidex, EZTV andt TPB responded ok.

Log file is quite the same as @adamwinn .

`
HandleCore(): unhandled exception: Message = Self referencing loop dete

[2017-07-09 05:23] garfield69 commented on #1532
I have similar issue `Self referencing loop detected` when using RuTracker Indexer with Jackett 0.7.1523.0 on my win7 platform.
I have switched back to version 0.7.1514.0 to avoid problem.
I suspect commit 4a0d2dcc57cc3a51d813277ac55e3f7e18769cbd but have no proof.

[2017-07-09 08:04] Mahmoud87 commented on #1532
Hey folks. I have the same issue it says "Request to Jackett server failed" and all the errors below. I was on Jackett 0.7.1523.0 linux and now upgraded to latest ver  0.7.1533.0 still getting the error.

1
--
HandleCore(): unhandled exception: Message = Self referencing loop detected for property 'encoding' with type 'System.Text.Latin1Encoding'. Path '[2].Origin.Encoding.encoderFallback'.
Data =

[2017-07-09 14:56] raspdealer opened #1537 "New tracker"
To be removed

[2017-07-09 15:01] raspdealer opened #1538 "Can't add HD forever"
There is an undefined error with the last Jackett version.
Someone else have it?

[2017-07-09 15:03] raspdealer commented on #1524
Any one can help on this request ?

[2017-07-09 15:06] #1348 closed

[2017-07-09 15:07] raspdealer commented on #1305
T411 is dead.

[2017-07-09 15:07] #1305 closed

[2017-07-09 15:09] #1407 closed

[2017-07-09 17:13] #1538 closed

[2017-07-09 17:50] JigSawFr commented on #1533
Already added by PR.

[2017-07-09 17:50] #1533 closed

[2017-07-10 00:41] Fiala06 opened #1539 "Manual Search and View Cache Releases - Server Error"
If I try to do either a manual search or just click on View Cache Releases I get:  Request to Jackett server failed

**This is what is in my logs:**
HandleCore(): unhandled exception: Message = Self referencing loop detected for property 'encoding' with type 'System.Text.Latin1Encoding'. Path '[0].Origin.Encoding.encoderFallback'.
Data = System.Collections.ListDictionaryInternal
InnerException =
T

[2017-07-10 03:45] ideaprison commented on #1532
Same error for me. Removing RUtracker did not help.

[2017-07-10 05:59] Mahmoud87 commented on #1539
Hi mate, it seems there is few people are having the same problem. Here is the original issue #1532

[2017-07-10 07:25] quoije commented on #1487
Thanks for helping guys. I restart the server and it worked. Not sure what was the culprit but everything is working now.

[2017-07-10 10:29] gprime44 commented on #1537
I can do it, but i need an invitation code to do it, thx

[2017-07-10 12:51] bidulle95 commented on #1537
ci tu a une invite je veux bien stp ?

[2017-07-10 13:32] brandurFO commented on #1532
I have the same error. Started after updating to version 0.7.1523.0.
Running Jackett on unRAID (https://hub.docker.com/r/linuxserver/jackett/).

[2017-07-10 15:36] Fiala06 commented on #1539
Ah thank you! I did try searching but nothing similar came up. Then again I'm still trying to get use to github.

[2017-07-10 17:27] Miloune opened #1542 "New tracker - YggTorrent"
Hi,

It will be great if someone can add the new French tracker YggTorrent:
http://yggtorrent.com

No invitation needed.

Thanks :)

PS: Apparently already added in pull request: https://github.com/Jackett/Jackett/pull/1536

[2017-07-10 17:53] bertrandgressier commented on #1542
We need just waiting the next release of this amazing tool, this PR has been accepted yet

[2017-07-10 19:36] jmlavigne commented on #1532
Experiencing the same issue here. The log shows that updates are happening, and Sonarr and Radarr are getting the releases fine through the torznab services, but if I try to search or view cached releases on the jackett console, I receive this error. It was working fine a week ago.

Jacket v0.7.1523.0 on Ubuntu 16.04.2 LTS Server

HandleCore(): unhandled exception: Message = Self referencing loop

[2017-07-10 20:13] JigSawFr commented on #1542
Please take a look at recent PR/ISSUES before submitting new issue.
Thank you.

[2017-07-10 20:13] #1542 closed

[2017-07-10 20:52] chibidev commented on #1532
Thanks everyone for reporting the issue. The torznab/potato API works fine, only the manual search is affected. Do not change your configuration, it will be fixed with #1543.

[2017-07-10 20:52] chibidev commented on #1539
Thanks @Fiala06, it will be fixed by #1543

[2017-07-10 20:53] chibidev commented on #1529
Thank you for reporting. This is the same issue as in #1539 and #1532. Please note, that #1543 will fix this.

[2017-07-11 16:27] neuman1812 opened #1546 "Demonoid not working"
Trying to add Demonoid to Jackett.  I verified the UN/PW on the site is correct.

Jackett version:
Jackett Version 0.7.1533.0

Mono version (if not using Windows):
Mono JIT compiler version 5.0.1.1 (2017-02/5077205 Thu May 25 10:07:22 UTC 2017)
-------------------------------
2017-07-11 12:24:35.9396 Error got NotImplemented/InternalServerError
2017-07-11 12:24:35.9410 Error request.Method: POST
2

[2017-07-11 20:32] #1532 closed

[2017-07-11 20:32] #1539 closed

[2017-07-11 21:06] garfield69 commented on #1532
Confirming that v0.7.1557 resolved this issue for me. Thanks you @chibidev  <3

[2017-07-11 22:07] chibidev opened #1548 "[DevQ] Redirects in HttpWebClient"
So today I've found this little diamond:
`AllowAutoRedirect = false, // Do not use this - Bugs ahoy! Lost cookies and more.`

Is there someone who can elaborate?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47141052-devq-redirects-in-httpwebclient?utm_campaign=plugin&utm_content=tracker%2F25207257&utm_medium=issues&utm_source=git

[2017-07-12 01:54] seanvree commented on #1532
This isn't working for me.  I upgraded to v0.7.1557 via the windows installer to fix this issue, but when I check for updates via the web UI, it says there's a new version installed, and then installs Jackett Version 0.7.1533.0.

Not sure if this is a separate issue?

[2017-07-12 04:45] kaso17 commented on #1548
I can't. Probably only @zone117x can.
I assume the C# HttpClient redirect handling is/was broken (in some) cases.

[2017-07-12 04:46] kaso17 commented on #1532
1557 is a pre-release, you've to enable the corresponding "update to pre-releases" checkbox.

[2017-07-12 07:05] testarea1 opened #1550 "Unable to Modify or Add BIT-HDTV Indexer (SSL/Handshake Issue?)"
Jackett version:  0.7.1557.0
Mono version (if not using Windows):  5.0.1.1

-------------------------------
Unable to modify or edit BIT-HDTV indexer now. The popup configuration form no longer loads and just receive "error has occurred sending your request". Tried to delete and add it back, but no configuration page. Looks like some error with boringssl. This is the only indexer giving an issue c

[2017-07-12 07:06] Mahmoud87 commented on #1532
Cheers Kaso I have tried this after ticking the "update to pre-releases" box, and it's saying "Checked for a updated release but none found" in the logs.

[2017-07-12 07:28] mastergbe commented on #1459
Hi,
I have the exact same issue as described here & in #1311 .
Similarly to 1311 I am also on a seedbox, so limited potential to play around with the reverse proxy settings.

Is there any recommendation how to configure the reverse proxy? If so, I can open ticket with my seedbox provider to validate and then we can update it in the documentation for future reference.
Thx

[2017-07-12 12:22] Mahmoud87 commented on #1546
Hey mate, I have just tried and it works fine for me, it took so long tho to load the page via browser though. I am running the same ver. of Jackett.

`

When | Level | Message
-- | -- | --
Jul 12, 2017 09:49:14 PM | Info | Found 50 releases from Demonoid
Jul 12, 2017 09:49:08 PM | Info | Found 50 releases from Demonoid

`

[2017-07-12 12:40] Khogniak commented on #1417
Hi @nikogaug ,
I'm interested in that kind of tracker and I can make it work with Jackett.
Just need an invite to do that.

[2017-07-12 12:49] AliveCake commented on #1535
Quote from a staff member at AB

[2017-07-12 13:00] bidulle95 opened #1551 "[REQ] new french tracker (le saloon)"
http://lesaloon.co/
french tracker
private tacker

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47181077-req-new-french-tracker-le-saloon?utm_campaign=plugin&utm_content=tracker%2F25207257&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=trac

[2017-07-12 13:39] nikogaug commented on #1417
Hi Khogniak.
Thank you. The site got new modification and the forum isn't ready. I need it to request an activation of a invitation.
Another thing is that I don't see any work of you on the Jackett project, and I have to be sure that you work on it before giving an invitation.
I hope you will understand my precautions.

[2017-07-12 13:43] Khogniak commented on #1417
No problem, I understand.
Please have a look here : https://github.com/Jackett/Jackett/pull/1536
It must be trackers you had heard of

[2017-07-12 14:05] nikogaug commented on #1417
Ok thanks. And sorry for that. I will ask for an invite.

[2017-07-12 14:09] tsoernes opened #1552 "Can't add IPTorrents"
Jackett version:  Jackett Version 0.7.1533.0
Mono version (if not using Windows):  mono-basic-4.6-3.fc26.x86_64

-------------------------------
After clicking the + button on IPTorrents i get a notification:
 Error: An error occurred while sending the request

The logs say
[code]

[2017-07-12 14:39] nagetech commented on #1546
I am having the same problem too, is it just a bug that has to be fixed in the next version?

[2017-07-12 15:03] hugolapointe opened #1553 "YggTorrent"
In the Readme file, it said that YggTorrent is now supported. I also saw the commit. But I can't figure how to add it. I did update my version, but still, I only see the old T411 indexer. Can you help me?

[2017-07-12 15:17] ploufs commented on #1553
Available in pre-release v0.7.1557
https://github.com/Jackett/Jackett/releases

[2017-07-12 15:31] hugolapointe commented on #1553
I'm using the image of jackett on docker. Which tag can I use to pull the pre-release version?

[2017-07-12 16:11] neuman1812 commented on #1546
Working now.  Glitch in the network perhaps?

[2017-07-12 17:49] Guizzoni opened #1554 "Help creating new definition"
Hi, i'm trying to create a new definition for a Brazilian tracker called "Manicomio Share".
I'm able to properly configure the categories and Jackett is even requesting the correct search URL, but i'm having some trouble in the "selector" part.

Can someone give me a hand writing the code to show the results in Jackett?
This the HTML response from the search (results start on line 595): [https://p

[2017-07-12 19:06] Guizzoni commented on #1554
EDIT: Fixed by using "selector: td:nth-child" instead of "selector: a[href^="torrents.php?id="]"

[2017-07-12 19:06] #1554 closed

[2017-07-12 21:25] primaeval opened #1555 "Windows: request to Jackett server failed"
I tried a search on a local machine and and a remote machine.
Search and View Cached Releases fail with "request to Jackett server failed".
[log.txt](https://github.com/Jackett/Jackett/files/1143355/log.txt)

[2017-07-12 23:33] lawrenceadams commented on #1083
This would be really cool - is there any news regarding this?

[2017-07-13 01:00] PandasCoder opened #1556 "[Request] Frozen-Layer And Union Fansub"
Frozen-Layer is one of the most supported tracker for anime in spanish and Union Fansub is the another tracker.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47182910-request-add-frozen-layer-and-union-fansub?utm_campaign=plugin&utm_content=tracker%2F25207257&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysou

[2017-07-13 05:28] kaso17 commented on #1554
The following selectors would work too:
```a[href^="https://www.manicomio-share.com/download.php?id="]```

Or this one (more flexible in case the URL changes):
```a[href*="/download.php?id="]```

[2017-07-13 06:43] julio6114 opened #1557 "Don't show cpasbien tracker"
Hi eveybody,

I install the new version of Jackett and I don't see cpasbien tracker. Someone can help me ?

Thank you

Jackett version:  Jackett Version 0.7.418.0
Mono version (if not using Windows):  Mono JIT compiler version 4.2.3 (Stable 4.2.3.4/832de4b Wed Mar 16 13:19:08 UTC 2016)

-------------------------------

[2017-07-13 06:46] #1557 closed

[2017-07-13 11:20] mastergbe commented on #1459
Could it be due to this blackhole rule? src/Jackett/Controllers/AdminController.cs
` result.BlackholeLink = serverService.ConvertToProxyLink(link, serverUrl, result.TrackerId, "bh", string.Empty);`

Comparing it to the download rule:
` result.Link = serverService.ConvertToProxyLink(link, serverUrl, result.TrackerId, "dl", result.Title + ".torrent");`

Seems one is adding the result, the other is n

[2017-07-13 11:33] Guizzoni commented on #1554
Thanks kaso17!

[2017-07-13 11:58] fopaldir commented on #1537
Bonjour, interréssé par une invit également :)

[2017-07-13 11:59] fopaldir commented on #1551
Bonjour, une invitation est-elle possible ? :-)

[2017-07-13 12:09] neuman1812 opened #1559 "[request] new tracker www.torrentdownloads.me"
https://www.torrentdownloads.me/

Good little site,  open to the public.
-------------------------------

[2017-07-13 13:34] chibidev commented on #1555
@primaeval Thank you for reporting. Please know, that this was already fixed by #1543 and is available in the latest pre-release version (0.7.1557). Please update to that version and report whether the issue persists.

Thanks.

[2017-07-13 14:21] franco640 opened #1560 "Can't download from https://github.com/Jackett/Jackett/releases. Trying to download Jackett.Binaries.Mono.tar.gz but get error from amazon."
**Please use the search bar** at the top of the page and make sure you are not creating an already submitted issue. Duplicating issues makes it more difficult for everyone to follow. Your issue may have already been solved in the past as well.

Provide a description of the feature request or bug, the more details the better.
If you are experiencing an issue with a tracker, a **full log must be inc

[2017-07-13 15:14] primaeval commented on #1555
It did fix it. Thanks very much.
I had to run JackettUpdater.exe manually as the web interface update also wouldn't work due to the bug.

[2017-07-13 20:54] ciroiriarte commented on #1307
Apparently not working on 0.7.1533.0, tested on Linux (mono 4.6.1)

[2017-07-14 00:39] Mahmoud87 commented on #1555
@chibidev I am on Linux guys and tried to update but always return with "Checked for updated release but none found", eventhough the "update to pre-released" box is ticked. Has anyone had this problem?

[2017-07-14 06:01] lsaadeh1 commented on #1476
Does @kaso17 fix apply to torrentday.com? or just torrentday.it?
Im struggling to connect to torrentday.com which has more search results then torrentday.it

[2017-07-14 06:25] kaso17 commented on #1459
I still don't understand why the empty file argument is causing problems but 6e2087d5dcb6c48b01ddf22f214ff53781f0aa74 is an attempt to fix it (file argument is set and used for the filename generation). Please try v0.7.1578 (pre release)

[2017-07-14 06:28] kaso17 commented on #1476
@Gothamen according to th exception it looks more like an issue with the UTorrent/Sonarr connection.
@lsaadeh1 https://www.torrentday.com/ is working fine for me, please post an enhanced log

[2017-07-14 07:50] mastergbe commented on #1459
hi, I have updated to the version 0.7.1578 and see that the blackhole url contains the file.torrent at the end now.
Still when clicking the link: " Request to Jackett server failed"
Manually copying the url and pasting it into a different tab, is successful though...

[2017-07-14 11:50] kaso17 commented on #1459
@mastergbe Can you please check if the actual blackhole download works (besides the message).
#1484 might be the identical issue (The reverse proxy doesn't forward the answer from jackett).
In that case I would be interested in debug logs of the reverse proxy. Maybe some request/response headers are missing/wrong.

[2017-07-14 12:59] mastergbe commented on #1459
No it is not downloading the file to the blackhole directory. So not exactly the same as 1484.
Unfortunately it is running on a seedbox, so I don't have access to the reverse proxy logs...

[2017-07-14 13:11] kaso17 commented on #1459
Can you enable enhanced logging, click on save and retry and chekc the log (view log) then?
Or ask the seedbox operator to help?

[2017-07-14 13:14] #1560 closed

[2017-07-14 15:44] mastergbe commented on #1459
I have enabled enhanced logging, hope it helps.
`2017-07-14 17:29:22.2232 Info ApiControllerActionInvoker InvokeActionAsync Action='Search(value=Jackett.Models.AdminSearch)'
2017-07-14 17:29:22.2232 Info ReflectedHttpActionDescriptor ExecuteAsync Invoking action 'Search(value=Jackett.Models.AdminSearch)'
2017-07-14 17:29:22.2260 Debug IWebClient.GetString(Url:https://iptorrents.com/t?q=test)
2017-

[2017-07-14 16:05] Guizzoni commented on #1559
Added on PR #1563

[2017-07-14 20:07] chibidev commented on #1529
@Ssnarf @barbarass @zjpleau please update to the pre-release version and check whether it's working.

[2017-07-14 22:33] zjpleau commented on #1529
I'm actually running the docker container from linuxserver/docker-jackett and it doesn't look like pre-releases are supported

[2017-07-14 22:43] chibidev commented on #1529
Running the same, and pre-release working just fine. You have to enable via the user interface and check for updates after.

[2017-07-15 01:44] testarea1 commented on #1550
Issue was with https certs on site, they've fixed it on their end.

[2017-07-15 01:44] #1550 closed

[2017-07-15 04:26] lsaadeh1 commented on #1476
@kaso17 the logs generated in /opt/jackett are 4k+ lines longs, are these the logs you are after?
Also just because I think I might be adding torrentday.com incorrectly I'll tell you what I've done.
Currently I've got into the torrentday.json file and replace torrentday.it > torrentday.com.. is this correct?

[2017-07-15 21:08] OasisFounder opened #1564 "[request] Please add BTDB to list"
http://btdb.to/

This is a great fallback torrent site to retrieve hard to find items and all torrents in general. Its open/public - I tried creating a scraper file but failed.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47272077-request-please-add-btdb-to-list?utm_campaign=plugin&utm_content=tracker%2F25207257&utm_medium=issues

[2017-07-15 23:27] skrew opened #1565 "[REQ] Add Downloadville tracker"
Please add [http://downloadville.net](http://downloadville.net)

This tracker will be invite only soon and it's in free leech mode until 22 July, so it's time for adding and testing it easily.

Thanks.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47274542-req-add-downloadville-tracker?utm_campaign=plugin&utm_content=tracker%2F252

[2017-07-16 01:53] jonesb63 opened #1566 "Is there anyway to manually view seasons on sonarr using jackett?"
Just wondering if there are anyway to view full seasons of a show when attempting to do a manual search from sonarr using jackett? If not, this would be a great feature.  For example, for BTN when you search any episode, the full season packs appear as well.

[2017-07-16 07:17] that1guy opened #1567 "[request] Add hd-bits.ro"
Would love to see http://hd-bits.ro/ on here.  Happy to pass along invite if needed.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47279819-request-add-hd-bits-ro?utm_campaign=plugin&utm_content=tracker%2F25207257&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaig

[2017-07-16 11:16] chibidev commented on #1559
Merged #1563, thank you @Guizzoni for the contribution.

[2017-07-16 11:30] chibidev commented on #1535
@AliveCake can't check it out without an invite, but v0.7.1581 should fix it. Can you give it a go?

[2017-07-16 13:25] rjch-au opened #1568 "Unable to add The Empire to Jackett"
When trying to add The Empire to Jackett, I get the message "Configuration failed: Login Failed, got redirected".  An enhanced log (with some information masked) shows that a login was successful.  The basic log was showing an entry "Error CardigannIndexer (theempire): Found captcha during automatic login, aborting".

[log.txt](https://github.com/Jackett/Jackett/files/1151041/log.txt)

Jackett ver

[2017-07-17 02:12] lsaadeh1 commented on #1476
For those who come across this looking for a solution. I got it to work for me by changing torrentday.it > https://www.torrentday.com/browse.php/ within  ~/.config/Jackett/Indexers/torrentday.json (remember to stop the service before you make changes) and then using the cookie which is on the site https://www.torrentday.com/browse.php/ (not https://www.torrentday.com/ as I was doing before)

[2017-07-17 07:17] qtv opened #1570 "M-Team search not returning correct results"
Jackett version: Jackett Version 0.7.1578.0

Search nearly anything in M-team and you won't get the results that the log has or the site search has. "Lego Batman", for example, turns up the movie on M-team and in the log but Jackett GUI only shows two things (which are dead), none of which are the movie.

I would love to post the log if I could removed all personal details, but I'm getting a lot o

[2017-07-17 11:41] hbooo opened #1571 "Missing language in hdf.world / HD-Forever results"
Jackett Version 0.7.1581.0

Hello,

I have a problem with the new tracker : hdf.world

The language isn't retrieved for the releases so there is no way to differentiate a release in french to another in english with subtitles.

![image](https://user-images.githubusercontent.com/242125/28266516-8be6ce3e-6af5-11e7-9322-436af7d42090.png)

First release have french audio, second release has french sub

[2017-07-17 12:58] nikogaug commented on #1417
Hello Khogniak. the rules for invitations have change. I have to become an uploader before I can send my invitations. Sorry for that. I will post e message here when I were an uploader.

[2017-07-17 13:32] petermgates commented on #1529
Confirmed working as expected on 0.7.1581.0
Thanks.

[2017-07-17 13:35] Ssnarf commented on #1529
Confirmed working as expected on 0.7.1581.0.
Thanks.

[2017-07-17 13:35] #1529 closed

[2017-07-17 18:00] chibidev commented on #1555
@Mahmoud87 would you please check "Enhanced logging" on the web UI, reproduce the issue and post your log file somewhere? It would help us track down the issue.

[2017-07-17 21:46] Mahmoud87 commented on #1555
Hi @chibidev here is the log mate, ticked the Enhanced logging box, also the upgrade to the pre-release box.

`

When | Level | Message
-- | -- | --
Jul 18, 2017 07:14:55 AM | Info | Checked for a updated release but none was found.
Jul 18, 2017 07:14:45 AM | Error | HandleCore(): unhandled exception: Message = Self referencing loop detected for property 'encoding' with type 'System.Text.Latin1Enc

[2017-07-18 06:48] mat314 opened #1572 "After changing port Error is apearing"
Hello,

I'm new to this Couchpotato/Radarr/Jackett scene. Wanted to automate downloading process via TPB. I downloaded Jackett for Windows and Installed it Via windows installer. Everything worked fine. I added TPB as provider and wanted to add it in CouchPotato unfortunately it wasn't working and I changed the port in Jackett from 9117 to 8080 and I think that by mistake I added additional 0 to t

[2017-07-18 08:19] Ozzah opened #1573 "No results with search API"
Jackett version: 0.7.1533.0 on Windows 10

CouchPotato has not found any matches in many weeks. After further investigation:

http://localhost:9117/potato/iptorrents?imdbid=tt1628841&user=&passkey=xxx (the URL CouchPotato calls)
gives
`{
"results": [],
"total_results": 0
}`

Same story for http://localhost:9117/potato/ncore?imdbid=tt1628841&user=&passkey=xxx as well as all my other configured trac

[2017-07-18 08:55] gprime44 opened #1574 "YGGTorrent indexer doesn't work with Radarr"
YGGTorrent Indexer doesn't work with fine with Radarr.

https://github.com/Radarr/Radarr/issues/1811

We need to move movies year like torrent9 indexer I think.

I'll try some tests.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47347031-yggtorrent-indexer-doesn-t-work-with-radarr?utm_campaign=plugin&utm_content=tracker%2F25207257

[2017-07-18 15:09] #1537 closed

[2017-07-19 09:50] roboticsound opened #1575 "ZeroNet indexer definitions"
I am trying to write a definition for ZeroNet sites, however, Jackett does not seem to recognise URLs in the format e.g. http://127.0.0.1:43110/zerotorrent.bit

I am receiving the below error:
<code>
07-19 10:45:46 Error Error while loading Cardigann definitions: "http://127.0.0.1:43110/zerotorrent.bit/" is not a valid URL. System.Exception: "http://127.0.0.1:43110/zerotorrent.bit/" is not a valid

[2017-07-19 17:26] chibidev commented on #1575
@roboticsound It was a malformed URL check that has been replaced by 0d25ed2. Please check again.

[2017-07-19 17:32] chibidev commented on #1573
@Ozzah apparently Jackett did not enable searching for potato results with only an IMDB id. d90a261 should enable that, please give it a try

[2017-07-19 17:46] chibidev commented on #1553
@hugolapointe you can use the default tag (latest), pre-release need to be enabled on the UI once you have Jackett running.

[2017-07-19 17:50] chibidev commented on #1552
@tsoernes It seems that there was an issue with the certificate verification, however it is unclear whether it is a local or global issue. Which version of Jackett do you have? Which OS do you run it on? Do you have your root certificates configured?

[2017-07-19 19:58] roboticsound commented on #1575
@chibidev OK thanks, yeah I will test but can you point me in the right direction on how to compile Jackett on linux?

[2017-07-19 20:05] roboticsound commented on #1575
OK confirmed, this is now loading correctly.

[2017-07-19 20:05] #1575 closed

[2017-07-19 22:07] tsoernes commented on #1552
I'm on Jackett Version 0.7.1533.0, running on Fedora 26 x64. I don't know about the certificates, I haven't done anything about them. When I installed Jackett on Fedora 25 a year ago or so I didn't need to to anything in particular to use IPTorrents, so I assumed the default configuration was OK.

[2017-07-20 09:52] ThatFluxNerd opened #1576 "Adding multiple trackers at once"
See title. Would that be possible? Or is it already and I'm just an idiot?
And it would also be nice if Jackett had an option to export the tracker list to Sonarr or other downloaders.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47425498-adding-multiple-trackers-at-once?utm_campaign=plugin&utm_content=tracker%2F25207257&utm_medi

[2017-07-20 10:13] Riz0 opened #1577 "Pass parameters in http headers?"
Hi guys,

I enjoy using the manual search of Jackett and would like to pass the search query parameters in the http request, but I can't seem to get it working properly as no page resolves. I've tried the following after capturing the post parameters, but no luck:

http://127.0.0.1:9117/Admin/search%20Query=test&Category=&Tracker=

Any advice? Thanks in advance.

-------------------------------

[2017-07-20 11:40] chibidev commented on #1577
@Riz0 are you trying something similar to what #1345 suggests?

[2017-07-20 12:15] chibidev commented on #1576
@ThatFluxNerd Can you describe what you're trying to do? You can configure as many trackers as you want in Jackett.
Also, although it is still under development, you can use a special API endpoint that searches all trackers. Just copy the API URL of any tracker and replace the tracker's name with all. E.g. for me it looks like this: ```http://localhost:9117/torznab/all```

[2017-07-20 12:17] chibidev commented on #1566
@jonesb63 although I'm not an expert on the Newznab specification, however I think it is up to Sonarr to handle this. Jackett supports searching for whole seasons, you just have to leave the episode query parameter unspecified.
@kaso17 and @flightlevel If you can, weigh in.

[2017-07-20 12:32] chibidev commented on #1555
@Mahmoud87 sorry for asking a dumb question, but did you press "Apply server settings" button after ticking both checkboxes? The log still contains only Info level messages, so I'm just wondering...

[2017-07-20 22:16] chibidev commented on #1546
@nagetech can you confirm it is working for you as well?

[2017-07-20 22:23] nagetech commented on #1546
Demenoid is actually working for me now, its KAT that isn't :(

[2017-07-20 22:33] chibidev commented on #1493
@kaso17 @flightlevel I think we should remove the yml based implementation and use one of these instead. What do you think?

[2017-07-20 22:36] ewhal commented on #1493
We also have a json api if that's preferable.
https://dev.pantsu.cat/apidoc

[2017-07-20 22:41] chibidev commented on #1546
@nagetech I'm closing this. Can you open another issue/search for an existing one about KAT? Don't forget to post your enhanced logs so that we have more information.
Thanks!

[2017-07-20 22:41] #1546 closed

[2017-07-20 22:43] chibidev commented on #1505
@flightlevel @kaso17 either one of you guys have access to Archetorrents?

[2017-07-20 22:50] chibidev commented on #1396
@zductiv are you still facing the issue? Can you test it again with the latest pre-release? Thanks.

[2017-07-21 00:06] chibidev opened #1578 "[DevQ] How to test private trackers?"
Since almost 90% of the supported trackers are private I think we need something to be able to test them. Most of them require an invitation that probably cannot be shared and they often need constant usage (to prevent auto purging; I'm not talking about just searching and logging into the site, but actually downloading as well). There are numerous issues posted here that deal with private tracker

[2017-07-21 00:10] chibidev commented on #357
if I understand correctly this is already fixed by #369

[2017-07-21 00:10] #357 closed

[2017-07-21 00:40] Riz0 commented on #1577
@chibidev Yes. I'm surprised I didn't find it myself when searching open issues, sorry. Would love to see this feature implemented.

[2017-07-21 01:26] Ozzah commented on #1573
Thanks, this appears to have fixed the problem.

[2017-07-21 01:26] #1573 closed

[2017-07-21 02:03] nayab9 commented on #1145
Hi! I installed radarr yesterday and noticed a lack of yts.ag, so I added! Pull request here:

https://github.com/Jackett/Jackett/pull/1579

[2017-07-21 06:22] Dhs92 commented on #1200
Still receiving error. Is this on mono's end?

[2017-07-21 06:49] Dhs92 commented on #1535
Does not work on my end, using 588

[2017-07-21 07:44] nikogaug commented on #1505
To the website yes. With Jackett no.

[2017-07-21 08:36] neuman1812 opened #1580 "SSL/Cert Problems -I think I borked my install"
Jackett version:
Jackett Version 0.7.1588.0
Mono version (if not using Windows):
Mono JIT compiler version 5.0.1.1 (2017-02/5077205 Thu May 25 10:07:22 UTC 2017)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
	TLS:           __thread
	SIGSEGV:       normal
	Notifications: epoll
	Architecture:  armel,vfp+hard
	Disabled:      none
	Misc:          softdebug
	L

[2017-07-21 08:42] nikogaug commented on #1505
Sorry I try to search by jackett now, and it works.

[2017-07-21 12:26] zductiv commented on #1396
No longer getting the issue on pre-release, though I haven't attempted on other releases since I posted the issue either.

[2017-07-21 12:26] #1396 closed

[2017-07-21 12:44] nikogaug commented on #1565
Here is the definitions:
`- {id: 2030, cat: Movies/SD, desc: "DVDRIP"}
- {id: 2000, cat: Movies, desc: "MKV"}
- {id: 2040, cat: Movies/HD, desc: "HD"}
- {id: 2040, cat: Movies/HD, desc: "4K"}
- {id: 18, cat: Movies/SD, desc: "3D"}
- {id: 2000, cat: Movies, desc: "MP4"}
- {id: 2030, cat: Movies/SD, desc: "MPG"}
- {id: 2060, cat: Movies/BluRay, desc: "ISO"}
- {id: 3010, cat: Audio/MP3, desc: "MP3"}

[2017-07-21 14:16] nikogaug commented on #1565
Header and login( not sure for that) :
`Header`
``
`  site: downloadville`
`  name: DownloadVille`
`  language: fr-fr`
`  type: private # public for now (new tracker)`
`  encoding: UTF-8`
`  links: # List of known domains (the first one is the default, should end with /)`
`    - http://downloadville.net`
`  certificates: # None`
`  `
`    `
`  modes:`
`search: [q]`
`tv-search: [q]`
`movie-search:

[2017-07-21 14:25] hotio opened #1581 "AggregateSearch from Radarr (torznab) fails"
Is it a requirement to use an omdb api key?

Jackett version:  0.7.1591.0
Mono version (if not using Windows):  5.0.1.1

-------------------------------

[code]

[code]

[2017-07-21 14:42] chibidev commented on #1581
@hotio it's not a requirement, it will provide additional results if you have an OMDB API key. If you leave it blank, it should work without an issue. It seems that you have OMDB key set, however it might be invalid. Is this a correct assumption? Can you provide information whether you've configured it or not? Thank you.

[2017-07-21 14:43] hotio commented on #1581
I do not have an omdb key set.

[2017-07-21 16:04] chibidev commented on #1581
@hotio There was an issue with the OMDB api key handling that should be resolved by bcc1e5f. Please update to the latest version and see whether it's working for you.

[2017-07-21 16:45] hotio commented on #1581
FIXED

I'm guessing that for non-imdb supported trackers the omdb api key is required? Or Radarr should search by title instead?

[2017-07-21 19:51] tsoernes commented on #1552
There's no ca-certificates-mono package on Fedora, and the ca-certificates package is irrelevant.

Instead I followed the OSX installation steps:
[code]
Success!

[2017-07-21 19:51] #1552 closed

[2017-07-21 20:51] chibidev commented on #1581
@hotio Aggregate supports imdb searching if there is at least one tracker that supports imdb search. If you do not have an api key for OMDB, the aggregate will only search those that support imdb search. If you have an OMDB key, it tries to create a fallback search as well and search those that do not support imdb by default. It's not mandatory.
As far as I can tell Radarr queries whether the inde

[2017-07-21 21:37] #1553 closed

[2017-07-21 22:02] #1581 closed

[2017-07-21 22:22] hotio commented on #1581
Yeah just as I figured...

When mixing imdb enabled trackers & non-imdb trackers for the aggregate search, only the imdb enabled ones return results to radarr....

[2017-07-21 23:53] skrew commented on #1565
I have to learn how to make (or at least how to fix) definitions !

BTW thanks @nikogaug

[2017-07-22 01:49] nosmokingbandit opened #1582 "Search query formatted with "%2b" is improperly parsed"
Windows 10 tested by me, but verified on linux (unknown mono version) by others.

When searching an indexer with a query string such as `q=this%2bis%2ba%2bdownload`, Jackett parses this as `thisisadownload` rather than `this+is+a+download`.

Percent-encoding works for spaces. `q=this%20is%20a%20download` is read as `this is a download`

<bountysource-plugin>

---
Want to back this issue? **[Post a

[2017-07-22 11:54] Firelfy opened #1583 "PrivateHD Sonarr download not working"
I am not able to download torrents via Sonarr from PrivateHD through Jackett. Downloading within Jackett works fine.

Here is the log in Sonarr:

And here is a pastebin of the Jackett logs:
[https://pastebin.com/5iqxQXpQ](url)

Thanks.

[2017-07-22 14:43] Tonetete commented on #1556
Hopefully we could get this one soon, looking forward to this feature!

[2017-07-22 15:16] #1583 closed

[2017-07-22 15:17] Firelfy commented on #1583
It appears the issue must be with sonarr, if things change I'll see if this needs reopening.

[2017-07-22 16:59] ThatFluxNerd commented on #1576
@chibidev I just want a checkbox next to trackers in Add Tracker menu so I can check them, press "Add selected" and have them added. As for the second part, I'm imagining something like selecting a tracker, checking a box with categories you want searched by, let's say, Sonarr, save to a JSON (or any other file), that can be then loaded by Sonarr to automatically add that tracker to the indexer li

[2017-07-22 21:50] Mahmoud87 commented on #1555
@chibidev Stupidly enough from me I didn't, how sad!! Lol. Cheers man I tried it after applying the server settings and it worked perfectly fine upgraded to the beta ver. Also the manual search works fine. Thanks man and sorry for this mistake 👍

[2017-07-22 23:14] #1555 closed

[2017-07-22 23:45] chibidev commented on #1576
@ThatFluxNerd thank you. May I ask why you need the ability to quickly add multiple trackers with the checkboxes? Don't get me wrong, I'm just curious about what you're trying to achieve and what your use-case is really about.

[2017-07-23 00:10] chibidev commented on #1577
@Riz0 moving the discussion to the other thread, I'm closing this down.

[2017-07-23 00:10] #1577 closed

[2017-07-23 00:18] chibidev commented on #1345
@raspdealer @Riz0 A minimal version is now available in v0.7.1609. You can launch a search by navigating to ```/Admin/Dashboard#search=whatever%20you%20want```

[2017-07-23 00:19] chibidev commented on #1505
@nikogaug Perfect. I'm closing this up.

[2017-07-23 00:19] #1505 closed

[2017-07-23 01:42] flightlevel commented on #1580
Have you tried this ? https://github.com/Jackett/Jackett/issues/1113#issuecomment-302657339

Also try

[code]

If it still happens run `mono --debug JackettConsole.exe -t -l` and post the FULL log, that snippet is pretty useless

[2017-07-23 01:52] flightlevel commented on #1200
This works perfectly for me, just tried it
@xtrmr Are you changing the url (Jun 08, 2017 05:26:16 PM Debug IWebClient.GetString(Url:https://www.linkomanija.net/takelogin.php))

@jazzgott @Dhs92 Please provide FULL log using `mono --debug JackettConsole.exe -t -l`

[2017-07-23 02:01] flightlevel commented on #1566
@chibidev comments are correct. Jackett does support searching for a season and you can try this via manual search in Jackett
Jackett is just an API that other programs consume eg Sonarr
We don't control what they search for, so this be more a question for Sonarr

Might be something useful in here https://forums.sonarr.tv/search?q=season
Will say that from Sonnarr point of view season searching ju

[2017-07-23 02:01] #1566 closed

[2017-07-23 02:07] Dhs92 commented on #1200
@flightlevel I managed to fix the issue somehow, don't know how to recreate.

[2017-07-23 02:08] flightlevel commented on #1200
Even better if its working!

[2017-07-23 08:58] ThatFluxNerd commented on #1576
I frequently distrohop, it would make setting up Jackett easier.

[2017-07-23 11:09] chibidev commented on #1576
@ThatFluxNerd Understandable. However for me it seems like Jackett's configuration should be portable, so once you have Jackett and the Indexers configured, you could take the configuration directory, distrohop, install Jackett and have Jackett completely configured the same way. @flightlevel @kaso17 what do you guys think?

[2017-07-23 16:42] jazzgott commented on #1200
@Dhs92 How did you fix it, mate?

@flightlevel please find the log attached

[jackett.txt](https://github.com/Jackett/Jackett/files/1168212/jackett.txt)

[2017-07-23 21:46] DrSeussFreak opened #1585 "Demonoid has new URL"
Demonoid needs to be updated to demonoid.click

[2017-07-24 04:43] garfield69 commented on #1585
As far as I can tell (from the [official twitter a/c](https://twitter.com/DemonoidP2P), `https://www.demonoid.pw/` is still the primary url and works fine for me.
If for some reason you need to change it, I would suggest you open your Jackett Demonoid indexer entry (by clicking on the wrench) and over-type the sitelink address with the one that works for you.
IMO there is no need to make the *.cli

[2017-07-24 09:00] ilrale commented on #167
Hi could it possible to got an invite ?
ilrale988 -at- gmail.com

Thx

[2017-07-24 09:51] nikogaug commented on #1565
You're welcome.
You have all informations here: [https://github.com/Jackett/Jackett/wiki/Definition-format](https://github.com/Jackett/Jackett/wiki/Definition-format) at Caps section for the definitions.

[2017-07-24 16:18] DrSeussFreak commented on #1585
That did the trick for me

[2017-07-24 16:18] #1585 closed

[2017-07-24 21:38] Martins2759 commented on #1083
I would also like to show my interest in this.
@atwright147 suggestion works for those of us in countries where the sites are blocked, but is definately not optimal.

[2017-07-25 10:49] bubez81 opened #1588 "HDTorrent.it no result found"
I recieve this error with HDTorrent.it: Test failed for hdtorrentsit: Found no results while trying to browse this tracker
 log:

[error.txt](https://github.com/Jackett/Jackett/files/1172877/error.txt)

[2017-07-25 11:03] uskyrt commented on #1191
+ 1

`Unhandled exception: Message = Object reference not set to an instance of an object
Data = System.Collections.ListDictionaryInternal
InnerException =
TargetSite = System.Net.IPEndPoint get_RemoteEndPoint()
StackTrace =   at System.Net.HttpConnection.get_RemoteEndPoint () [0x00000] in <5071a6e4a4564e19a2eda0f53e42f9bd>:0
  at System.Net.HttpListenerRequest.get_RemoteEndPoint () [0x0000b] in <

[2017-07-25 11:12] bubez81 commented on #1535
same problem here

[2017-07-25 13:42] bubez81 opened #1589 "katcr.co log in with passkey work for a short period of time"
jackett version 0.7.1594.0 it works for two or three times then i receive this message:
Login failed, got redirected

[2017-07-25 13:54] thebluepotato commented on #1589
Thanks for opening the issue. From what I could gather, KAT has now implemented a redirect from the torrent login page to the community login page. The current workaround is to log into the community with your browser (https://katcr.co/show/community/index.php?action=login). Then try the login again with Jackett and it should work.
The more long term solutions that I or someone else will have to i

[2017-07-25 15:29] hbooo commented on #1304
All categories before (4000) returns 0 results
![image](https://user-images.githubusercontent.com/242125/28580088-0ab14db2-714e-11e7-83af-85193bc93f81.png)

[2017-07-25 18:30] RadBrad87 commented on #1117
As a workaround, is it possible for Jacket to give some bullshit size value to Sonarr?

[2017-07-25 21:12] au5ton commented on #1117
I agree with @RadBrad87. I think this is what SickRage uses. (Don't quote me on that.)

[2017-07-26 06:45] tomtom54 opened #1590 "Sonarr can't download from YGG"
Jackett version: 0.7.1609.0
Mono version (if not using Windows):  5.0.1.1

N.B. : using Docker from linuxserver (https://github.com/linuxserver/docker-jackett).
But also tried to change the jackett version to be the last (develop branch).

-------------------------------

Hi guys,

I've been issues with sonarr / radarr to use YGGTorrent with Jackett.
It's seems the issue is related to Jackett sinc

[2017-07-26 07:40] Dravenrip commented on #1590
yes i've the same issue with the same configuration.

[2017-07-26 07:55] foux commented on #1590
Same issue for me!

[2017-07-26 08:14] supremacy2k opened #1591 "The URI Scheme is not valid."
Started getting this, after update to lastest version 0.7.1609.0, which results in Radarr/Sonarr not being able to connect.

(This is from when trying to test connection from Radarr)

HandleCore(): unhandled exception: Message = Invalid URI: The URI scheme is not valid.
Data = System.Collections.ListDictionaryInternal
InnerException =
TargetSite = Void Throw()
StackTrace =   at Jackett.Indexers.Ba

[2017-07-26 11:59] chmercesmoreira opened #1592 "No results for WoP"
Jackett version:  0.7.1594
Mono version (if not using Windows):  mono 5.0.0.100

-------------------------------

I'm getting these error messages when trying to add some providers, example for WorldOfP2P:
[code]

[2017-07-26 13:16] vampywiz17 opened #1593 "Ztracker is broken."
Hello there,

I get this error:

[code]

[2017-07-26 13:17] Nerwysh commented on #1590
Same issue without docker...

Mono JIT compiler version 5.0.1.1
Jackett v0.7.1609

`juil. 26 15:05:43 XXXX mono[31536]: 07-26 15:05:43 Error Error downloading yggtorrent https://yggtorrent.com/engine/download_torrent?id=33856 MonoTorrent.BEncoding.BEncodingException: Invalid ...found. Aborting
juil. 26 15:05:43 XXXX mono[31536]: at MonoTorrent.BEncoding.BEncodedDictionary.DecodeTorrent (MonoTorren

[2017-07-26 14:41] Amonbofils commented on #1590
also can't found movies from couch! manually, it works but from couchpotato, no ...

[2017-07-26 14:43] foux commented on #1590
@Amonbofils this is a different issue, please put it in a new thread, with your logs

[2017-07-26 14:55] Amonbofils opened #1594 "Couchpotato doesn't work with yggtorrent"
Hi,

I got an issue with couchpotato and Ygg : with latest update, couchpotato request never find a movie. Jackett only return 0 releases found.

If i use old version (0.7.1581), jackett return the releases found. But when i try to download thru couchpotato, log said :

Error Error downloading yggtorrent https://yggtorrent.com/engine/download_torrent?id=27970 MonoTorrent.BEncoding.BEncodingExcepti

[2017-07-26 20:29] chmercesmoreira commented on #655
I have the same problem but with another tracker: b2s-share
`<string xmlns="http://schemas.microsoft.com/2003/10/Serialization/">Incorrect API key</string>`
Jackett is returning the queries properly but when I try do add it on sonarr (URL + API key) it doesn't work.

[2017-07-26 20:32] chmercesmoreira opened #1595 "torznab - B2S-Share fail"
My problem is exactly the same as this one:
https://github.com/Jackett/Jackett/issues/655

But with another tracker: B2S-Share.
`<string xmlns="http://schemas.microsoft.com/2003/10/Serialization/">Incorrect API key</string>`

[2017-07-26 23:46] chibidev commented on #1595
@chmercesmoreira Where do you want to add it? What settings do you use?

[2017-07-26 23:54] chibidev commented on #1590
@tomtom54 @Dravenrip @foux @Nerwysh Are you logged into YGG via Jackett?

[2017-07-26 23:55] chibidev commented on #1594
@Amonbofils The error you're getting is probably the same as in #1590 . Can you describe what you're trying to do with Couchpotato and Jackett?

[2017-07-27 02:07] chmercesmoreira commented on #1595
It worked now, I have no idea why it didn't work before.

[2017-07-27 02:07] #1595 closed

[2017-07-27 05:09] foux commented on #1590
@chibidev I definitively was, and downloading used to work. But I re-entered my password as you suggested, and it worked again, thanks.
But I'm wondering why it stopped working at some point. Do you know when the authentication is done? Perhaps a cookie, or token is expiring at some point?

[2017-07-27 05:55] Nerwysh commented on #1590
@chibidev I have test to re-entered my password but same issue/log for me.

[2017-07-27 07:03] tomtom54 commented on #1590
@chibidev you've right.
I just have to open parameter of YGG from Jackett (don't even change the password) and just click okay and it was it.
I would never had think to that (strange issue still) so thanks.

[2017-07-27 16:06] DivinityCycle commented on #1464
+1, encountered this last night. This effectively breaks manual search functionality for me. Good on your for tracing the issue to it's source!

[2017-07-28 06:19] Nerwysh commented on #1590
I have create new account on ygg and it's work now ... thanks

[2017-07-28 13:59] petekblaz opened #1596 "[req] partis.si"
Would love to see partis.si support on here.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47701976-request-please-add-support-for-partis-si?utm_campaign=plugin&utm_content=tracker%2F25207257&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=t

[2017-07-28 15:08] greatcapp opened #1597 "Found no results while trying to browse this tracker - WorldOfP2P"
I seem to be able to log in ok with Jackett (if i enter incorrect login details i get a login error) but i then get the above error. Is this likely to be site based, or a Jackett issue? Please let me know if i need to include some more information.
-------------------------------

[2017-07-28 17:06] Giligilitelj opened #1598 "black tray icon on black taskbar"
hi, i love this project and I'm using it all the time. My issue is not that big of a deal. Just an aesthetics one.
The icon that is used for Jackett is completely black, and the tray icon is almost invisible for some of us that prefer dark/black theme. Solution is very simple, just add white stroke around the icon or white circle.
I did it for my Jackett, and actually quite like it.
Here is my sol

[2017-07-29 10:31] aureliensauv opened #1599 "Better result with searchTerm in lowercase for xthor"
I've better result with searchTerm in lowercase for Xthor API.

Ex : "The Last Man On Earth S03E09" and test with "the last man on earth s03e09"

Fix : Just add searchTerm = searchTerm.ToLower(); after var searchTerm = query.GetQueryString(); (L159) in PerformQuery method (Xthor.cs)

Jackett version:  v0.7.1594
Mono version (if not using Windows):  5.0.1.1

-------------------------------

[2017-07-29 11:42] chibidev commented on #1590
Strange. Don't know what happened with YGG, maybe the cookie was expired and a re-login solved it. I'm glad it's working now.

[2017-07-29 11:44] chibidev commented on #1593
@vampywiz17 there's an announcement on the front page that some kind of login issue was resolved. Could you try again? Thanks.

[2017-07-29 12:01] aureliensauv commented on #1246
just add in freedomhd.yml

download:
    before:
      path: "list_thanks.php"
      method: "get"
      inputs:
        id: "{{ .DownloadUri.Query.id }}"
        to: "give"
        torrent: "{{ .DownloadUri.Query.id }}"

[2017-07-29 12:06] chibidev commented on #1597
Thank you, @greatcapp. The latest release (v0.7.1622) should fix the issue, please give it a go.

[2017-07-29 12:07] chibidev commented on #1592
Seems to be duplicated by #1597, and the issue with WOP should be fixed by v0.7.1622. Can you name the other trackers affeted? Thanks.

[2017-07-29 12:08] chibidev commented on #1591
@supremacy2k which tracker do you have when you encounter this issue?

[2017-07-29 12:45] greatcapp commented on #1597
It looks to be fixed now. Many thanks for that.

[2017-07-29 13:22] #1597 closed

[2017-07-29 13:46] rouggy commented on #301
Hello, i have same issue and even changing the port of jackett did not help :(

[2017-07-29 13:50] JMLT85 commented on #1200
Have same thing with linkomanija. Can't login. Other trackers I've tried works with no problems.
Using ubuntu 14.04 trusty tahr on Kimsufi server.
Did someone found solution I'm bit new on Ubuntu, been setting everything with help of Google ;/

[2017-07-29 13:53] vampywiz17 commented on #1593
Same error.

[2017-07-29 17:43] rouggy opened #1600 "Jackett not working with Couchpotato (ShareSpaceDB)"
Hi all,

I cannot get Jackett to work with some French providers such as SharespaceDB
I always get the same error in the log, actually i cannot get it to work with any

ERROR
[hpotato.core.plugins.base] Failed opening url in TorrentPotato: http://jackett.xxx.xxx/potato/sharespacedb?imdbid=tt1544608&search=Voice+from+the+Stone+2017&user=&passkey=xxx&search=Voice+from+the+Stone+2017&user=&passkey=xx

[2017-07-29 20:11] chmercesmoreira commented on #1592
It's working now, but there is one additional bug with this tracker:
It is not finding any matches for the movie Logan, here is the log from jackett:
[code]
When I search for these terms directly on jackett It didn't find any matches as well, but I found the reason! If I enclose the string between quotation marks it find matches!
Example:

logan 2017
Showing 0 to 0 of 0 entries

"logan 2017"
Showi

[2017-07-29 23:24] D4rk56 opened #1601 "[REQ] Add "t411.si" tracker"
A site that includes the template of t411.
--> https://t411.si/

[2017-07-30 07:02] bubez81 commented on #1294
Same problem here no results from hdtorrent.it

[2017-07-30 09:03] viking2 opened #1602 "Many Indexers Fail the Test with VPN Enabled"
Many, but not all, of my indexers fail the Test with "Found no results" and "Exception in test_indexer"
Jackett version:  v0.7.1622 (Windows 7; 64 bit)

The log file when testing EZTV has been attached.

If I turn off my VPN, the Test of EZTV and many others, but not all, pass.
Does that mean I cannot use a VPN with many indexers?

[log_Test_EZTV.txt](https://github.com/Jackett/Jackett/files/11855

[2017-07-30 11:41] Wyall opened #1603 "Torrent Network 405 Not Allowed nginx"
Jackett version:  0.7.1622.0
Mono version (if not using Windows):  5

-------------------------------

It's been a few weeks since Torrent Network stopped working. They completly changed their website and shut down the classic version a few weeks ago, but not sure if thats coincidence.

When I try to add the tracker I get "Configuration failed: 405 Not allowed nginx"

<bountysource-plugin>

---
Wa

[2017-07-30 12:33] chibidev commented on #1602
@viking2 based on your logs it seems that you receive a Cloudflare page. More information can be found here: https://support.cloudflare.com/hc/en-us/articles/203366080-Why-do-I-see-a-captcha-or-challenge-page-Attention-Required-trying-to-visit-a-site-protected-by-Cloudflare-as-a-site-visitor-
This shouldn't be related to Jackett, you should receive the same page when connecting to the site in a no

[2017-07-30 12:33] #1602 closed

[2017-07-30 12:39] chibidev commented on #1592
@chmercesmoreira in case of WoP Jackett is designed to do an additional check when searching for a movie: it filters results from the tracker that do not contain the search keywords. When searching for logan 2017 WoP returns a bunch of uninteresting results, but hardly any of them is related to the actual movie. Thus Jackett filters these.
The query "logan" (without quotation marks) produces the s

[2017-07-30 15:07] #1592 closed

[2017-07-30 16:26] DDA78 opened #1604 "[REQ}Please add 1337x.to"
Can you add https://1337x.to

good site for lots of new torrent

[2017-07-30 19:01] JigSawFr commented on #1601
This torrent tracker seems to be a "fake" mirror of original tracker sized by authority.
Due to security reasons, as stealing account or members credentials,
This request is now closed.

[2017-07-30 19:01] #1601 closed

[2017-07-30 19:18] UneYahoutiere opened #1605 "TorrentPotato doesn't find torrents"
Jackett version:  0.7.1622.0
Installed with Docker
https://hub.docker.com/r/linuxserver/jackett/
-------------------------------

All queries from TorrentPotato return with empty data:
[code]
With no error in CP logs and a good looking query:
```https://xxx.xx/potato/thepiratebay?imdbid=tt3231054&search=Risen+2016&user=&passkey=xxx```

Whereas Manual searchs and Torznab in Radarr work fined
[code]

[2017-07-30 19:20] UneYahourtiere opened #1606 "TorrentPotato doesn't find torrents"
Jackett version:  0.7.1622.0
Installed with Docker
https://hub.docker.com/r/linuxserver/jackett/
-------------------------------

All queries from TorrentPotato return with empty data:
[code]
With no error in CP logs and a good looking query:
```https://xxx.xx/potato/thepiratebay?imdbid=tt3231054&search=Risen+2016&user=&passkey=xxx```

Whereas Manual searchs and Torznab in Radarr work fined
[code]

[2017-07-30 19:24] Dhs92 commented on #1200
@jazzgott Just remembered, I downgraded mono to the recommended version in the README. Might want to start there.

[2017-07-30 21:04] viking2 opened #1607 "Test of KickAssTorrent (kat.how) Fails"
Test of KickAssTorrent (kat.how) Fails
(I can access the webpage fine with my browser)

Jackett version:  0.7.1622.0 (windows 7 64-bit)

------------------------------- LOG --------------------------

2017-07-30 14:00:21.1951 Info   http://127.0.0.1:9117/Admin/test_indexer
2017-07-30 14:00:21.1951 Info DefaultHttpControllerSelector SelectController Route='MS_SubRoutes:System.Web.Http.Routing.IHttp

[2017-07-30 21:58] viking2 opened #1608 "Test of ShowRSS Works in Jacket but not in Sonarr"
Test of ShowRSS Works in Jacket but not in Sonarr. I have attached logs from both tests, which shows:
In Jacket: Found 81 releases from ShowRSS
Via Sonarr: Found 0 (0 new) releases from ShowRSS
(Other Jacket Indexers works fine in Sonarr)

Jackett version:   0.7.1622.0 (windows 7 64-bit)

[log_Test_ShowRSS.txt](https://github.com/Jackett/Jackett/files/1186004/log_Test_ShowRSS.txt)
[log_Test_Sonarr

[2017-07-31 04:18] Stanzilla commented on #1454
Here's another one

[code]

[2017-07-31 08:28] vampywiz17 commented on #1593
Now, it is working! Please close the issue.

[2017-07-31 10:11] #1593 closed

[2017-07-31 20:32] Mika56 commented on #1606
Problem seems to have been introduced after version 0.7.1578, but before or at version 0.7.1588.
From what I was able to diagnose, the problem is that CouchPotato sets both `imdbid` and `search` in the request, which then fails. Having only `imdbid` or `search` returns results.
Version 0.7.1578 works fine with both arguments, I didn't try version 0.7.1581.

[2017-07-31 21:19] chibidev commented on #1605
Duplicated by #1606

[2017-07-31 21:19] #1605 closed

[2017-08-01 07:50] zodiacuhd commented on #1294
Same here, HDtorrent.it does not seem to work.

[2017-08-01 08:05] UneYahoutiere commented on #1606
Thanks for your answer !
I tried to remove imdbid from the request and it works.

I've also tried Cardigann and I have the same issue and the response to the request with the imdbid says:
[code]

IMDB should return 401 error to Jackett too, that's why it doesn't find results. Is there a way to ignore imdbid when no OMDB API key is set ?

[2017-08-01 08:28] se7ensinsman commented on #1606
Hello UneYahoutiere !
I have the same issue. How did you do to remove imbdid ?
Thank you

[2017-08-01 09:23] se7ensinsman opened #1610 "No result whith CP/Jackett"
Hi everyone !
I’ve got the last version (0.7.1622) and I have no result with torrentpotato. the manual search is working and send me many results.
Here is the request sent by CP : http://127.0.0.1:9117/potato/torrent9?imdbid=tt4979860&user=&passkey=xxx
All my settings seem to be good with the API in passkey and the user leaved with a blank.
Any ideas ? Thanks for your help !
Benjamin

[2017-08-01 09:41] nikogaug opened #1611 "Problem with Jackett / Archetorrent / CouchPotato"
Jackett version:  0.7.1622.0
Windows 10
Ok first, soory to chibidev. I said on issue "Error when searching via torrentPotato #1505" that everything was ok. But that's wrong.

I open a new issue because I'm not sure that it's the same problem as helmutwasa.

Description of the problem:
1. When I do a search on jackett on Archetorrent, for "French", Jackett found 50 torrents.
It's a French tracker.

[2017-08-01 10:03] figa12 commented on #1591
I am also getting this error. The tracker is Hounddawgs.

[2017-08-01 10:20] nikogaug commented on #1417
Hello,
The site have change. Now it's [http://lacaverne.us](http://lacaverne.us).
But it's very difficult to have an invitation. Is it possible that I give you my account ?
Great thanks.
Nikogaug

[2017-08-01 10:38] BetaLeaf commented on #1608
Same here.

[2017-08-01 10:44] BetaLeaf opened #1612 "Sky Torrents generates errors in log and doesn't function because of it."
Sky Torrents does not function in Sonarr at all. Checking Jackett logs shows it is having trouble processing the results from search.

Jackett version:  Jackett Version 0.7.1622.0
Mono version (if not using Windows):  Mono JIT compiler version 4.8.1 (4.8.1.0 Sun Jul 23 01:32:56 UTC 2017)
Running on a FreeNAS server, inside a jail.

[Logs.zip](https://github.com/Jackett/Jackett/files/1190289/Logs.z

[2017-08-01 11:00] zodiacuhd commented on #1588
Same thing here.

[2017-08-01 12:07] foux commented on #1590
Reproduced today (haven't changed password). Re-entered password, and it worked again

[2017-08-01 13:07] UneYahoutiere commented on #1606
Hi !
I took this url and removed imdbid
```https://xxx.xx/potato/thepiratebay?imdbid=tt3231054&search=Risen+2016&user=&passkey=xxx```

But this is only for testing, CP always adds imdbid in the resquest and fails ^^

-----

I took a look at PatatoController.cs and I was wondering why did you check for an imdbid and omdb api key at line [85](https://github.com/Jackett/Jackett/blob/d90a2613fc282aeca

[2017-08-01 18:18] octophetus opened #1613 "Secret-Cinema problem"
The tracker Secret-Cinema has been revamped, now located at https://secret-cinema.pw/
Can't log in via Jackett anymore. Error states: "Configuration failed: Login Failed, got redirected".

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47823380-secret-cinema-problem?utm_campaign=plugin&utm_content=tracker%2F25207257&utm_medium=issue

[2017-08-01 21:26] zogtar commented on #1610
+1
Hello,
I have the same issue.

jackett see the CP request but dont find any release :
"Found 0 torrentpotato releases from YGGtorrent for: XXX"
A manual search work very well :
"Manual search for "XXX" on YGGtorrent with 15 results."

config : synocommunity package (CP & jackett).
tracker used : nexttorrent, yggtorrent, ...

It seems to be the same issue.

[2017-08-01 21:39] viking2 commented on #1608
I checked the logs above.
When Testing, Jackett queries http://showrss.info/other/all.rss in both cases and in both cases several shows are found. However, while the Jacket Test counts the found shows as 81, the Test via Sonarr counts those shows as 0.

p.s. When I use http://showrss.info/other/all.rss in my browser, I find nothing. However, http://showrss.info/other/shows.rss works.
If http://sho

[2017-08-02 13:04] nikogaug opened #1614 "ArcheTorrent definitions have changed"
Hello,
ArcheTorrent tracker definitions have changed. Music categories have been disabled except movie clip:
Have to delete this entry:
`AddCategoryMapping (71, TorznabCatType.AudioMP3, "Musique: TAT Music Release");`
`AddCategoryMapping (26, TorznabCatType.AudioMP3, "Musique: Mp3");`
`AddCategoryMapping (58, TorznabCatType.AudioLossless, "Musique: Flac");`

Great thanks !
Nikogaug

[2017-08-02 18:22] jeff15110168 commented on #1612
same issue, Sky is not working anymore. Also is idope available?

[2017-08-02 19:53] UneYahourtiere commented on #1606
Hi there !

I found a temporary solution to the problem. You juste have to remove line [19](https://github.com/CouchPotato/CouchPotatoServer/blob/b538f9a08db9a0be1af2f298727834edeafa322e/couchpotato/core/media/movie/providers/torrent/torrentpotato.py#L19) in CouchPotato torrentpotato.py and reload your CouchPotato instance.
It will remove imdbid from the request, so Jackett ain't gonna be able to

[2017-08-03 01:31] a92nj2efnfsa commented on #1612
Looks like he removed the ability to download torrent files from the search results. Now there is only a magnet link. This is most certainly what has broke jacket from working properly on that site. It's looking at the wrong table row now since one of them has been removed.

[2017-08-03 17:45] Gromak123 opened #1615 "3 Tracker don't work anymore with Jackett"
Hi !

Im on the latest (dev) version of Jackett and 3 big Public French tracker doesn't work anymore.
 The tracker are : cpasbien, Next Torrent and Torrent-Mania (now zetorrents).
I have try to change to the correct domain on the 3 but this doesn't work either.

Would be good if this can be solve. This is the principal source of tracker for the French community since T411 is down.

Thank's !

[2017-08-03 18:28] davidsyoung opened #1616 "Error parsing "grabs" on MoreThanTv resulting in "Input string was not in a correct format.""
`Error on 20170803192500 for MoreThanTV.txtSystem.FormatException: Input string was not in a correct format.
   at System.Number.StringToNumber(String str, NumberStyles options, NumberBuffer& number, NumberFormatInfo info, Boolean parseDecimal)
   at System.Number.ParseInt32(String s, NumberStyles style, NumberFormatInfo info)
   at Jackett.Indexers.MoreThanTV.GetReleaseInfo(IElement row, IElement

[2017-08-04 02:26] DocteurB commented on #1610
need a new feature on jackett to edit provider who dosn't word with imdbid (to ignore the filter )
or
need a new feature on couchpotato to ignore filter imdbid.

[2017-08-04 13:35] turtlehead commented on #1464
I am also having this problem behind an apache reverse proxy.

[2017-08-04 15:08] jeff15110168 commented on #1612
hmm, so could this be updated? I assume the magnet links is still what jackett uses?

[2017-08-04 15:43] a92nj2efnfsa commented on #1612
Yea fairly easily. The devs just have to tell Jackett to look at the first TR instead of the second one now.

[2017-08-04 16:23] Miloune commented on #1590
Reproduced today. Wasn't able to download with Sickrage. Had to re-entered my password and now working fine.

[2017-08-04 16:41] jeff15110168 commented on #1612
awesome, anyway we can push this devs to become an update? Otherwise i assume they will potentially check the issues thread with enough upvotes/comments

[2017-08-05 00:19] alex-ikse opened #1617 "Replace OMDB API by TheMovieDB.org API."
Please remove the (not Free) OMDB API and replace it by TheMovieDB.org (Free API).

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47958122-replace-omdb-api-by-themoviedb-org-api?utm_campaign=plugin&utm_content=tracker%2F25207257&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.co

[2017-08-05 01:20] #1616 closed

[2017-08-05 01:27] flightlevel commented on #1615
Next time create a separate Issue for each tracker there is a problem with (after searching to make sure there isn't already an open issue) and add logs

@JigSawFr @ploufs @gprime44
Any thoughts on these, tricks, are they getting taken down like t411?

[2017-08-05 01:31] flightlevel commented on #1612
@a92nj2efnfsa can you please submit a PR with the fix then

[2017-08-05 01:49] flightlevel commented on #1200
@jazzgott
That error is coming from linkomanija

Are you having a problem with Speed cd or or linkomanija ?

[2017-08-05 01:55] flightlevel commented on #1598
Thanks @Giligilitelj
Just to confirm, you converted the above the png to an .ico file and then placed it in the Jackett.Tray directory and then rebuilt the exe ?

[2017-08-05 01:56] flightlevel commented on #1600
Does the same thing happen when using a localhost address?

[2017-08-05 01:59] flightlevel commented on #1599
Happy to make this change if its been well tested
Does the same thing happen on the website?
Is there any theory behind this as well, ie. accent characters in French ????
Any thoughts @JigSawFr

[2017-08-05 02:52] rouggy commented on #1600
Yes i confirm same issue with local ip:port

[2017-08-05 08:12] JMLT85 commented on #1200
I don't have account with speed cd.
Only problem with logging in with Linkomanija.
Also some problems with Bit-HDTV I can login but cannot perform search, test fails as well.

[2017-08-05 08:44] flightlevel commented on #1200
I can't reproduce this on Speed.cd using Mono and all recent reports and logs are from Linkomanija so am going to change to the title of this issue to focus on Linkomanija

`
07-23 17:37:28 Debug IWebClient.GetString(Url:https://www.linkomanija.net/takelogin.php)
07-23 17:37:28 Debug IWebClient: Returning Redirect => file:///index.php
07-23 17:37:28 Debug IWebClient.GetBytes(Url:file:///index.php)

[2017-08-05 20:01] zogtar commented on #1610
Sorry DocteurB, i don't understand your answer.
With so little information, your conclusion is so fast.

[2017-08-05 21:19] ploufs commented on #1615
Pull request : https://github.com/Jackett/Jackett/pull/1619

[2017-08-05 22:16] DocteurB commented on #1610
i try : http://my.ip:9117/potato/yggtorrent?imdbid=tt0490215&search=Silence+2016&user=&passkey=xxx
{
  "results": [],
  "total_results": 0
}

and i try : http://my.ip:9117/potato/yggtorrent?&search=Silence+2016&user=&passkey=xxx
{
  "results": [des trucs
    {
.....
......
  "total_results": 6
}

so my gess was that YGGtorrent (like torrent9) dosn't work with imdbid , and all the request from CP c

[2017-08-05 22:30] cloneMe commented on #1610
To my mind, this issue duplicates this one: TorrentPotato doesn't find torrents #1606

[2017-08-05 23:49] Gromak123 commented on #1615
Hi,

Woh ok sorry for the multiple tracker in one issue, i had think this would help. Will split next time.

I can give log if you need, also T411 is up again -> New domain is T411.si, not the original team but great tracker.

[2017-08-06 00:43] flightlevel commented on #1610
Duplicate https://github.com/Jackett/Jackett/issues/1606

[2017-08-06 00:43] #1610 closed

[2017-08-06 01:36] flightlevel commented on #1615
@Gromak123
Thanks to @ploufs  these are now present in the latest release
In regards to t411 https://github.com/Jackett/Jackett/issues/1601

Am I right in that we can now delete https://github.com/Jackett/Jackett/blob/master/src/Jackett/Definitions/maniatorrent.yml
replaced by zetorrent?

[2017-08-06 01:56] ploufs commented on #1615
Beta version t411 : https://github.com/Jackett/Jackett/pull/1620

[2017-08-06 10:31] rjch-au commented on #1568
Bump.  Still having this issue even after an upgrade to Jackett.  Is anyone successfully using The Empire with Jackett?

[2017-08-06 11:38] zero77 opened #1621 "[REQ] New Tracker – Extra Torrent"
Can you please add support for Extra Torrent,
thanks.

Tracker Name : Extra Torrent
Type : Movie, TV, Music, Anime, Games, Software, Books, Pictures, Mobile, Adult, Other
Public tracker.
Indexer URL : https://extratorrent.cd
Indexer language : English

[2017-08-06 12:09] UneYahourtiere opened #1622 "[REQ] New Indexer eMule-Island"
Tracker Name : eMule Island
Type : Movie, TV, Music, Anime, Games, Software, Books, Other
Public tracker.
Indexer URL : ~~https://www.emule-island.ru/~~ https://ww6.emule-island.ru/
Indexer language : French

Thank you !

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47981886-req-new-indexer-emule-island?utm_campaign=plugin&utm_con

[2017-08-06 13:15] Gromak123 commented on #1615
Yeah thank's for your awesome work guy !

Yes maniatorrent is remplaced by zetorrents now.

[2017-08-06 15:17] chibidev commented on #1617
There's also http://www.tvmaze.com/api. Probably should run multiple of them simultaneously to check which one gives the best (and most up-to-date) results.

[2017-08-06 18:34] xtrmr commented on #1200
Hi, It works fine on Windows.
I've been using Windows 10 instead of Ubuntu.
I've tried Mono 4.8, 4.8.1 and 5.0.1.1 on Ubuntu - same error.

[2017-08-06 19:29] nofaddey opened #1623 "Tests failing on all indexes"
**Please use the search bar** at the top of the page and make sure you are not creating an already submitted issue. Duplicating issues makes it more difficult for everyone to follow. Your issue may have already been solved in the past as well.

Provide a description of the feature request or bug, the more details the better.
If you are experiencing an issue with a tracker, a **full log must be inc

[2017-08-07 06:30] Lugdum opened #1624 "Xthor tracker issue (Object reference not set)"
Hello,

I have an issue when using Xthor tracker on Jackett. It was working fine few days ago.
Jackett is running on an ubuntu server, I tried moving from a normal install to a docker one. Version used is 0.7.1622.0. I installed it from linuxserver.

Here is the log I get after testing Xthor tracker connexion:

  at Jackett.Indexers.Xthor+<PerformQuery>c__async1.MoveNext () [0x00197] in <19c6b08db

[2017-08-07 08:52] NitriKx commented on #1606
In think https://github.com/Jackett/Jackett/commit/d90a2613fc282aecab4cb3b24bed6995a1f2133e is the problem, the "CanHandleQuery" returns `false` is the query contains an imdbid but the provider does not support it (YGGTorrent in my case).
Today the method checks that **all** the search parameters are supported by the indexers ([BaseIndexer.cs](https://github.com/Jackett/Jackett/blob/057df28d1b5b5e

[2017-08-07 10:01] danmed commented on #1612
https://github.com/Jackett/Jackett/pull/1626

[2017-08-07 18:10] ctroncoso opened #1627 "Pretome Indexer: Parsing failed «TimeAgo parsing failed, unknown unit: <br»"
using Jackett Version 0.7.1644.0
Pretome news say that they'll be updating the front page, which might have broken the parser.
Testing fails with the following error: TimeAgo parsing failed, unknown unit: <br

**Log**:
Error on 20170807140359 for PreToMe.txtSystem.Exception: TimeAgo parsing failed, unknown unit: <br
  at Jackett.Utils.DateTimeUtil.FromTimeAgo (System.String str) [0x0026a] in <3c02

[2017-08-08 01:04] bmay4048 commented on #1627
I am having this issue as well.

[2017-08-08 06:17] antigravity83 opened #1628 "[REQ]: Acrossthetasman"
id: acrossthetasman
name: Across The Tasman
description: "ATT is a Private torrent site for Rugby and other sports played in Australia"
type: private
links:
  - https://acrossthetasman.com/

[2017-08-08 12:17] zero77 opened #1629 "Torrent Downloads Problem"
Torrent downloads is public and dose not require a login to download but Jacketts indexer makes having a login mandatory, can you make it optional.

Thanks

[2017-08-08 12:29] getdirty commented on #1624
Same problem with Jackett Version 0.7.1644.0

[2017-08-08 14:33] chibidev commented on #1612
This is available in the latest pre-release v0.7.1662. @jeff15110168 @BetaLeaf can you confirm it's working?

[2017-08-08 14:34] BetaLeaf commented on #1612
checking now

[2017-08-08 14:38] BetaLeaf commented on #1612
Confirmed. It's working now.

[2017-08-08 14:56] #1612 closed

[2017-08-08 15:24] kaso17 commented on #1606
Somebody knows if the CP behavior changed recently?
Before we had the issue that CP wouldn't sent the imdbid.
Is the search parameter (movie name) now always included?

[2017-08-08 15:44] Mika56 commented on #1606
As per the [file history](https://github.com/CouchPotato/CouchPotatoServer/commits/b538f9a08db9a0be1af2f298727834edeafa322e/couchpotato/core/media/movie/providers/torrent/torrentpotato.py), it wasn't changed since 2016, so I wouldn't say that behavior changed recently :)

[2017-08-08 16:14] raspdealer commented on #1345
like a charm. Thanks

[2017-08-08 16:35] #1345 closed

[2017-08-08 18:02] aureliensauv commented on #1599
It  works on my branch since 15days without any problem.
I don't hnow why the search query return better result in lowercase. Xthor works with an api and the website seems not to be affected by that.

[2017-08-08 18:51] qazero opened #1630 "Hon3yHD Inaccurate Search Results"
I noticed Hon3yHD's native search functionality isn't very good. For example, if you search for the movie "Mujhse Shaadi Karogi" you will get accurate results. However, if you search for the same movie with its release year appended "Mujhse Shaadi Karogi 2002" then it will produce many more results but most of them would be completely wrong titles. In addition, many of the correct results from the

[2017-08-08 20:20] lrnv commented on #1615
So the new (not-same-but-better) T411.si is availiable in jacket now ?

[2017-08-08 22:38] jbmorgado commented on #1278
This comes from inside from a docker container as well from an installation on Arch, it is not a personal system configuration.

It happen with many trackers as well, for instance with Kickass torrents.

For KAT the error is:

[code]

[2017-08-09 07:26] LePrt commented on #1590
Hello here,
Same issue for me.
- tried to re-enter my password in Jackett -> not working
- tried to delete/add Yggtorrent indexer -> not working
- manually deleted the indexer files in my jackett docker folder and adding indexer again -> not working

I noticed that, even if I leave the "password" field blank while configuring the yggtorrent indexer, jackett returns no error and I am even able to m

[2017-08-09 07:51] gprime44 commented on #1615
@lrnv  Yes :-)

[2017-08-09 08:33] flightlevel commented on #1624
Me too's don't help anyone, logs do though
Please post the full logs ie run with `-t -l` as per https://github.com/Jackett/Jackett#troubleshooting

[2017-08-09 08:34] flightlevel commented on #1590
@Khogniak would you be able to have a look?

[2017-08-09 08:35] flightlevel commented on #1628
send an invite to jackettapp at gmail and i'll add it

[2017-08-09 09:01] gprime44 opened #1633 "Size information for YGGTorrent isn't correct"
The displaed size isn't correct

![image](https://user-images.githubusercontent.com/18438018/29113640-e8cb0cd8-7cf1-11e7-954e-0f3923423d9f.png)

From YGGtorrent

![image](https://user-images.githubusercontent.com/18438018/29113672-017dad6c-7cf2-11e7-80e7-0fbeda48a0e5.png)

I will try to fix it today ;-)

[2017-08-09 10:00] Khogniak commented on #1590
@flightlevel I'm currently testing a fix, I'm waiting for YGG frontend update to make a PR.

You can try a hotfix by adding the selector line in the login test (in Definitions/yggtorrent.yml) :
[code]
It should work

[2017-08-09 12:03] gprime44 commented on #1633
#1634

[2017-08-09 13:43] mueslo commented on #901
This is/was also a big issue for me. There are trackers, where e.g. season packs are not labeled "S01" but rather "Season 1". These are then not found by Jackett, which tries to download episodes individually, where many are missing.

I patched it for my particular tracker: https://github.com/Jackett/Jackett/pull/1632

Maybe it is useful to you.

[2017-08-09 14:41] leloki opened #1636 "No result witch year provided - remove year search ?"
Hi,

I have a pretty regular issue when to find some movies.
I use Radarr with Jackett and 3 different indexers (torrent9, cpasbien,freedomhd)

If my indexers have the movie in their database with a different year no movie release will be found. I think this is due to the difference between imdb release year and the release year in different country (France for me).
I have a example :
Kingsman - S

[2017-08-09 15:02] Khogniak commented on #1636
Try
[code]

[2017-08-09 17:28] leloki commented on #1636
thanks for your response. But it does not work :'(

[2017-08-09 17:45] Taloth opened #1638 "Adjust download url for easier log sanitizer"
A request from Team Sonarr.

For a long time we've used some logic to remove sensitive information from Sonarr's log file entries such as apikeys, passkeys etc since users frequently post them on pastebin and forums.
However, the jackett download urls are hard to sanitize for two reasons:
- The apikey is part of the url path, instead of an &apikey= query param. Not very sensitive unless the Jacket

[2017-08-09 18:17] lrnv opened #1639 "How can i tell jacket to updates to pre-release ?"
Hey i got jackett running as a service on my linux, with mono.
When i try to trigger an update it says in the logs that it's already up-to-date, wich is the lastest release. How can i tell it to follow the pre-relases intead of latests only ?

Jackett version:  0.7.1644
Mono version (if not using Windows): 5.0

-------------------------------

[2017-08-09 18:23] lrnv commented on #1639
Nevermind i didnt saw the option.... I'm a dummass

[2017-08-09 18:23] #1639 closed

[2017-08-09 22:35] belgarth commented on #1627
Myself as well

[2017-08-10 04:44] yllanos opened #1640 "[REQ] New Tracker – MVGroup"
Can you please add support for MVGroup,
thanks.

Tracker Name : MVGroup
Type : Documentaries
Public tracker.
Indexer URL : MVGroup.org
Indexer language : English

[2017-08-10 04:46] yllanos commented on #1640
Not sure at thechnical level what to provide.

I believe they have a Tracker at: http://forums.mvgroup.org/maintracker.php

Most releases are handled by BitTorrent or ed2k

[2017-08-10 05:17] HitsvilleUK opened #1641 "HD4Free passes test, but....."
Running on 2 dedicated Linux servers and a Linux seedbox. HD4Free brings up zero results in manual search. Even just typing "The" gives no results.
Meanwhile having installed it on my Windows box at home to troubleshoot everything works fine.
All 4 installs are running Jackett Version 0.7.1644.0

This definitely only started about two or 3 days ago.. because I have been using HD4Free heavily over

[2017-08-10 10:09] hed0nist commented on #1615
Can you all confirm the nextorrent definition working fine in its actual state ? Because even with a correct url it doesn't pass internal test and can't retrieve torrent files.
I made a working version for my personnal use and wanted confirmation of non-working state before trying to pull corrections.

Edit : i just updated to latest pre-release, same test failure.

[2017-08-10 11:30] ploufs commented on #1615
@hed0nist https request work on your jackett server?

Check in log for error.

[2017-08-10 11:52] #1614 closed

[2017-08-10 12:06] flightlevel commented on #1641
Full logs are needed ie `-t -l` from linux instance with the issue
Possibly its the mono redirect issue like in another issue but without logs we are just guessing

[2017-08-10 12:07] flightlevel commented on #1640
https://github.com/Jackett/Jackett/issues/315

[2017-08-10 12:07] #1640 closed

[2017-08-10 12:09] #1633 closed

[2017-08-10 12:12] flightlevel commented on #1630
Combining this issue into https://github.com/Jackett/Jackett/issues/1636
Potential enhancement to remove the year from movie searches???

[2017-08-10 12:12] #1630 closed

[2017-08-10 12:12] flightlevel commented on #1636
Potential enhancement to remove the year from movie searches???
Should this be a Jackett feature or Radarr???

[2017-08-10 12:14] flightlevel commented on #1623
Full logs needed to investigate ie run with `-t -l`
https://github.com/Jackett/Jackett#troubleshooting

[2017-08-10 12:17] #1599 closed

[2017-08-10 12:20] flightlevel commented on #1568
@adamwinn would you be able to have a look?

[2017-08-10 12:24] #1594 closed

[2017-08-10 12:25] Khogniak commented on #1636
This issue is on Radarr's side ; their name-scrapper is too strict and doesn't fit with most of torrent providers. I think Jackett doesn't have to modify content/metadata in his process.
This is processor's job.

[2017-08-10 12:27] #1449 closed

[2017-08-10 12:27] #1441 closed

[2017-08-10 12:29] #1572 closed

[2017-08-10 17:04] bidulle95 opened #1645 "no result for all my indexer on couchpotato"
Found 0 torrentpotato releases from all indexer
for all my movie
Jackett version:  7.1662
Mono version (if not using Windows):  4.6.2.7

-------------------------------

[2017-08-10 17:17] adamwinn commented on #1568
I could but I'm having issues with my local dev environment right now.  I go to add a tracker and it adds but the table of trackers on the main page is missing

[2017-08-10 18:08] chibidev commented on #1568
@adamwinn Upon testing #1584 I've encountered that the browser caches the JS file doing the ajax queries and tends to load from cache rather than from the server. Try to clear the cache to solve the problem. If it does not, look into the web console to see where the XHRs go and what's the response.

[2017-08-10 18:11] chibidev commented on #1645
Probably duplicates #1606

[2017-08-10 18:11] #1645 closed

[2017-08-10 18:14] supremacy2k commented on #1591
@chibidev Sorry my late response.

It was from testing the connection from Radarr to Jackett.
Using DanishBits and Hounddawgs.

But it seems to be resolved, not sure what i did. lol

[2017-08-10 18:20] pietervw opened #1646 "Req: Save similar torrents to folder"
I have a suggestion to help with cross seeding.

When a torrent is grabbed and similar torrents exists (or are made available later), output those .torrent files to a folder.

This folder can be the torrent client's watch folder to auto implement cross-seeding

[2017-08-10 18:22] chibidev commented on #1591
@figa12 can you check as well? Thanks.

[2017-08-10 18:23] aureliensauv commented on #1246
Normally fixed with #1637

[2017-08-10 20:26] figa12 commented on #1591
@chibidev It seems to be resolved. The log indicated that the issue was due to a banner on the site. I guess the site was changed or something.
Everything is working fine now.

[2017-08-10 20:30] chibidev commented on #1591
@supremacy2k @figa12 thank you, guys, I'm closing this one up as it was probably related to a site modification. If issue comes back please post it again :)

[2017-08-10 20:30] #1591 closed

[2017-08-11 01:48] HitsvilleUK commented on #1641
Just to let you know that after a fresh OS install on one of the Linux systems, HD4free seems to work ok.
Still not with the other two... but they were only temporary boxes anyway and will be cancelled.
Will close the ticket.

[2017-08-11 01:48] #1641 closed

[2017-08-11 02:33] CarlB86 commented on #1535
I have the same issue on adding animebytes to jackett on my seedbox. An existing local install that had animebytes already added tests successfully.

[2017-08-11 03:08] mikesafari commented on #1627
Yup, same here as well.

[2017-08-11 04:07] antigravity83 commented on #1628
Hi there

I don't have any invites available unfortunately but can share my login so you can do your thing?

[2017-08-11 05:40] hed0nist commented on #1615
@ploufs : indeed there are errors in my logs

Aug 11, 2017 07:30:30 AM | Error | Exception in test_indexer
Aug 11, 2017 07:30:30 AM | Info | Found 0 releases from NextTorrent
Aug 11, 2017 07:30:30 AM | Info | CardigannIndexer (nexttorrent): Relogin required
Could it be https ( ssl ) related ?

FYI i just made a few modifications , using https in the url setting, removing 2 lines and modifying the

[2017-08-11 11:41] #1606 closed

[2017-08-11 12:22] kaso17 commented on #1646
While I would love to see a proper replacement for my own cross seeding scripts this is beyond the purpose of Jackett.
Jackett is only a proxy/API. A cross seeding tool is a own project (which could use torznab/jackett as a source).

[2017-08-11 12:22] #1646 closed

[2017-08-11 12:42] zero77 opened #1650 "[Req] Torlock"
Can you please add support for Torlock,
thanks.

Tracker Name : Torlock
Type : Movie, TV, Music, Anime, Games, Software, eBooks
Public tracker.
Indexer URL : https://www.torlock.com or Proxy:https://torlock.unblocked.lol/
Indexer language : English

[2017-08-11 12:47] zero77 commented on #1387
This tracker has been added but there’s a problem: #1629

[2017-08-11 13:24] kaso17 commented on #1638
That sounds like a good idea.
Changed with 289c5cd24f51313c09883bc0d3f8238c2700f2c0
The apikey now moved to the jackett_apikey param and the path is encrypted.

DL links now look like this:
http://127.0.0.1:9117/dl/indexer/?jackett_apikey=12345&path=encryptedPath&file=example.torrent

[2017-08-11 13:24] #1638 closed

[2017-08-11 13:36] sahara101 opened #1651 "Filelist issue"
Hello,

I just installed sonarr on QNAP HS-251, also Jackett with filelist .
When I search for a show I get the following errors:

NzbDrone.Common.Http.HttpException: HTTP request failed: [404:NotFound] [GET] at [http://192.168.1.78:9117/dl/filelist/Modified?path=aHR0cDovL2ZpbGVsaXN0LnJvL2Rvd25sb2FkLnBocD9pZD00NzEzNjgmdXNldG9rZW49MQ2&file=Sherlock.S04.1080p.AMZN.WEBRip.DD%2B5.1.x264-CasStudio.torr

[2017-08-11 13:36] kaso17 commented on #1636
I agree that a workaround for this is better suited on the Radarr side.

For your temporary workaround you'll also have to change the ".Query.Keywords" (always the original query string) in the path to ".Keywords" (with keywordsfilters applied).

But Radarr still might not accept the results as valid (due to year mismatch).

[2017-08-11 13:39] Taloth commented on #1638
That'll work, I'll add 'jackett_apikey' as secret query param list. Here's the list we filter on atm: https://github.com/Sonarr/Sonarr/blob/816cf608fcef07e375aa750a863d0a7365108981/src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs#L12

[2017-08-11 13:50] Dhs92 commented on #1535
Issues has reappeared for AnimeBytes and my trackers disappeared from the
list. Downgraded mono to 4.8 again with no luck this time around, don't
know what the issue is anymore.

On Thu, Aug 10, 2017 at 7:33 PM, CarlB86 <notifications@github.com> wrote:

--
Alex Forehand

[2017-08-11 13:58] kaso17 commented on #1651
Can't reproduce this.
But I suspect that when you have FL tokens (I don't have any) you've multiple download links on the search result page (one for normal download, one for FL token DL)?
fbbe4f9c451bb2bc10be52f9b41e80ea5ebff02d should fix it anyway.

[2017-08-11 13:58] #1651 closed

[2017-08-11 14:05] kaso17 commented on #1629
fixed with e079c9053522c21ef37867cb8cb5bc38607db8e7

[2017-08-11 14:05] #1629 closed

[2017-08-11 14:08] kaso17 commented on #1387
dupe of #1559, added via #1563

[2017-08-11 14:08] #1387 closed

[2017-08-11 14:09] kaso17 commented on #1627
For me it's working again (with the changes made by @flightlevel). Can we close it?

[2017-08-11 14:10] #1627 closed

[2017-08-11 14:13] sahara101 commented on #1651
That is right. Is that an update or what should I do with the code?
I tried to update but am receiving "Error checking for updates."

Thanks

[2017-08-11 14:21] zero77 commented on #1629
Thanks

[2017-08-11 14:23] zero77 commented on #1650
Hi
What help is needed?

[2017-08-11 14:28] zero77 commented on #1604
Duplicate  #1384

[2017-08-11 14:29] zero77 commented on #1621
Hi
What help is needed?

[2017-08-11 14:57] kaso17 commented on #1535
For me AnimeBytes works with both fake user agents (linux and windows). Most likely it's not just the user agent which gets you banned (maybe the seedbox IP range is flag as VPN too?).
With 51aa4f35bd19b6c09d8ac46f3a17221cc98fa7b6 the fake user agent is no longer used for AnimeBytes (It's now "jackett/$version").

[2017-08-11 15:01] kaso17 commented on #1624
I can't test it anymore as my account got deactivated due to inactivity.
Make sure you run mono with "--debug" flag so we can get line numbers.

[2017-08-11 15:02] kaso17 commented on #1621
Someone who's willing to implement it :)
If you know a little HTML/CSS you can try it yourself.
See https://github.com/Jackett/Jackett/wiki/Definition-format

[2017-08-11 15:03] #1604 closed

[2017-08-11 15:04] kaso17 commented on #1650
Someone who's willing to implement it :)
If you know a little HTML/CSS you can try it yourself.
See https://github.com/Jackett/Jackett/wiki/Definition-format

[2017-08-11 15:10] kaso17 commented on #1651
the chagne is not yet released, a pre-release will be released soon.

[2017-08-11 15:13] Lugdum commented on #1624
I tried to reproduce to share full logs today, but the issue did not occur. I tried several times and did not change anything since I opened the issue.
It was probably a problem at Xthor side (some server changes were on the way I think) and not Jackett. Should I close the issue and open a new one with full logs if problem happens again ? Thanks.

[2017-08-11 15:17] #1624 closed

[2017-08-11 15:57] bormanua opened #1652 "[RuTracker] Cleaning titles for Sonarr"
In order for Sonarr to properly parse titles, Jackett will need to clean that up as it's not standard to have that there.

Example: 17-8-11 15:49:50.8|Debug|Parser|Parsing string ' / The Last Ship [S01-03] (2014-2016) WEB-DLRip Generalfilm | | LostFilm'

[Sonarr closed issue](https://github.com/Sonarr/Sonarr/issues/2117)

Jackett Version 0.7.1662.0
Mono Version 4.6.2

-----------------------------

[2017-08-11 16:03] mikesafari commented on #1627
Not working for me still. Must admit it's been ages since I've poked around in code, but is it fairly easy to update this manually or should I wait for the update to be pushed out?

[2017-08-11 16:14] kaso17 commented on #1606
e9b604d3c43ac6592190ec3648fa039a68badd6f should fix the problem

[2017-08-11 16:15] kaso17 commented on #1627
the changes haven't been released yet, a pre-release will follow soon.

[2017-08-11 16:34] kaso17 commented on #1652
The real title is "Последний корабль / The Last Ship [S01-03] (2014-2016) WEB-DLRip от Generalfilm | КПК | LostFilm", sonarr strips the non ASCII characters.
As seventor apparently doesn't use scene release names sonarr will have a hard time parsing it.
is the naming scheme of seventor always "russian name / english name"?

[2017-08-11 16:47] kaso17 commented on #1615
next torrent needs an URL update
default fixed with 33a7db5ec41b0a0259cdf1b7a6d7b780fd92a059
the other two have been fixed already too
clsoing

[2017-08-11 16:47] #1615 closed

[2017-08-11 17:09] kaso17 commented on #1246
thank you

[2017-08-11 17:09] #1246 closed

[2017-08-11 18:25] bormanua commented on #1652
https://rutracker.org/forum/viewtopic.php?t=479259#9

Here is the naming rules (Google translate):

The order of the title of the topic in the Foreign TV series
Although the template itself makes the title of the theme, but still many or themselves re-themes or make out without a template so the title of the topic does not comply with the rules!

The name of the series in Russian Language / The ti

[2017-08-11 20:14] super94i opened #1653 "Add new indexer: yts.gs"
Please add it, it has more files than yts.ag.

[2017-08-12 00:03] chibidev commented on #1608
@viking2 shows.rss contains the shows available at ShowRSS while all.rss contains the actual feed for episodes.

Apparently Sonarr passes the categories which filters out basically all results from ShowRSS. 29ecf8a should fix that, however there are major problems with ShowRSS as it is today, so it might need a bigger refactor. The latest pre-release (v0.8.10) contains the fix, feel free to try it

[2017-08-12 00:43] PaintPauller opened #1654 "as of Pre-release v0.8.10 - 401.Unauthorized"
as of Pre-release v0.8.10 i am unable to change any settings in Jackett for some reason but more importantly sonarr is unable to connect with jackett. i keep on getting this in sonarr:

Unable to connect to indexer, check the log for more details
Log: 17-8-11 17:15:12.5|Warn|HttpClient|HTTP Error - Res: [GET] http://127.0.0.1:9117/torznab/thepiratebay/api?t=caps&apikey=(removed) 401.Unauthorized

[2017-08-12 01:03] flightlevel commented on #1654
Thanks for testing the pre-release and reporting @PaintPauller
The settings issue will be fixed shortly

2nd issue:
Just to confirm the api key is correct?

Do you get the same thing if visiting http://127.0.0.1:9117/torznab/thepiratebay/api?t=caps&apikey=YOUR_API_KEY in your web brower

Can you post the full Jackett logs ie `mono --debug JackettConsole.exe -t -l`

I've tested here and it works fo

[2017-08-12 01:15] PaintPauller commented on #1654
i can confirm that the api key is correct in sonarr and http://127.0.0.1:9117/torznab/thepiratebay/api?t=caps&apikey=YOUR_API_KEY does work for me so i have no idea whats going on.

as for the logs nothing shows up in the normal log and i am unable to turn on Enhanced logging because of the settings bug. where would i put in the above command? sorry im somewhat new to all of this.

[2017-08-12 01:19] flightlevel commented on #1654
v0.8.12 should fix the settings issue

Thats strange that it works in the browser
Are you running on Windows or Mono?

[2017-08-12 01:20] PaintPauller commented on #1654
windows

[2017-08-12 01:21] Speaktomenow commented on #1580
I too am getting this error on latest Mono and Jackett. Upgraded to latest mono today for OSX ND suddenly all kinds of SSL cert errors.
Added the cacert.pem and it hasn't fixed it.

[2017-08-12 01:27] flightlevel commented on #1654
update version to latest
Turn on enhanced logging
Restart Jackett
simulate error again
Grab logs from C:\ProgramData\Jackett

[2017-08-12 01:28] PaintPauller commented on #1654
here is the enhanced logging when I hit test in sonarr

Aug 11, 2017 06:24:53 PM | Info | ReflectedHttpActionDescriptor ExecuteAsync Invoking action 'Logs()'
-- | -- | --
Aug 11, 2017 06:24:53 PM | Info | ApiControllerActionInvoker InvokeActionAsync Action='Logs()'
Aug 11, 2017 06:24:53 PM | Info | JackettAPINoCacheAttribute OnActionExecutingAsync
Aug 11, 2017 06:24:53 PM | Info | JackettAPINoCach

[2017-08-12 01:30] PaintPauller commented on #1654
[log.txt](https://github.com/Jackett/Jackett/files/1219380/log.txt)
here is the log you requested

[2017-08-12 01:39] flightlevel commented on #1654
Can you remove KickAssTorrent from both Jackett and Sonarr to see if thats the cause of the issue?
Are you adding each index individually in Sonarr?

[2017-08-12 01:42] PaintPauller commented on #1654
i have already removed KickAssTorrent from both unless you are talking about KickAssTorrent (kat.how).
yes i am adding each index individually in sonarr but none of them work even the ones i have had working for months and the ones i added today before the update to v0.8.10 that i also had working.

[2017-08-12 01:47] PaintPauller commented on #1654
removed KickAssTorrent (kat.how) from both jackett and sonarr. no change, every index is still gives 401 in sonarr.

[2017-08-12 01:57] flightlevel commented on #1580
Run the below commands and then copy and paste the output here

Try
`cert-sync`
and report version

`wget https://curl.haxx.se/ca/cacert.pem`
`cert-sync --user ./cacert.pem`

`csharp -e 'Console.WriteLine (new System.Net.WebClient ().DownloadString ("https://www.howsmyssl.com/").IndexOf ("1.2"))'`

Is this the installer you used
http://www.mono-project.com/download/#download-mac
5.0.1?

Then post

[2017-08-12 02:04] Speaktomenow commented on #1580
Ok will do, that's the version of mono I installed yes.

[2017-08-12 02:12] JourneyOver opened #1656 "Error loading Jackett settings, request to Jackett server failed"
Installed the newest version of jackett and now I get "Error loading Jackett settings, request to Jackett server failed" whenever I go to jackett settings, anything I click on be it logs or whatever seems to just pop this error up without actually dong anything else. API key is completely void and all of my indexers are completely gone and I can't add anymore due to the error just popping up whene

[2017-08-12 03:06] MaDTaZ commented on #1656
Hello All

I am having the same issue beleive it did an automatic update and now not working

running mono version

[2017-08-12 05:49] AdditionalPylons commented on #1656
Are you under a reverse proxy?

[2017-08-12 06:11] flightlevel commented on #1654
the logs should have more information...

Stop Jackett
From the cmd prompt run `JackettConsole.exe -t -l`
Reproduce the error
Upload logs

Otherwise, if not interested in getting your hands dirty, go back to the last released version v0.7.1644

[2017-08-12 06:15] flightlevel commented on #1656
@JourneyOver How did you update? Running on Windows?

@JourneyOver @MaDTaZ Can you both in your browser, load the Jackett dashboard, press F12, hit the Sources tab, click on custom.js and paste the contents from line 1093
Alternatively, from your Jackett install folder, go to Content folder and paste the contents of custom.js file

[2017-08-12 07:01] garfield69 commented on #1656
I have the same issue. I was on Jackett 0.7.1662 under windows7 x32 and had the *update to pre-release* check-box ticked. After auto-upgrade to 0.8.12 I am showing the same symptoms described by OP's first post .
I also manually stopped the Jackett service and jackett tray and manually installed from `https://github.com/Jackett/Jackett/releases/download/v0.8.12/Jackett.Installer.Windows.exe` but t

[2017-08-12 07:22] garfield69 commented on #1656
addendum: output from `jackettconsole.exe -t -l`
[log0.8.12.txt](https://github.com/Jackett/Jackett/files/1219567/log0.8.12.txt)

[2017-08-12 08:06] chibidev commented on #1656
@garfield69 @flightlevel Relevant part of the log: ```08-12 19:19:08 Debug Response: {"Message":"No HTTP resource was found that matches the request URI 'http://127.0.0.1:9117/libs/api.js'.","MessageDetail":"No route data was found for this request."} ``` (I really don't get it...)
But that's definitely an old version of custom.js

Everyone experiencing this: when you navigate to Jackett, could yo

[2017-08-12 08:15] garfield69 commented on #1656
Fantastic. Shift-F5 worked for me, the dashboard is now operational on 0.8.12
Thanks.

[2017-08-12 08:35] flightlevel commented on #1656
Hope its that simple, but...
@garfield69 used the auto-updater and THEN manually installed
I'm wondering if the auto-updater actually updates the `Content` folder ???
Will have a go at trying to repro this

[2017-08-12 08:37] chibidev commented on #1656
@flightlevel I auto-updated my own server without a problem (couple times actually). It's running in docker on top of Unraid, but it shouldn't be that different for Windows machines as well. Anyway, thanks for giving it a go.

[2017-08-12 08:47] chibidev commented on #1654
@PaintPauller could you turn on Debug level logging in Sonarr and upload your logs? Thanks.

[2017-08-12 08:54] metaMMA opened #1657 "[Demonoid] 404 Error"
Jackett Version: 0.7.1644.0
Mono version (if not using Windows): 4.6.2 (Debian 4.6.2.7+dfsg-1)
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Background:
The searches and feeds at demonoid used to return links that looked like:

`...demonoid.pw/files/details/...`
example: `https://www.demonoid.pw/files/details/3388540/` for file `Linux Lite 3.0 X64 &amp; X86 - Freeware Sys`

and the

[2017-08-12 09:38] qtv commented on #1656
Having the same issue - error loading jackett settings, request to Jackett server failed. Shift+F5 did not work for me. Jackett Version 0.8.18.0

[2017-08-12 09:56] qtv opened #1658 "[BroadcastTheNet] NullReference"
Jackett version:  0.8.18.0 (Windows)

Cannot manually search. Logging turns up

`08-12 05:43:26 Error Error on 20170812054326 for BroadcastTheNet.txtSystem.NullReferenceException: Object reference not set to an instance of an object.
   at Jackett.Indexers.BroadcastTheNet.<PerformQuery>d__7.MoveNext() in C:\projects\jackett\src\Jackett\Indexers\BroadcastTheNet.cs:line 101`

Removing BTN or searchi

[2017-08-12 10:30] zero77 commented on #1653
I think this has been added in the newest version.

[2017-08-12 10:49] flightlevel commented on #1656
Couldn't repro my theory, worked perfectly on Ubuntu updating from stable to pre-release via auto-updater
Only very minor unrelated thing I found was the 'check for updates' in v0.8 gives a console error and isn't showing the bootstrap alert , but completely irrelevant to issue here
Next person that has this will have to try and see whats in custom.js from their Content folder to establish if its

[2017-08-12 11:23] seanvree commented on #1658
Me as well.

Windows 10E 1703 X64

[2017-08-12 11:41] seanvree commented on #1656
I'm getting this issue.

Shift + F5 did not work for me.

Here's a link to my custom.js

https://gist.github.com/seanvree/1d9c50766cf90b047f330419fea6a6bb

[2017-08-12 15:13] D4rk56 commented on #1654
Same Error
[http://imgur.com/NEVxHnw](http://imgur.com/NEVxHnw)

[2017-08-12 15:43] JourneyOver commented on #1656
@flightlevel I've tried updating by going to the admin dashboard and checking for an update, and I've tried by just going to the releases tab of the repo and downloading the latest version, both ways have the issue.
(I've even tried uninstalling jackett completely/cleaning everything to do with jackett/restarting my computer and then reinstalling jackett without any luck)

but it looks like shift

[2017-08-12 15:44] DrSeussFreak commented on #1658
Also have the same issue, same versions

[2017-08-12 15:51] D4rk56 commented on #1658
same

[2017-08-12 16:11] mbush78 commented on #1654
Same issue here for the past few days, just updated to 0.8.18 and still the same. Ran logs with the requested -t -l from above, here was the result

******@Ubuntu:/tmp$ wget 'http://192.***.***.100:9117/api/v2.0/indexers/******/results/torznab/api?t=caps&apikey=ekhg4ha*****************jn3qh'
--2017-08-12 11:05:04--  http://192.***.***.100:9117/api/v2.0/indexers/******/results/torznab/api?t=caps&ap

[2017-08-12 17:53] chibidev commented on #1658
@DrSeussFreak @D4rk56 are you having issue with BTN or Jackett altogether? If latter, please #1656 and post your logs as well. Thanks.

[2017-08-12 18:14] tchadawei opened #1660 "No results with CouchPotato when providing imdbid"
Jackett Version 0.7.1644.0

I'm using CouchPotato which is providing both imdbid and title search. But it always get 0 results.

This will return 0 results :
http://mylocalip:9117/potato/kickasstorrent?imdbid=tt3896198&search=Guardians+of+the+Galaxy+Vol.+2+2017&user=&passkey=mypasskey

This will work :
http://mylocalip:9117/potato/kickasstorrent?search=Guardians+of+the+Galaxy+Vol.+2+2017&user=&pas

[2017-08-12 18:16] MaDTaZ commented on #1656
This is from the f12 in browser
    }).fail(function () {
            doNotify("Request to Jackett server failed", "danger", "glyphicon glyphicon-alert");
        });
1093    });

Code diectly from .js
            doNotify("Request to Jackett server failed", "danger", "glyphicon glyphicon-alert");
        });
1093    });

[2017-08-12 18:19] chibidev commented on #1656
@flightlevel I think I have tracked it down. The JS API wasn't ready to deal with the scenarios with base path override, so if someone had a prefix in their URL (e.g. /jackett/ in case of @seanvree) it will not load correctly...
Anyway, v0.8.25 should fix it, please give it a go @seanvree.

[2017-08-12 18:21] chibidev commented on #1654
@D4rk56 please post your enhanced Jackett logs as well

[2017-08-12 18:29] D4rk56 commented on #1654
`

When | Level | Message
-- | -- | --
Aug 12, 2017 08:28:05 PM | Info | ReflectedHttpActionDescriptor ExecuteAsync Invoking action 'Logs()'
Aug 12, 2017 08:28:05 PM | Info | ApiControllerActionInvoker InvokeActionAsync Action='Logs()'
Aug 12, 2017 08:28:05 PM | Info | JackettAPINoCacheAttribute OnActionExecutingAsync
Aug 12, 2017 08:28:05 PM | Info | JackettAPINoCacheAttribute OnActionExecutingAs

[2017-08-12 18:31] MaDTaZ commented on #1656
Just load new version and same thing for me.  Still will not find the settings
 Error loading Jackett settings, request to Jackett server failed

[2017-08-12 23:10] Speaktomenow commented on #1580
I had already installed the latest cacert.pem file before posting, didn’t help.

I rolled back mono, re-installed Jackett and this has fixed the issue. Sonarr doesn’t seem to like older versions of mono, or at least it keeps telling me to upgrade.

Ignoring this prompt from Sonarr and just using the older version of mono seems to have got Jackett working without the SSL errors again.

Will have to

[2017-08-12 23:11] tchadawei commented on #1660
It looks like Jackett is actually expecting a parameter "imdb_id" rather than "imdbid".

But the specs from CouchPotota states that it should be "imdbid".
https://github.com/CouchPotato/CouchPotatoServer/wiki/Couchpotato-torrent-provider

Anyone experiencing a similar issue ?

[2017-08-12 23:36] PaintPauller commented on #1654
just got up and updated to Jackett Version 0.8.25.0. everything looks to be working again! thanks for all the help!

[2017-08-12 23:57] bdorsey16 commented on #1654
i'm on 0.8.25.0 and i'm still getting the error for both torznab and potato feed

[2017-08-13 00:02] PaintPauller commented on #1654
ok take that back i was able to reproduce the problem but i may have narrowed it down for you. after i got all 10 of my indexers set up and working i went to add a Admin password to jackett and as soon as i did that sonarr stopped working and started producing the 401.Unauthorized

hope this helps you track it down!

[2017-08-13 00:06] PaintPauller commented on #1654
just changed my password back to blank and it still does not work so i think it has something to do with a fresh install. i say this because before you make a password shows as "blank to disable" but when you add a password it changes to **** and even after changing it back to blank it shows as **** and will still produce the 401.Unauthorized error in sonarr

[2017-08-13 00:26] chibidev commented on #1654
@PaintPauller that's actually very helpful, and I hope I've finally found the issue. v0.8.26 should resolve it, please give it a go.

[2017-08-13 00:30] PaintPauller commented on #1654
i can confirm that v0.8.26 fixed it. even after adding back a password sonarr no longer gives the 401.Unauthorized error.

thanks for the fix and glad i was able to help you out!

[2017-08-13 01:09] seanvree commented on #1656
@chibidev   - Confused by your comment -

"e.g. /jackett/ in case of @seanvree"

Mine isn't set like that  - mine is " /jacket "   which has always worked .  I have my IIS rewrite rules set up for that as well.

[2017-08-13 01:15] chibidev commented on #1656
@seanvree The point is that on your machine any path for Jackett does not start at /, it starts at /jackett, so any API call must be prefixed with that path. In v0.8 there's a new API and the JS client was modified, however it couldn't handle these prefixes... 0.8.25 solves that and in your case instead of going to /api/v2/... it should go to /jackett/api/v2/....

[2017-08-13 01:18] seanvree commented on #1656
okay, cool @chibidev  I didn't know the API was modified.  Was just making a piont that it has alwasy worked that way.
I'll udpate and let you know

[2017-08-13 03:52] seanvree commented on #1656
@chibidev  - looks to be resolved. I"m on Jackett Version 0.7.1644.0

[2017-08-13 04:44] DrSeussFreak commented on #1658
Mine is relevant to #1656, not BTN, posting logs there

[2017-08-13 04:50] DrSeussFreak commented on #1656
Windows 10
Jackett Version 0.8.26.0
Sonarr 2.0.0.4949

Half of my torrent sites no longer work, below is the error in Sonarr

![screen shot 2017-08-12 at 11 45 54 pm](https://user-images.githubusercontent.com/175500/29246222-83b449a8-7fb8-11e7-963f-485fd29d794b.png)

yet in Jackett they are all fine, per a test.  This all just started.

![screen shot 2017-08-12 at 11 48 12 pm](https://user-images.

[2017-08-13 09:31] cloneMe commented on #1660
To my mind, this issue duplicates this one: TorrentPotato doesn't find torrents #1606

[2017-08-13 10:20] D4rk56 commented on #1654
It works again for me, but only for Radar, not Sonarr.
What is the api path now? (/api) ?

[2017-08-13 12:08] lrnv opened #1661 "How to change default limit=100 from sonarr/radarr requests ? ( for /api/all )"
Hi !
I got the feeling that the "aggregate" function of jackett, wich allow to manage providers **only** in jackett and not N+1 times (if you got N clients of jackett - 3 times for me Sonarr+Radarr), doas give less results than individual searches.

When performing a manual search in jackett, i got a lot of results than sonarr and radarr cant have. So my question is : Is there some limitating numb

[2017-08-13 13:02] tchadawei commented on #1660
I've been having a look into the code. It looks like if the provider is not defined as supporting imdb (in the Jackett/Content/Definitions folder), then any request with an imdbid parameter given will fail.

Maybe this imdbid should be left unused if the provider is not compatible.

[2017-08-13 13:55] tchadawei commented on #1660
I just made a PR : https://github.com/Jackett/Jackett/pull/1662

[2017-08-13 14:02] JigSawFr commented on #145
Roadmap reopened for fixes :) Stay tuned.

[2017-08-13 14:30] PoshSparks opened #1663 "[Req] GayTorrent.ru"
**Please use the search bar** at the top of the page and make sure you are not creating an already submitted issue. Duplicating issues makes it more difficult for everyone to follow. Your issue may have already been solved in the past as well.

Provide a description of the feature request or bug, the more details the better.
If you are experiencing an issue with a tracker, a **full log must be inc

[2017-08-13 15:28] razlebol commented on #1654
Same issue as D4rk56, some don't work in Sonarr while they do work in Radarr. I have a few that do work in Sonarr but the majority don't.

[2017-08-13 15:32] D4rk56 commented on #1654
**400.BadRequest**

`NzbDrone.Common.Http.HttpException: HTTP request failed: [400:BadRequest] [GET] at [https://plex.noplay.fr/jackett/api/v2.0/indexers/yggtorrent/results/torznab/api?t=tvsearch&cat=5030,5040&extended=1&apikey=35xvfybszy0m5ptzaazqgaat58z3cpgs&offset=0&limit=100]
  at NzbDrone.Common.Http.HttpClient.Execute (NzbDrone.Common.Http.HttpRequest request) [0x00129] in M:\BuildAgent\work

[2017-08-13 16:47] bdorsey16 commented on #1654
Torznab routes work for me within Sonarr now. Potatofeed routes return a `System.Runtime.Serialization.InvalidDataContractException`. Changing the route from `http://localhost:9117/api/v2.0/indexers/privatehd/results` to `http://localhost:9117/potato/privatehd` returned results however

[2017-08-13 18:15] MaDTaZ commented on #1656
so before I upgrade again do I need to have my base path different then the default?

[2017-08-13 18:19] D4rk56 commented on #1656
@MaDTaZ For me /jackett, same error
![bmebcvb](https://user-images.githubusercontent.com/13504808/29252302-a040c360-8064-11e7-9f33-bf5109bcfbf3.png)

[2017-08-13 18:21] MaDTaZ commented on #1656
Ya that is what I had and still cannot upgrade.

[2017-08-13 18:26] JigSawFr commented on #1599
Hum, it's strange because I've just tested with your example, and API endpoint return 6 results in both case.
@flightlevel I've not tested with accents, as 99% of files have scene naming rules (so no accents)

As searching with lowercase don't affect us, we can let it search with lowercase if someone think we have better results doing with this manner.

[2017-08-13 18:28] JigSawFr commented on #1304
I will reintroduce categories, I've now test, and it's working successfully. Please open a new issue if the problem reappear.

[2017-08-13 18:28] #1304 closed

[2017-08-13 19:03] aureliensauv commented on #1599
i just tested, and effectively the problem seems to be resolved. Perhaps a fix on xthor api ... I don't know.

Je continu en francais. Initialement quand je tapais "The Last Man On Earth S03E09" l'api me retournait des résultats sur the last man mais S01E01 des trucs du genre (aucun match). J'ai testé un peu par hasard en mettant tout en minuscule et la nickel. Problème bizarre de base ...

[2017-08-13 19:37] sscraggles commented on #1657
Same issue here

[2017-08-13 20:00] JigSawFr commented on #1599
@aureliensauv pas de soucis, n'hésites pas si tu rencontres d'autres problèmes ;)

[2017-08-13 20:04] Eventyret commented on #1654
Just to confirm I still get this error as well 401.
I can post logs if it's wanted? But on latest 0.8.26.0 here.
Both Radarr and Sonarr Throwing errors and unable to connect to Jackett. (Ubuntu server)

[2017-08-13 20:07] hotio commented on #1661
Sad to see that the Sonarr devs were so quick in shutting this more than valid point down. The fault lies sorta indeed with Sonarr/Radarr, although not easily fixed by a higher number, because this means they would also request 5000 entries when doing individual provider calls.

So the value would probably have to be user configurable...

As a workaround setting the RSS Sync to 10min could reduce

[2017-08-13 22:49] lrnv commented on #1661
No, setting the RSS sink to a smaller time value wont solve the issue because you'll get the same flow of answer (if you'r looking for something OLD, you can assume the flow will not change), and the limit point fixed in the jackett request will stay the same.

Do you think i should EDIT the first post to make it shorter / more accurate ? (first github post in jackett's github)

[2017-08-13 23:13] hotio commented on #1661
Did not say it would solve the problem, it could in some cases help prevent missing releases on rss sync, not for older manual searches

[2017-08-14 02:39] tv8tony commented on #1654
also  get failed test in sonarr  on eztv, sky torrents, torrent project, but the pirate bay works
i have tried re installing  older versions and the setting the password blank

i am on windows Jackett Version 0.8.48.0

i was getinging the 401 error now i am geting
Unable to connect to indexer: HTTP request failed: [400:BadRequest] [GET] at [http://127.0.0.1:9117/torznab/skytorrents/api?t=tvsearch&

[2017-08-14 04:34] Taloth commented on #1661
@hotio I closed it because it's bad form to cross-post a question like this, because the Jackett team should be quite capable of explaining the issue, and posting it on the Sonarr github page an hour later because there wasn't get a response yet is just wrong and wastes our time.
His problem isn't limit, it's paging being tricky for aggregate feeds. limit simply is the size of a page, the offset p

[2017-08-14 06:38] MrRobot12 opened #1667 "[MoreThanTV] stopped working"
MTV stopped working with Sonarr as of a few days ago.

Indexers unavailable due to failures: MoreThanTV

17-8-11 21:48:05.0|Warn|HttpClient|HTTP Error - Res: [GET] http://127.0.0.1:xxxx/torznab/morethantv/api?t=tvsearch&cat=5030,5040&extended=1&apikey=(removed)&offset=0&limit=100: 400.BadRequest
<Error><Message>morethantv does not support the requested query.</Message></Error>
17-8-11 21:48:05.0|W

[2017-08-14 08:07] hotio commented on #1661
Understood, thanks for the clarification.

[2017-08-14 08:36] flightlevel commented on #1667
MoreThanTv supports categories 2000 and 5000
Can you try with category 5000 in Sonarr?

![Image](https://i.snag.gy/5m6YuO.jpg)

[2017-08-14 08:47] chibidev commented on #1654
Everyone getting HTTP error 400 and "xyz does not support the requested query", v0.8.49 probably fixes that. Please update and see if it's working.

[2017-08-14 08:47] lrnv commented on #1661
@Taloth i didnt know it was not cool to crosspost, in facts when i saw thar i **could** crosspost i did it because it had something to do with the 2 softs. Point. I didnt thaugth i'll put more workforce of volontary on m'y issue or what ever, and i'm not a terorist. My fault, i didnt know this github option was a no-no to use.

However, you'r saying it:s not this limit argument but a pagging issue

[2017-08-14 08:47] chibidev commented on #1656
Everyone getting HTTP error 400 and "xyz does not support the requested query", v0.8.49 probably fixes that. Please update and see if it's working.

[2017-08-14 09:04] JigSawFr commented on #1663
Thank you for your submit, but as it's a invite only tracker, we need an invite to test our work.

[2017-08-14 09:43] metaMMA commented on #1621
Extratorrent.cd is simply a mirror of TPB. It is not related in anyway to the previous ExtraTorrent.  See article here: https://torrentfreak.com/no-extratorrent-has-not-been-resurected-170524/ I suugest just using TPB.

[2017-08-14 10:05] JigSawFr commented on #1621
Thank you @metaMMA, as it's just a mirror of TPB, request is now closed

[2017-08-14 10:05] #1621 closed

[2017-08-14 10:10] JigSawFr commented on #1652
In my mind, we can clean up these titles in indexer definition for rutracker
What do you think of this @kaso17  ?

[2017-08-14 10:14] JigSawFr commented on #1617
@chibidev I agree implementing TMDB could be great as OMDB is not free. I don't know TvMaze, but why not use multiple API

[2017-08-14 11:05] MrRobot12 commented on #1667
Do you mean the setting on Sonarr that says Edit - Torznab - Categories?

I changed it from 5030,5040 to 5000 and it's working now. It's been working fine with the defaults 5030,5040 until now though. So, it's fixed?

Any idea why this change would be needed all of a sudden?

[2017-08-14 11:25] chibidev commented on #1661
@Taloth @lrnv it's not that simple. Sonarr/Radarr passes a limit=100 parameter in the torznab URI, which will always result in 100 matches or less. Jackett could ignore that parameter and provide additional results, however that would break the contract and a bad idea imho.
I don't know how result paging in Sonarr works, I've just never seen a call to my own server with offset other than 0. Perhap

[2017-08-14 11:54] hotio commented on #1488
When starting Jackett with `--DataFolder=/config`

Settings file and indexer files are saved/read from /config, the log file however goes to the path in $XDG_CONFIG_HOME/Jackett/log.txt

[2017-08-14 12:31] chibidev commented on #1617
@JigSawFr I intend to do that exactly, however I want to add proper analytics to see the results. Stay tuned!
(OMDB is not free, however that 5 bucks a month is really cheap for someone to provide a stable and fast API, and I think we should appreciate that. And with Jackett v0.8+ using OMDB is not mandatory.)

[2017-08-14 12:53] chibidev commented on #1667
@MrRobot12 there was a recent change in query validation, and in several cases the validation is stricter than before, so it might fail in cases it did not before.
I sense gaps in the Newznab API specification in this regard, so it is unclear to me whether a query to a  subcategory should look for results in the parent category as well... And vice versa. Happy to implement whichever if it becomes

[2017-08-14 14:21] JigSawFr commented on #1658
Tracker seems to be working great, I've just tested manual search with success.
`08-14 16:12:10 Info Manual search for "preacher" on BroadcastTheNet with 100 results. `
If you experience related problems with this indexer, please open an issue **with logs !**
Thank you

[2017-08-14 14:21] #1658 closed

[2017-08-14 14:37] DrSeussFreak commented on #1656
v0.8.49 resolved my issues

[2017-08-14 14:41] PoshSparks commented on #1663
sure thing, just let me know an email address to send the invite....

[2017-08-14 14:50] JigSawFr commented on #1663
Have you tested you definition with success ? If so, can you provide homepage "test" success and 2 manual search query (with one category, and all for second). Please attach logs.
As I will not use this account, you will lost one invite. (and I don't know tracker policy about invitee)

[2017-08-14 15:24] halali commented on #1151
Any news ?

[2017-08-14 15:28] JigSawFr commented on #1151
@halali you are not authorize to push directly to this repository. To do your need to "fork" si repo and clone your fork to work on. After that, you can open a "pull request" here to submit your changes :)

[2017-08-14 15:28] Guizzoni commented on #1592
@chmercesmoreira please create another issue to attend the B2S-Share problem.
Since i created the definition, we can work together to come up with a fix.

[2017-08-14 15:32] D4rk56 commented on #1654
Fix v0.8.49 work for me !

[2017-08-14 15:41] halali commented on #1151
@JigSawFr i just ask @gregorij89  for news about CZTorrent tracker regarding to this

[2017-08-14 15:43] JigSawFr commented on #1151
Mea culpa :)

[2017-08-14 15:46] Taloth commented on #1661
@chibidev Sonarr does the following:
- Use the 'default' specified in caps -> limits, as you already noted.
- Fetch a page using the specified limit.
- Optionally fetch additional pages if the last retrieved page has the full length as specified by the limit.
- It'll do so till:
  - when the last page wasn't the full length.
  - or a maximum of 30 pages (=30 api queries), which is just an arbitrar

[2017-08-14 15:48] #1590 closed

[2017-08-14 16:20] thebluepotato commented on #1589
To provide a short update: I've created a version of the KAT definition using cookies and it works (i.e. connection and testing succeed). I'm waiting for the current definition to fail again and then I'll see if the cookie version still works (which it should). Setup is not overly complicated, just not as elegant as username and passkey alone.

[2017-08-14 16:44] tv8tony commented on #1654
Jackett Version 0.8.55.0 all fixed for me

[2017-08-14 17:23] leloki commented on #1636
@kaso17 Thanks ! your workaround correction is perfect :) it works now.
In addition to the nightly version of Radarr which include a force download tool to add an alternative title or year everything is working now :)

Thanks again !

[2017-08-14 17:41] #1654 closed

[2017-08-14 19:16] raspdealer opened #1672 "Search by URL improvements"
Hi guys,

This new feature is working nicely except a small minor thing.
The results table displays "no result available" before the search ends.

You though it's finished without results but green symbol still turning.

Thx

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/48252224-search-by-url-improvements?utm_campaign=plugin&utm_c

[2017-08-14 20:12] chibidev commented on #1661
@Taloth thanks for the detailed answer, that helps a lot. If Sonarr indeed uses the limit specified in caps, then it's relatively easy to increase the number of results for the aggregate.
Back to the question of paging: I agree that normally it wouldn't be hard to do for an aggregate, however the problem is that paging is rarely supported by the indexers as of now. So first it needs to be somehow

[2017-08-14 22:17] antigravity83 opened #1673 "[Tasmanit.es] Not Working?"
Hi there,

I can't seem to pull any results from Tasmanit.es, even when there is applicable content available

For example- I just searched for "Australia Survivor S04E07", which is available in Tasmanit.es, but Jackett returns no results

Jackett Result: ![image](https://user-images.githubusercontent.com/27241813/29294218-a284e72c-8191-11e7-81c9-9ddb177ed9b8.png)
Tasmanit.es Torrent List:
![image

[2017-08-14 22:57] thebluepotato commented on #1589
Longer update: KAT's two-step login really is an obstacle here. I've tried various combinations:
 - Cookies: this works for some time but they end up being somehow invalid after sometime and they work again once you've logged yourself into the Community page with your browser... I.e., it fails when the current implementation fails (and works when it works too).
 - I've tentatively tried to at leas

[2017-08-15 02:56] metaMMA commented on #1657
From the jackett log file after doing a manual demonoid search and clicking the download button:

`2017-08-14 21:40:47.3047 Error Failed download cookies: __cfduid=d5e0b538a49b3c8a39c6d13311fbbe75d1498801143; uhsh=a3dba6ed58da1c82bf442378a01dabc5a6bcc5470af7cdbfee37c3c2ffd53dfd; uid=9860911; lkni=0; vc0=deleted; cf_clearance=7f704b7131f80a723071ef946e76ad89321d0b11-1500617781-7200; pucc=11; puccst

[2017-08-15 04:41] Taloth commented on #1661
The logic for paging for the aggregate is the same as the paging for non-aggregates coz the page size could be different between the api and upstream source, and thus needs the same kind of 'caching'. Alternatively the proper page size needs to be advertised on the caps per indexer so they match the upstream source.

I was under the assumption that Jackett supported paging for most indexers since

[2017-08-15 10:25] mueslo commented on #1617
Is anyone working on this already?

[2017-08-15 12:29] Guizzoni commented on #1650
So... I'm developing this definition, but got stuck with a problem i'm having.
The tracker searches using an "/all/torrents/{{ .Keywords }}.html" URL, but if i try to use uppercase, i get a "MovedPermanently" error, like this:

08-15 09:22:20 Debug IWebClient: Returning MovedPermanently => https://www.torlock.com/all/torrents/guardians.html

Is there a way to force lowercase in the query keywords?

[2017-08-15 17:29] chibidev commented on #1672
@JigSawFr so I guess I'm the web UI specialist now? 😄

[2017-08-15 17:35] chibidev commented on #1656
@JourneyOver @MaDTaZ @seanvree @D4rk56 can you confirm that v0.8.49+ works for you as well?

[2017-08-15 18:10] JigSawFr commented on #1672
Oh sorry, I was thinking it's related to your commit, that's why you are tagged 😇

[2017-08-15 18:11] #1660 closed

[2017-08-15 18:33] JourneyOver commented on #1656
Things have been working fine for me since my last message (where i did a shift + F5), currently on 8.55 atm with no issues.

[2017-08-15 19:19] romprod commented on #1436
Any joy on this?

[2017-08-15 19:32] D4rk56 commented on #1656
Yes

[2017-08-15 19:35] MaDTaZ commented on #1656
I will try the new version tonight

Cheers
Andie

On Aug 15, 2017, 12:32 PM -0700, D4rk56 <notifications@github.com>, wrote:

[2017-08-15 20:02] chibidev commented on #1672
Don't take this the wrong way, I have no issue implementing it, and you're right in a way that I was the one with the initial implementation. I just want to emphasize that I'm not really a frontend developer (although doing it for a couple years on the desktop), so if there's someone more qualified, I would have no issue letting it go :)

[2017-08-15 20:19] #1656 closed

[2017-08-15 20:58] toshi24 opened #1675 "UBUNTU - Error loading Jackett settings, request to Jackett server failed"
Hello,
I just update my jackett v0.7.1644 (stable) to v0.8.55 (pre-release) by checking ''Update to pre-release'' then ''apply server setting'' and finally ''check for update''.
The log show :
`Aug 15, 2017 10:42:39 PM | Info | New release found.  Current: v0.7.1644 New: v0.8.55`
And after this, all my indexers disappear and I have the following error :
`Error loading Jackett settings, request to

[2017-08-15 21:43] thebluepotato commented on #1675
Hi! Your issue is a duplicate of #1656. Solution: force refresh using Shift+F5 or Ctrl+Shift+R.

[2017-08-15 21:46] thebluepotato commented on #1663
@PoshSparks If you still need someone to test or fix it (I've had my share of trials with the KickAssTorrents definition), you can send an invite my way (and I'd actually use the account afterwards too 😇)

[2017-08-15 21:47] supremacy2k opened #1676 "[nyaa.si] Indexer missing."
In latest release, nyaa.si  indexer is missing.

Jackett Version 0.8.49.0

[2017-08-15 23:57] MaDTaZ commented on #1656
Upgraded just now and confirmed working

Cheers
Andie

On Aug 15, 2017, 1:19 PM -0700, JigSaw <notifications@github.com>, wrote:

[2017-08-16 02:42] dualznz commented on #1656
Shift + F5 worked for me, loaded all indexers just fine

[2017-08-16 03:40] seanvree commented on #1398
Yeah, I have the same issue.

[2017-08-16 03:47] seanvree opened #1677 "Error: "Bytes to be written to the stream exceed the Content-Length bytes size specified.""
OS:  Windows 10E 1703 X64
Jackett Ver:  0.7.1644.0

I get the below error about every 10 minutes.  Jackett seems to be working fine, just wondering what this error is.

[code]

Screen Shot:

![image](https://user-images.githubusercontent.com/8906637/29346556-e44e211e-81fa-11e7-8f9c-4288b78a9902.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysou

[2017-08-16 04:44] epheterson commented on #185
This happens for me all the time, I'm running the latest 0.7.1644.0 (and stay updated).

This is my exception:
System.Exception: Error while parsing field=download, selector=td > a[href^="/file"], value=<null>: Selector "td > a[href^="/file"]" didn't match <tr>   <td style="word-wrap: break-word;"> <a href="/info/a5ad09c7e6b0a86e72ee6b65c9ecdc7b9fa371eb/FILENAMEHERE/?l=en-us" title="FILENAMEHERE">

[2017-08-16 10:34] kaso17 commented on #185
@epheterson your erros are caused by an sky torrents, it was fixed in #1626 but there was no stable release containing the fix yet.

[2017-08-16 10:36] kaso17 commented on #185
@epheterson You also should update mono to version 5

[2017-08-16 13:00] kaso17 commented on #1661
#975 and #250 are related issues.
For proper pagination support we'll definitely will need some kind of internal state storing/caching for many indexers.
Until someone implements this a simple workaround for the aggregate feed would be to make the currently hard coded limit of 100 configurable and set it to something high (>= 1000) for the aggregate feed.

[2017-08-16 13:05] JigSawFr commented on #1661
@kaso17 maybe we can use my caching mode on my indexers to implement something ?

[2017-08-16 13:46] kaso17 commented on #1661
@JigSawFr Not sure which caching mode you're referring too? The one which is implemented by some indexers (indexer specific code)?

I see to general solutions:
Extend the torznab protocol to add a way of returning internal state information as part of the results and getting it back on follow up queries. That would allow jackett to stay stateless. But as the clients (sonarr, etc.) would have to su

[2017-08-16 15:25] #1675 closed

[2017-08-16 16:08] davedorm opened #1678 "ar"
**Please use the search bar** at the top of the page and make sure you are not creating an already submitted issue. Duplicating issues makes it more difficult for everyone to follow. Your issue may have already been solved in the past as well.

Provide a description of the feature request or bug, the more details the better.
If you are experiencing an issue with a tracker, a **full log must be inc

[2017-08-16 16:10] #1678 closed

[2017-08-16 16:11] davedorm commented on #1678
No idea how I opened this.

[2017-08-16 17:25] JigSawFr commented on #1676
Old definition was deleted and replaced.
See here: https://github.com/Jackett/Jackett/blob/08b471fd1e3208b1c0e73ce56a853437842d15ef/src/Jackett/Definitions/nyaasi.yml
You need to re-add this indexer.

[2017-08-16 17:30] supremacy2k commented on #1676
yes, and as i stated, the Indexer is MISSING.

See picture.
[http://imgur.com/a/JN411](Indexer completely missing in Jackett)

[2017-08-16 17:34] JigSawFr commented on #1636
@kaso17 maybe we can detect if request is processed by Radarr and strip year in this case ?

[2017-08-16 18:59] lrnv commented on #1661
It's amazing to see how fast you are taking care of the issue, thanks a lot guys !

If i understand clearly, wont the group PR that @chibidev work on solve the aggregate issue ? Thinking about juste a group consisting of all trackers. But maybe i didnt get the issue right ;)

[2017-08-16 23:11] chibidev commented on #1661
@lrnv not quite. At least not yet. I do plan on addressing this, maybe within that PR, however the grouping by itself will not resolve this.
(In essence the aggregate feed currently can be thought of as a non-configurable group that always hold all the configured trackers. The implementation behind them is basically the same.)

[2017-08-16 23:25] chibidev commented on #1661
@kaso17 we could use a cookie, a JWT token or the ASP.NET session ID to "identify" the request, but that might as well not be needed.
I was thinking that the "abstraction layer" can be an on-demand enumerator, which grabs one page and grabs the next one when the existing results are enumerated, and continues doing so until all results are enumerated. It would be fairly easy to store this enumerato

[2017-08-16 23:27] #1676 closed

[2017-08-16 23:30] chibidev commented on #1617
@mueslo I don't think so, I at least am not treating it with a very high priority.

[2017-08-17 07:00] kaso17 commented on #1617
I'm not working on it either.

[2017-08-17 07:10] panoramasecret opened #1679 "[Scenefz] Configuration Failed"
Myself and several other users we cannot add indexer scenefz.

The original issue #1398 dated 20 May 2017 was not sorted out. On 30 May 2017 I add a comment asking if anybody sorted out this issue, but no feedback, therefore, I opened new issue #1453 on 6 June 2017 which was closed as a duplicate for #1398.
On 8 June I added a new comment to #1398 asking again if anybody looking into this issue.

[2017-08-17 08:22] leloki commented on #1636
that could be useful yes but I doubt this is possible. And we have the same problem with the movies titles... But that is an even more difficult problem

[2017-08-17 08:45] JigSawFr commented on #1636
@leloki I don't know if Radarr set a custom UserAgent or something else

[2017-08-17 09:02] JigSawFr commented on #1679
I want to say that Jackett is an OpenSource project, we are not employees.
We try to do our best to maintain this application on free time.
You can sponsorise a feature to accelerate solving your problem.
https://www.bountysource.com/issues/48351476-scenefz-duplicate-issue

[2017-08-17 10:03] chibidev commented on #1679
@panoramasecret I understand that the tracker not working is frustrating, however as @JigSawFr mentioned Jackett is an open-source project. We are all working on making it better, but we have limited resources as well. One of the advantages of being an open-source project is that anyone can contribute. I do believe that eventually we'll look into the issue, but we have other priorities, so don't t

[2017-08-17 10:22] panoramasecret commented on #1679
Hi,

OpenSource noted, my mistake, you are right. I’ve made a donation to help
the project. My frustration was only for lack of feedback.

All my respect for your efforts.

*From:* JigSaw [mailto:notifications@github.com]
*Sent:* 17 August 2017 12:03
*To:* Jackett/Jackett <Jackett@noreply.github.com>
*Cc:* panoramasecret <panoramasecret@gmail.com>; Author <
author@noreply.github.com>
*Subject:* Re

[2017-08-17 10:52] kaso17 commented on #1661
aa157cfcb92f826c44ab472399cf4807b898714e adds support for the caps/limits element
69aa38c1ff217769a73afe816fafc072981e6beb increases the limit for the aggregate indexer to 1000 until proper pagination is supported.
@lrnv is 1000 a suitable limit for you or do you expect even more results?

[2017-08-17 10:57] kaso17 commented on #1661
@chibidev the newznab/torznab document doesn't specify that the client have to support any kind of state keeping (cookies/session IDs) between requests. Expecting support for cookies seems to be a bad idea in my opinion. I think we'll have to cache the results based on the query parameters and maybe the remote IP.

[2017-08-17 11:07] flightlevel opened #1680 ".NET Core 2 Investigation/Thoughts"
.NET Core 2 was released earlier this week

Have a had a quick play and it is more polished than 1.0 with tooling now present and the ability to use class libraries written before NETStandard and NETCore eg CsQuery

At the same time it isn't going an hour job, biggest job on initial mucking around was changing the web server from Owin to Kestrel, but @chibidev 's recent changes should simply thing

[2017-08-17 11:10] flightlevel commented on #1673
Without logs its anyones guess?
If you have an invite, can have a look jackettapp AT gmail

[2017-08-17 11:15] flightlevel commented on #1617
Instead of looking at adding another provider, I think we should instead look at if can remove OMDB completely.
You'd think as of 99%+ aren't using an OMDB key today

The reason the OMDB lookup was added was for torrentpotato. Originally torrentpotato requests ONLY emitted the imdb_id. But, now that torrentpotato requests supply both movie name and imdb_id, do we really need to convert any imdb_id

[2017-08-17 11:35] antigravity83 commented on #1673
Sorry, I checked logs and all I saw was what I pasted in the original issue. Didn't realise there was a detailed log option. Please see below.

Sonarr Debug Log: https://pastebin.com/MJVjhewf
Jacket Log: https://pastebin.com/tmZZvfKU

Searched for True Story with Hamish and Andy - S01E08 via Sonarr.

Sonarr returns no results, but file is available on Tasmanit.es

![image](https://user-images.gith

[2017-08-17 11:42] flightlevel commented on #1673
Can you try copying this into your web browser and see if there is any results

`http://localhost:9117/torznab/tasmanit/api?t=tvsearch&cat=5000,5050,100055,100076,100016,100080,100017,100013,100015,100021,100022,100072,100023,100011,100008,100018,100014,100009,100010,100012&extended=1&apikey=8ir13nyhd8fc1rn69tfq09dacolphc04&offset=0&limit=100&q=True Story With Hamish Andy&season=1&ep=8`

[2017-08-17 11:54] antigravity83 commented on #1673
This is what I get:

https://pastebin.com/uBY0xF6C

[2017-08-17 12:06] JigSawFr commented on #1680
It could be great to switch on .Net Core 2 for all advantages that you said. I think we could create a new branch and start working on ?

[2017-08-17 14:28] kaso17 commented on #1680
If we can continue to use CsQuery it should be possible to make the necessary changes. That was the biggest show stopper for me last time I checked.

I'm just a little bit concerned regarding the ARM32 users (Synlogogy, rasperypi, ...). AFAIK .NET core is not officially supported for ARM32 but there's community support. Not sure how complete/stable it is.
On the other hand it might solve a lot of

[2017-08-17 14:41] kaso17 commented on #1673
From the HTML output from the log:
`Found 0 releases from Tasmanit for: True Story With Hamish And Andy S01E08`
In your screenshot it seems like file name used the "&" symbol but you're searching with "and". That might be the problem.

[2017-08-17 15:01] kaso17 commented on #1636
@JigSawFr It definitely would be possible to add the necessary features on the radarr/jackett side but what would be the benefit if it's only striped for radarr queries? It seems like a general (or at least french) release naming/searching issue.

[2017-08-17 15:05] kaso17 commented on #1398
To give you an update:
The current definition is for the old scenefz. The new one has a completely different software/layout. Due to that the definition must be completely recreated.
I've very little time currently and I'm focusing on other broken trackers which require less work.

[2017-08-17 15:08] kaso17 commented on #1436
If someone has an invite for me (kaso1717 -at- gmail.com) I can have a look at it, should be an easy fix.

[2017-08-17 15:47] seanvree commented on #1398
all good @kaso17  - thanks for the work!

[2017-08-17 15:51] kaso17 commented on #1650
there's a "tolower" filter that shpould fix your problem:
[code]

[2017-08-17 16:02] kaso17 commented on #1657
seems like they changed from relative links to absolute links.
should be fixed with cab91ff3467aa513d8f4aca713c9d626a617d4bb

[2017-08-17 16:02] #1657 closed

[2017-08-17 16:04] kaso17 commented on #1589
Closing this for now as it should work for the time being.

[2017-08-17 16:04] #1589 closed

[2017-08-17 16:13] chibidev commented on #1680
@flightlevel Thanks for launching up the conversation. I'd really want to move forward with this, however it's unclear to me how big of a work we're really talking about.
From what I can gather most changes will affect the startup and the additional filters/attributes we have on the controllers.
Would it be possible to somehow estimate the work to be done? I'd rather

@kaso17 ARM32 builds are now

[2017-08-17 16:28] chibidev commented on #1617
@flightlevel well TP is not the only one the fallback is there right now. You can provide fallback mechanism for MetaIndexers that will generate additional results.
The problem with metas is that once a member supports IMDB queries, the metaindexer will support IMDB query, however upon posting IMDB query it will only ask those that are capable of providing a result from that query. This means that

[2017-08-17 16:40] #1398 closed

[2017-08-17 16:40] JigSawFr commented on #1679
Need to be recreated from scratch.

[2017-08-17 16:46] JigSawFr commented on #1661
@kaso17 totale agree, in dev mode (only) for my French indexers, I support request caching based on search query. At the beginning it was designed to limit impact when developing definition, but we could create something based on it.

[2017-08-17 18:17] leloki commented on #145
Hi @JigSawFr !
T411 is back !!!!!
https://t411.si

Could you add it in Jackett ?

[2017-08-17 18:45] Guizzoni commented on #1650
Thanks @kaso17!

[2017-08-17 18:59] nofaddey commented on #1623
This is a log of it starting and running two tests on isohunt and kat

[log.txt](https://github.com/Jackett/Jackett/files/1232304/log.txt)

[2017-08-17 19:45] KillerdogKD commented on #1285
Hi,

i have the same problem, i'm running it on Libreelec. have mono 5.0.1 installed and jackett installed with https://github.com/thoradia/thoradia

make the update with mannual copy of new file (0.8.59.0) with ssh access.

i primary have the access bug, doing shift+F5 for refill cache.

but can't connect to yygtorrent and to other indexer (kickasstorrent, nextorrent,t411v2) i have this error.
Er

[2017-08-17 19:47] Ovius opened #1682 "[Thepiratebay] Error 500 with "Hexadecimal value 0x0F, is an invalid character"
Jackett version:  0.8.59.0
Mono version (if not using Windows):  4.6.2

-------------------------------
Not sure what this could be.  Certain searches return this odd error, and the jackett log (from journalctl) doesn't seem to contain any clues - it just states that the episodes were found.  The error:

[code]

[2017-08-17 19:48] ajslater commented on #1285
i think for me it was a permissions error, which meant that updating jackett didn't get updated certs for some reason.

@flightlevel's solution would work for me, but i'd have to do it every time. eventually i fixed my ownership issue with my jackett install and it went away.

[2017-08-17 20:34] antigravity83 commented on #1673
Thanks. I don't believe that's the issue though as I can't find any content on Tasmanit.es, regardless of the content name.

[2017-08-17 23:26] Gromak123 opened #1683 "[T411 V2] Test failed and return nothing"
Hello, im on the latest version of Jackett (0.8.59) and it's seems that the T411 V2 indexer doesn't work anymore. here are  some enhanced logging of a test of the indexer :

When | Level | Message
-- | -- | --
Aug 18, 2017 01:20:58 AM | Info | ReflectedHttpActionDescriptor ExecuteAsync Invoking action 'Logs()'
Aug 18, 2017 01:20:58 AM | Info | ApiControllerActionInvoker InvokeActionAsync Action='L

[2017-08-17 23:39] epheterson commented on #185
@kaso17 Thanks, I've removed SkyTorrents and I'll look into updating to v5 (Not sure how easy this is on Synology, since I installed the package using SynoCommunity).

[2017-08-17 23:41] JigSawFr commented on #1679
Almost finished, maximum infos are grabbed.

[2017-08-18 00:30] JigSawFr commented on #1679
Pull Request merged.

[2017-08-18 00:30] #1679 closed

[2017-08-18 00:33] JigSawFr commented on #1145
Thank you @nayab9

[2017-08-18 00:37] JigSawFr commented on #145
@leloki hi, it's already present, but in my mind this tracker is not safe to use, be prudent.

[2017-08-18 00:37] #145 closed

[2017-08-18 00:37] JigSawFr commented on #1650
Thanks you @Guizzoni

[2017-08-18 09:27] zero77 commented on #1650
Thanks @Guizzoni

[2017-08-18 09:29] kaso17 commented on #1613
they deleted my account due to inactivity, somebody else has to fix it.

[2017-08-18 09:37] AlexMihe opened #1685 "Request to Jackett server failed / error"
Hello,

Since I've updated to the pre-release, now on 0.8.67.0 I always get the two errors:
- "Request to Jackett server failed" when I try to add an Indexer
- "Error testing indexer, request to Jackett server error" when I want to test indexers

I've added a copy of the logs below.

I'm on QNAP with the app from "Guerithault Stephane (QoolBox)" version 0.7.1437

Thank you for your help !

**Edit:

[2017-08-18 10:06] kaso17 commented on #559
is this tracker still alive (getting a Cloud flare error)?

[2017-08-18 10:19] kaso17 commented on #1673
then please post an updated log. Does the jackett manual search feature work?

[2017-08-18 10:29] kaso17 commented on #1236
Is isohunt still alive?
Currently it seems like search and latest torrents don't work.

[2017-08-18 10:31] kaso17 commented on #1685
please make sure your browser cache is cleared (Ctrl+F5)

[2017-08-18 10:56] flightlevel commented on #1680
Thanks for the comments guys

ARM32
Don't think its a show stopper, think its just more later to the party. .NET core 2.1 due later this year as well. This https://github.com/dotnet/announcements/issues/29 `The builds are not yet supported by Microsoft and have preview status. Please give us feedback.` 'Yet' implies that it will eventually to me and roadmap indicates goals are to have a high quali

[2017-08-18 11:07] KillerdogKD commented on #1285
I disable the addons and install it via Docker (https://hub.docker.com/r/linuxserver/jackett/)

It solve my issue.

[2017-08-18 11:17] Gershy13 opened #1686 "IPTorrents not working?"
Im trying to get sonarr and radarr to connect with iptorrents and be able to search, but its not working...
Jackett comes up with an issue saying: Error: An error occurred while sending the request.

Anyone know what is going on and how i can fix it?

Thanks
Gershy13

[2017-08-18 11:29] raspdealer commented on #661
Very interested in this one too. Currently a tracker not working well is filling my results with 💩 results.
It will be nice to just have a way to disable it.

[2017-08-18 11:29] PoshSparks commented on #1663
apologies... I've been unavailable for the last couple of days...   JigSawFr... I'll work on getting some testing completed shortly..

note, I don't mind sparing one or two invites at this time...  as I don't send many invites out to begin with...:)  Just let me know an email address to send an invite to..

[2017-08-18 11:30] #1332 closed

[2017-08-18 11:43] kaso17 commented on #1285
From the troubleshooting section of the readme:
try running
`wget -O - https://curl.haxx.se/ca/cacert.pem | cert-sync /dev/stdin`

[2017-08-18 11:43] Guizzoni commented on #1650
You're welcome :)

[2017-08-18 11:50] leloki commented on #145
@JigSawFr Hi, yes I tried it in Jackett but it seems broken, no results whatsoever. Why do you say it is unsafe ? Hadopi or something else ?

[2017-08-18 12:09] JigSawFr commented on #145
This tracker is not a "real" tracker. It's just a mirror of files indexed from public trackers such as ThePirateBay and others. If you found magnet link, it's not a private / semi-private tracker.

[2017-08-18 12:58] AlexMihe commented on #1685
It did work, for when I want to test indexers. Thanks !

But I still have the issue when I'm trying to add "Abnormal" as an indexer, I have the error: "Request to Jackett server failed"

Thanks !!!

[2017-08-18 13:16] thebluepotato commented on #1663
@PoshSparks my email : jonas[dot]zaugg[at]yahoo[dot]com

[2017-08-18 13:23] flightlevel commented on #1680
Had a bit of a play https://github.com/Jackett/Jackett/tree/dotnetcore
As expected biggest area of work initially looks to be the controllers, will try and have another go on Sunday

[2017-08-18 13:27] PoshSparks commented on #1663
invite sent...

[2017-08-18 13:29] PoshSparks commented on #1663
also, I have an update...

did do some testing... got further this time... found some syntax issues... I am now able to add the indexer... alas, can't search anything...
[code]

[2017-08-18 13:45] thebluepotato commented on #1663
Yeah I'm guessing the login part isn't working in your definition here. I'll try to fix it tonight!

[2017-08-18 14:02] KrimsonStudios opened #1687 "Skytorrents.in not working"
This indexer is not working, fails a "Test", saying returned 0 rows.

Error from log is here:

CardigannIndexer (skytorrents): Error while parsing row '<tr>   <td style="word-wrap: break-word;"> <a href="/info/059f26cfae3d7fdfdf106f3c6776373623bba4bb/Kill-Switch-2017-1080p-YTS-AG/?l=en-us" title="Kill-Switch-2017-1080p-YTS-AG">Kill Switch (2017) [1080p] [YTS.AG]</a>       <br>		   <a href="magnet:

[2017-08-18 14:16] KrimsonStudios commented on #1687
Better log attached:

[Jackett.log.txt](https://github.com/Jackett/Jackett/files/1234656/Jackett.log.txt)

[2017-08-18 14:21] KrimsonStudios commented on #1687
Sorry, closing my own ticket. I see now this was already addressed and is just not out in an official release.

[2017-08-18 14:21] #1687 closed

[2017-08-18 15:56] kaso17 commented on #423
is this tacker dead?

[2017-08-18 15:57] thenamelessthing commented on #423
Yes. ;-(

[2017-08-18 16:00] kaso17 commented on #168
removed 978ce0827f09d545c4a3efad14b581f55d90d062

[2017-08-18 16:08] kaso17 commented on #30
is this tracker dead?

[2017-08-18 16:16] solspire commented on #1683
t411 is t411.si now
Jackett support that ?
I would like t411 provider in "MYLAR" (automated downloader for comics)
If you have any recomandation..

[2017-08-18 16:26] kaso17 commented on #1192
fixed via d866758a0d7cc9c2dd9405dcdd289019ced0ae9d

[2017-08-18 16:26] #1192 closed

[2017-08-18 16:29] kaso17 commented on #423
thank you for confirming, removed via 7229da2fbbeca095592413a88649c99922a7258b

[2017-08-18 16:34] kaso17 commented on #1680
@flightlevel it's not possible to compare the branch to the current master, can you convert it to a proper branch?

[2017-08-18 16:35] kaso17 commented on #1685
please provide an enhanced log

[2017-08-18 16:59] dxm765 commented on #30
I'm not sure, I see its currently unreachable, not sure if its down for
maintenance or if its dead.

On Fri, Aug 18, 2017 at 12:08 PM, kaso17 <notifications@github.com> wrote:

[2017-08-18 17:01] kaso17 commented on #1682
fixed with e8742554c23b7234b87db21271bbb7369b273075

[2017-08-18 17:01] #1682 closed

[2017-08-18 17:07] kaso17 commented on #1623
@nofaddey what kind of hardware are you running jackett on?
You're using the legacy libcurl webclient.
Please Try running jackett with `-c httpclient`

isohunt is down (https://isohunt.to/latest.php)

[2017-08-18 17:07] Ovius commented on #1682
Great, thank you!

On Fri, 18 Aug 2017 at 19:01, kaso17 <notifications@github.com> wrote:

--

*______________________________*

*Chance M. Carey*

[2017-08-18 19:34] solspire commented on #1683
I had create t411v2.yml in definition folder and paste the code for t411.si but
i can't add this provider

[2017-08-18 19:59] AlexMihe commented on #1685
**Please find it below:**

[2017-08-18 20:05] lrnv commented on #1661
@kazo17

a thousand is a lot, and more than enough. Sonarr grabed about 200 releases before i get to home the day my jackett downloaded your commit. Thanks a lot for that, it's a lot better and it'll do the job for the moment

[2017-08-18 22:04] thebluepotato commented on #1663
@PoshSparks I've added PR #1689. It works flawlessly for what I've tested but since you seem to know the site better, please test it too and report on #1689 what doesn't work.

[2017-08-18 23:27] flightlevel commented on #1680
Done, its brutal though, just trying to simplify things, more proof of concept

[2017-08-19 06:15] antigravity83 commented on #1673
Here's the logs searching for content mentioned in the original post (Four Corners).

Sonarr Results (note IPTorrents OK):
![image](https://user-images.githubusercontent.com/27241813/29484005-edcf1814-84f8-11e7-8231-d56640e7f4da.png)

Proof of availability on Tracker:
![image](https://user-images.githubusercontent.com/27241813/29483981-6e8a0974-84f8-11e7-85b0-2a3770593d83.png)

Jackett Log:
https:

[2017-08-19 08:49] kaso17 commented on #1673
Does
http://localhost:9117/torznab/tasmanit/api?t=tvsearch&extended=1&apikey=8ir13nyhd8fc1rn69tfq09dacolphc04&offset=0&limit=100&q=Australian Survivor&season=4&ep=6 return any results?
what about manual search (from the jackett GUI)

[2017-08-19 08:55] antigravity83 commented on #1673
This is the result I get when visiting that URL:
https://pastebin.com/M8CpQMf1

I get results when using the Jackett GUI- notice that the published date is a negative? Could that be the issue?
![image](https://user-images.githubusercontent.com/27241813/29485123-e23b1d24-850f-11e7-8ed2-dd5d114da248.png)

[2017-08-19 09:10] Gabe323 commented on #1685
I've been getting this same error for the last month or so and stopped using Jackett. Updated and tried again but still there. I get the error with IPT and HDBits but Torrentleech added fine.

======IPT======

Aug 19, 2017 01:55:01 AM | Info | ReflectedHttpActionDescriptor ExecuteAsync Invoking action 'Logs()'
-- | -- | --
Aug 19, 2017 01:55:01 AM | Info | ApiControllerActionInvoker InvokeActionAs

[2017-08-19 09:21] romprod commented on #1436
Invite sent

[2017-08-19 12:55] PoshSparks commented on #1663
@thebluepotato,

    gave an update... outside of cleaning up some of my category mappings, looks good to go...

fyi, i have one more tracker, similar to this one, if your interested... I do not believe an invite is needed as it appears to be open registration...   let me know, I will submit a separate ticket for it..

[2017-08-19 13:32] thebluepotato commented on #1663
@PoshSparks Did the cleanups you asked for, now it's pending approval.
Regarding the other tracker: might it be Gay-Torrents.net? In that case, please check out #1690.

[2017-08-19 13:52] PoshSparks commented on #1663
your awesome! that was it!..  :)

[2017-08-19 15:29] thebluepotato commented on #1685
I'm having the same issue (currently on 0.8.55.0). My guess is that the error string isn't passed correctly to the notification. For example when entering the wrong login, I get the red notification "Request to Jackett server failed" and the enhanced log shows:

When | Level | Message
-- | -- | --
Aug 19, 2017 05:14:03 PM | Error | ApiControllerActionInvoker InvokeActionAsync
Aug 19, 2017 05:14:03

[2017-08-19 16:57] ladude626 commented on #1524
Looks like by default it searches the BD50 (full bluray disk). Is there anyway you can select another movie category like bluray 1080p?

[2017-08-19 17:46] hotio commented on #1686
Seems to be a problem on your end.

[2017-08-19 17:54] Gershy13 commented on #1686
Any ideas on how I can fix it? I just realised I can't access their site
unless I use a VPN... Maybe I need to fix that first...

On 19 Aug 2017 18:46, "hotio" <notifications@github.com> wrote:

[2017-08-19 19:16] joshuata commented on #1680
The bower packages needed in the bower.json are:
[code]

[2017-08-20 00:27] Richard-Riddick opened #1691 "Cannot open/access Jackett"
I'm trying to use Jackett on macOS 10.12.6 using the instructions found in the ReadMe file, but when I try to access it in a web browser, I receive err_connection_refused messages.

Jackett version: 0.8.67
Mono version: 4.8.0
Browsers tried: Chrome 60.x, Firefox 55.x, Safari

When I run mono --debug JackettConsole.exe, it tells me to use mono-service instead. When I do, I get the following:

`08-1

[2017-08-20 06:06] KennyVB opened #1692 "potatofeed"
Jackett version:  pre-release 0.8.67.0
Mono version (if not using Windows):  4.8.1

-------------------------------

my couchpotato fails in connection to jacket with the "either links don't work"

at the torrent index I added I have this link
http://10.0.1.36:9117/api/v2.0/indexers/hounddawgs/results/potato/

how ever couhcpotato says it returns a error when trying to connect to it
ERROR
[hpotato

[2017-08-20 06:27] KennyVB commented on #1654
i have the error on latest pre-realse version  0.8.67.0
testing my apices here
http://10.0.1.36:9117/torznab/hounddawgs/api?t=caps&apikey=APIKEY
verify it works
how ever the link for potato feed http://10.0.1.36:9117/api/v2.0/indexers/hounddawgs/results/potato/
doesnt seem to work from couchpotato, and when I visit the link I get a error from couchpotato
ERROR
[hpotato.core.plugins.base] Failed op

[2017-08-20 08:50] AlexMihe commented on #1685
I have the error: "Request to Jackett server failed" only with Xthor and HD-Forever

Would anyone have an idea ?

Thanks !

[2017-08-20 10:52] JigSawFr commented on #1685
@thebluepotato correct, I've just seen since the new API of Jackett, when an error occurred, a generic message is displayed, I'm investigating this error.

[2017-08-20 11:03] chibidev commented on #1692
@KennyVB you have user and passkey twice in the URL, which is why Jackett gives you an error. All parameters should be passed exactly once.

[2017-08-20 11:13] JigSawFr commented on #1685
Fixed in https://github.com/Jackett/Jackett/commit/26dd740a53997ee34a94a539a5fdf766a04c9f87

[2017-08-20 11:13] #1685 closed

[2017-08-20 11:39] KennyVB commented on #1692
I only pasted the http://10.0.1.36:9117/api/v2.0/indexers/hounddawgs/results/potato/ directly into couchpotato and nothing else :) but if what you said is true, then the problem is at couchpotato ?!?

[2017-08-20 13:11] Eventyret commented on #1654
@KennyVB that looks like its not passing the user and its doing user and the key twice

[2017-08-20 13:38] chibidev commented on #1692
@KennyVB if that's the URL CP tries to open I'd say CP is the culprit here. It's probably reasonable to raise this issue for them as well.

[2017-08-20 13:58] thebluepotato commented on #1607
PR #1693 on the way. In the meantime, just replace `https://kat.how` with `https://thekat.se`
Cheers!

[2017-08-20 14:56] #1607 closed

[2017-08-20 15:00] #1683 closed

[2017-08-20 18:45] c0den00b opened #1695 "Please reenter captcha"

[2017-08-20 18:52] thebluepotato commented on #1691
I think I know why it fails: the log loads definitions from `/Library/Frameworks/Mono.framework/Versions/4.8.0/lib/mono/4.5/Definitions` but this should actually be `/path/to/Jackett/Definitions`, in my case `/Applications/Jackett/Definitions`. My guess is that the working directory when you call Jackett isn't Jackett's but Mono's. That's why it can't locate the server and doesn't load any definit

[2017-08-20 20:50] D4rk56 commented on #1683
@thebluepotato thanks !

[2017-08-20 21:29] bonk1990 opened #1697 "[bithdtv] No username or password input Login again (Config)"
**Please use the search bar** at the top of the page and make sure you are not creating an already submitted issue. Duplicating issues makes it more difficult for everyone to follow. Your issue may have already been solved in the past as well.

Provide a description of the feature request or bug, the more details the better.
If you are experiencing an issue with a tracker, a **full log must be inc

[2017-08-20 23:27] MaDTaZ commented on #258
hey all
I am running ubuntu but I dont see Jackett in my .config directory.  Would there be another spot for it.

[2017-08-21 01:22] antigravity83 commented on #1673
Full logs have been provided. Cheers

[2017-08-21 07:40] kaso17 commented on #777
For others who find this issue:
Jackett had some encoding issues causing incompatibility with some clients. By now every RSS client should be able to use the torznab feed as normal RSS feed too. Just add your apikey to the torznab feed URL:
Example: `http://127.0.0.1:9117/api/v2.0/indexers/thepiratebay/results/torznab/?apikey=YourJackettApiKey`

[2017-08-21 07:49] kaso17 commented on #1613
@JigSawFr did you test if it works again?
I've only changed the URL in the definition but didn't test it.

[2017-08-21 08:20] JigSawFr commented on #1695
No more content ? It will be difficult.

[2017-08-21 08:20] #1695 closed

[2017-08-21 09:19] JigSawFr commented on #1613
@kaso17 I supposed it was fixed by changing link

[2017-08-21 12:09] kaso17 commented on #1613
@octophetus if you just change the URL in the indexer configuration to the new one, does that fix your problem?

[2017-08-21 12:10] kaso17 commented on #1436
thank you
fixed via 464b142130562b1c3040286ca68230674141664c

[2017-08-21 12:10] #1436 closed

[2017-08-21 12:22] JigSawFr opened #1698 "[wihd] Input string was not in a correct format. (Test)"
Wihd indexer failing at test.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/48492103-wihd-input-string-was-not-in-a-correct-format-test?utm_campaign=plugin&utm_content=tracker%2F25207257&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracke

[2017-08-21 13:04] kaso17 commented on #1697
cookie login was broken
fixed via 9928815777de81fe740d0d7084921d01958d89fe

[2017-08-21 13:04] #1697 closed

[2017-08-21 13:26] kaso17 commented on #1673
Does https://tasmanit.es/browse.php?do=search&keywords=Australian+Survivor+S04E06&search_type=t_name&include_dead_torrents=yes
return any results?
according to the log it doesn't.
What must be changed to get the correct result?

[2017-08-21 13:29] kaso17 commented on #258
@MaDTaZ
maybe you're looking in the wrong users' home DIR?
Check the jackett log output during startup, one of the first lines tells you where it looks for the config.

[2017-08-21 13:38] kaso17 commented on #1692
are you running an old version of CP?
Would have expected the movie title (besides the imdbid) in the URL too.

[2017-08-21 13:40] antigravity83 commented on #1673
No it doesn't return any results.

If I remove the . between the series name and the S**E** number, it returns a result.

So I'm thinking maybe it's the . that is causing the issue, but I've found a file on Tasmanit.es for another show I watch, the description doesn't have a . in it, but I can't get a result with it either. But I get a result when searching within Jackett.

Pulse S01E05

Tasmanite

[2017-08-21 13:40] kaso17 commented on #1686
If your provider blocks it you need to fix that first...

[2017-08-21 13:40] #1686 closed

[2017-08-21 13:45] Gershy13 commented on #1686
Yeah, is there anyway jackett can use unblocked links?

[2017-08-21 13:56] Gershy13 commented on #1686
thanks, do you know of any unblock sites that do ipt??

On 21 August 2017 at 14:48, kaso17 <notifications@github.com> wrote:

[2017-08-21 14:24] Kamds commented on #1227
I'm having the same issues with Hounddawgs, I keep getting the "String was not recognized as a valid DateTime" message.

Here's my log: [log.txt](https://github.com/Jackett/Jackett/files/1239063/log.txt)

[2017-08-21 14:36] octophetus commented on #1613
I've tried changing it to https://secret-cinema.pw/ and https://secret-cinema.pw/index.php and they do not work. Configuration failed: Login Failed, got redirected.

[2017-08-21 14:42] octophetus commented on #1613
Also, I guess I'm not sure what you mean by "changed the URL in the definition" but the default is still set to http://www.secret-cinema.net/

But changing it doesn't make it work anyway.

[2017-08-21 14:51] Globbered commented on #1227
Hi there

problem is the time format you choose under your profile settings.
Try changing your selection under "Tidsvisning"!

That should fix your problems!

/Globber

[2017-08-21 17:49] kaso17 commented on #1686
only use official mirrors, unblock sites are unsafe and most likely won't work.

[2017-08-21 17:51] kaso17 commented on #1613
In the latest pre-release the default domain is changed to .pw.
But it won't fix the problem. Someone still has to fix the definition.

[2017-08-21 17:55] Gershy13 commented on #1686
do you know of any? i can only find unblock sites...

[2017-08-21 18:41] octophetus commented on #1613
Yeah I can definitely see now that it's defaulting to https://secret-cinema.pw/ as the url in the tracker list at least, but it is still showing the same error.

[2017-08-21 18:58] tnascif opened #1699 "[REQ] New Indexer - Speed-Share"
Hi, any chance adding this brazilian tracker as na indexer ( http://speed-share.org/ ). I might be able to get an invite if needed.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/48489701-req-new-indexer-speed-share?utm_campaign=plugin&utm_content=tracker%2F25207257&utm_medium=issues&utm_source=github)** We accept bounties via [Bou

[2017-08-21 19:16] NexusJS commented on #1601
I visited the twitter, saw multiple different user and real updates on css and so on. I'm pretty sure it's a "legit" version of t411 using a public tracker instead of a semi-private one like before.  Imo it's worth a reconsideration.
Thanks.

[2017-08-21 19:34] hotio commented on #1686
Can you go to the ip directly?

[2017-08-21 19:37] Gershy13 commented on #1686
What is the IP?

On 21 Aug 2017 20:34, "hotio" <notifications@github.com> wrote:

Can you go to the ip directly?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/Jackett/Jackett/issues/1686#issuecomment-323832155>,
or mute
the thread
<https://github.com/notifications/unsubscribe-auth/ARIhUA6152eMAHl8ypIc576ku3jadKV5ks5sa

[2017-08-21 21:20] chmercesmoreira commented on #1592
@Guizzoni Are you somehow involved with the Manicomio Share tracker? Jackett is not asking for the login/password for this tracker and I can't login properly without this info.
![screenshot_20170821_181934](https://user-images.githubusercontent.com/20016536/29538721-63f7d1ac-869d-11e7-8946-b1063a96f1ef.png)

[2017-08-21 21:22] tnascif commented on #1592
@chmercesmoreira just update to pre-release and you'll be fine

[2017-08-21 21:27] chmercesmoreira commented on #1592
@tnascif
Sorry, I deleted my previous message since I found how to get the cookie:
https://github.com/Jackett/Jackett/wiki/Finding-cookies

[2017-08-21 21:36] chmercesmoreira commented on #1592
@Guizzoni
I'm getting the same problem with Manicomio-Share:
[code]

Could you please take a look at this?

[2017-08-21 23:10] Guizzoni commented on #1592
@chmercesmoreira you're using an old Jackett version which contains definitions that didn't work properly. Please update to the latest Jackett pre-release, re-add "Manicômio Share" and try again.

[2017-08-21 23:12] Guizzoni commented on #1592
Also, the B2S-Share issue you were having, should be fixed on the latest pre-release.

[2017-08-21 23:20] chmercesmoreira commented on #1592
@Guizzoni
Yes you are right, after using the pre-release version the problem is gone.

But now there is one new problem: radarr is grabbing the releases correctly now but every match has no quality (all is set to unknown).

Should I open a new issue? Or this is a particularity of macomio share?

[2017-08-21 23:22] MaDTaZ commented on #258
@kaso17  thank you looks like it is starting in my root  in stead of my log in

Much Appreciated.

[2017-08-21 23:37] Guizzoni commented on #1592
Not sure... I'm using Sonarr and CouchPotato, and both of them shows the right quality for every release. Maybe it's something in Radarr?

As for the age, yes, it is a known issue with the "Manicomio" tracker, that's because of the way the tracker shows the date on the releases (only after pressing the + button) so it's not possible to grab the correct date in Jackett, as far as i know.

[2017-08-21 23:42] chmercesmoreira commented on #1592
@Guizzoni
Sonarr is showing the quality properly, only the age has the same problem as you said:
![screenshot_20170821_204050](https://user-images.githubusercontent.com/20016536/29542372-1709145a-86b1-11e7-9c04-a79d0f6a7a11.png)

I don't know how to fix radarr, I already deleted it, completly purged it's configurations files but the problem remain. Are you sure that radarr is showing the quality u

[2017-08-21 23:46] Guizzoni commented on #1592
Yeah, the age is something I can't fix unfortunately.

I don't use Radarr so I don't know about that. But since Sonarr and CouchPotato are working, i think this issue is related to Radarr.

[2017-08-21 23:47] chmercesmoreira commented on #1592
Ok, thank you.

[2017-08-21 23:55] antigravity83 commented on #1673
Searching for Pulse S01E05 which is available on Tasmanit.es

Jackett Log: https://pastebin.com/8tjPHfXt
Sonarr Log: https://pastebin.com/wfMGbWxv

Finds a results on IPTorrents, but not Tasmanit.es

Hope that helps - thanks

[2017-08-22 00:10] Guizzoni commented on #1699
In currently working on this.

[2017-08-22 00:36] tnascif commented on #1699
@Guizzoni Great man! Since manicomio and BJ-share have the dates messed up, i really hope speed-share works like B2S-Share. tks

[2017-08-22 02:33] adamwinn commented on #1524
@kaso17 From what I remember, yes.  If you leave that out of your GET string, the site fails.  That's why I noted it in my merge request.

[2017-08-22 02:35] adamwinn commented on #361
@kaso17 Is there any way to export the configuration of all the trackers and move it to another Jackett instance?  I grepped the dir for one sample tracker I have configured and no files came up, so I guess they're not stored anywhere where we can easily get to them.

[2017-08-22 03:41] KennyVB commented on #1692
i'm useing latest version from GitHub - master

[2017-08-22 03:47] chmercesmoreira commented on #1592
@Guizzoni
I just tested the pirate bay tracker and the quality of all the results were grabbed correctly. So I think this is a problem specific to Manicomio Share. Should I open a new issue here ou should I open a new issue on Radarr github?

[2017-08-22 07:53] JigSawFr commented on #361
To keep config, you just need to map container config directory to host.

[code]

[2017-08-22 07:53] #361 closed

[2017-08-22 09:00] kaso17 commented on #1227
@Globbered is correct
6d4720e58f7bcaac2ee28d1875edb722a854e0b9 adds support for both time formats.

[2017-08-22 09:00] #1227 closed

[2017-08-22 09:12] kaso17 commented on #361
@adamwinn
If you copy the complete config dir (The exact location is displayed during startup) it should work.
Copying individual indexers won't work as the passwords are obfuscated using the instance ID from the ServerConfig.json.

[2017-08-22 09:18] kaso17 commented on #1524
Depending on how many combinations there are doing multiple requests might be an option to fix it.
See the search/paths section from https://github.com/Jackett/Jackett/wiki/Definition-format
A real world example:
https://github.com/Jackett/Jackett/blob/master/src/Jackett/Definitions/majomparade.yml#L72-L82

[2017-08-22 09:19] kaso17 commented on #1699
@tnascif I assume you sent me the invite? I won't use it, feel free to reuse it for someone else.

[2017-08-22 09:25] kaso17 commented on #1673
Sonarr searchs for "Pulse 2017 S01E05" (with year) which results in no results.
This looks like a scene naming vs TvDB naming issue.

[2017-08-22 09:53] antigravity83 commented on #1673
The same search returns results on other trackers though?

[2017-08-22 09:55] antigravity83 commented on #1673
No matter what I search (have provided 3 examples with full logs), I cannot get a result from Tasmanit.es, but the same search returns results on other trackers (ie. IPTorrents).

[2017-08-22 11:28] kaso17 commented on #1667
Not sure why it stopped working, in the latest pre-release it's working again with 5030,5040 which is wrong in my opinion. We shouldn't search in parent categories if child categories are specified.
The MTV implementation doesn't care very much about categories and it seems like we're not filtering the results later.
Sonarr should be set to 5000

[2017-08-22 11:37] kaso17 commented on #1673
The IPTorrents search engine is pretty good. The Tasmanit engine seems to be pretty bad (needs an exact match).
Just try searching for "Pulse 2017 S01E05" on IPtorrents an Tasmanit directly.
7af8e1916e9dafb3b9586e30db4a651f7bf6600d should improve the situation a little for Tasmanit (your Australian Survivor) example should work now.

[2017-08-22 11:42] kaso17 commented on #30
ok, it's alive

[2017-08-22 11:49] Smalfinn commented on #1083
Definitely support this!

[2017-08-22 12:19] Guizzoni commented on #1592
This is something related to Radarr not detecting the quality on the Manicomio Share release titles. So i think you should open a new issue on Radarr github.

[2017-08-22 12:31] Guizzoni commented on #1699
@kaso17 i'm already working on this

[2017-08-22 13:16] Guizzoni commented on #1699
@kaso17 is there a way to send a POST with "x-www-form-urlencoded" data in the search?

This tracker uses a JS to show results on the page, the JS receives "x-www-form-urlencoded" data.

[2017-08-22 13:19] bubez81 commented on #1294
now it give me errors
[hdtorrentlog.pdf](https://github.com/Jackett/Jackett/files/1242108/hdtorrentlog.pdf)

[2017-08-22 15:44] kaso17 commented on #1482
finally had time for this
fixed with 767521409248e3f5558fa1cb487a5d6e12f69b3a

[2017-08-22 15:44] #1482 closed

[2017-08-22 17:17] Gershy13 commented on #1686
So ive found mirrors that work, but i cant figure out how to add it into jackett. any ideas?

[2017-08-22 17:23] MaDTaZ opened #1702 "[Awesome-HD] No Search results found"
Jackett version:
Mono version (if not using Windows):
Jackett Version 0.8.91.0
-------------------------------

Add this tracker and after adding it it has no search results.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/48526115-awesome-hd-no-search-results-found?utm_campaign=plugin&utm_content=tracker%2F25207257&utm_medium=issue