[2017-03-02 07:42] kaso17 commented on #1122
Probably was a caching issue

[2017-03-02 07:44] kaso17 commented on #1127
Will filter the tracker specific categories if all trackers have been selected.

[2017-03-02 07:57] memnos commented on #1099
From what i can see browsing through arabafenice and bigtower. Sites are almost equal.
Also download link. The only difference is the order and number of columns.
Can this cause the problem in download?
Are those columns setted in definition file?

[2017-03-02 08:01] nabot93 commented on #1123
Thank you! It works using libcurl.

What is the best choice between libcurl and mono as htppclient?

[2017-03-02 10:38] vampywiz17 opened #1130 "jackett can't update the latest version"
Hi there,

If i try to update, i get this:

Corrent version is:  0.7.1090.0

I don't affect this problem with older releases...

![image](https://cloud.githubusercontent.com/assets/14281430/23503622/cd0f8f10-ff3c-11e6-8d7c-34232cf8e367.png)

[2017-03-02 12:06] kaso17 commented on #1130
That shouldn't be a problem. Fixed it with 6d02e6ab1a0589516c2f272fcf388e17cfa1e8c1.

1090 is the latest stable release, in order to update to 1115 you've to enable "Update to pre-release" in the settings.

[2017-03-02 12:06] #1130 closed

[2017-03-02 12:09] kaso17 commented on #1123
httpclient should be much faster (supports parallel http requests), with libcurl requests are serialized making it slower. libcurl support might be dropped in the futures (no plans yet).

Please report the cert-tool bug to the package maintainer.

[2017-03-02 12:09] #1123 closed

[2017-03-02 12:25] kaso17 commented on #1099
The download link selector doesn't care about columns.
It simply looks for a <a> tag with an href attribute starting with "index.php?page=downloadcheck&id=".
But based on the error from the log the search result rows simply don't contain a download link.

You probably have to construct it using filters or grab it from the details page.

Some other attributes are selected based on the column number

[2017-03-02 13:03] armani316 commented on #1127
@kaso17 But I suppose if 'All Trackers' is selected, this will continue to be an issue since the Category drop-down list will still have to accommodate the longest category name.

[2017-03-02 13:47] armani316 commented on #1069
I see that magnetdl.com is already indexed by torrentz2 #1040 which is supported by Jackett.
https://torrentz2.eu/help#indexed

I think it might be safe to close this issue. @kaso17 Thoughts?

[2017-03-02 15:20] memnos commented on #1099
I think i'm really not able to solve this.
Here is what i have in definition.
Any suggestion on what i can try to change?
Unfortunately i don't have an invitation to send, but i can give access with my account if someone wants to try to add this tracker.

[bigtower.txt](https://github.com/Jackett/Jackett/files/814206/bigtower.txt)

[2017-03-02 17:37] rodti commented on #1123
I'm having the same issue. It appears that BTLS is deprecated in Mono 4.8.x

[2017-03-02 18:22] armani316 opened #1131 "[New Tracker REQ] TorrentCCF"
**Indexer Name**
TorrentCCF

**Type**
Movies, TV, Audio, XXX, PC, Books, Console, Other

**Indexer URL**
http://et8.org/

**Indexer Language**
Chinese, English

**Invite**
An invite is needed. It would be appreciated if someone can supply one.

**Note**
TorrentCCF is a medium-sized general Chinese tracker with over 20K torrents

[2017-03-02 19:18] b0r0mir opened #1132 "freshon.tv indexer issue?"
Provide a description of the feature request or bug, the more details the better.
If you are experiencing an issue with a tracker, a **full log must be included**. Instructions for obtaining logs are here: https://github.com/Jackett/Jackett#troubleshooting

Jackett version:  0.7.1115.0
Mono version (if not using Windows):  4.6.2

I'm using Jackett with Sonar and it works great with morethan.tv and

[2017-03-02 19:20] bonny1992 commented on #986
I am trying to write the definition myself, but I'm encountering a little problem: how does jackett handle input tags and post requests? Because ilcorsaronero doesn't provide directly the magnet or the torrent link, but instead it "compiles" it on the go.
@armani316

[2017-03-02 19:22] armani316 commented on #986
@bonny1992 I'll direct your question to @kaso17.

[2017-03-02 19:44] bonny1992 commented on #986
Oh thanks! @armani316

[2017-03-03 03:43] sudoalias opened #1134 "AlphaRatio Tracker Missing"
Jackett version: 0.7.1090
Mono version (if not using Windows):  4.7.0

I am not seeing AlphaRatio in the list to add tracker.  It used to be there a few months ago, but I just did a fresh install and am not seeing it.  I see that the tracker is still in the Indexers folder, and listed as supported on the site, but I don't see a Definition file for it, so maybe that is why it isn't showing up, I am

[2017-03-03 07:35] robgates commented on #1069
Cool 👍

[2017-03-03 07:36] robgates commented on #1113
Yes updated it the other day

root@rob-vm-app:/opt/jackett# mono -V
Mono JIT compiler version 4.8.0 (Stable 4.8.0.495/e4a3cf3 Wed Feb 22 18:30:58 UTC 2017)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
        TLS:           __thread
        SIGSEGV:       altstack
        Notifications: epoll
        Architecture:  amd64
        Disabled:      none

[2017-03-03 07:37] flightlevel commented on #1132
Can you post the results of http://192.168.1.77:9117/torznab/freshon/api?t=caps&apikey=PUT_YOUR_API_HERE

[2017-03-03 07:41] flightlevel commented on #1134
Most likely a cache issue
Try opening in a private/incognito window and try a different web browser as well to determine
It only needs to be in indexers OR definitions

[2017-03-03 08:19] b0r0mir commented on #1132
Here it is:
[code]
<caps>
<searching>
<search available="yes" supportedParams="q"/>
<tv-search available="yes" supportedParams="q,season,ep"/>
<movie-search available="no" supportedParams="q"/>
</searching>
<categories>
<category id="5000" name="TV">
<subcat id="5010" name="TV/WEB-DL"/>
<subcat id="5020" name="TV/FOREIGN"/>
<subcat id="5030" name="TV/SD"/>
<subcat id="5040" name="TV/HD"/>
<subcat

[2017-03-03 08:29] nabot93 commented on #1123
I did not found this information. Where did you find it?

[2017-03-03 08:58] flightlevel commented on #1132
https://forums.sonarr.tv/t/sonarr-jackett-odd-results-no-hits/13876

Have added comments to your forum post

[2017-03-03 09:28] bonny1992 commented on #986
@kaso17
Ok, I tried something but no success for now.
Ilcorsaronero may have three methods to get the torrent (file or magnet):

- Clicking on the "Download" icon in the search list (triggering the post request, which starts the download)

- Sending actually the post request (have not tried sending a custom request by postman or similar software, tho)

- Fetching the "Details" page of the single t

[2017-03-03 09:32] Jorman commented on #986
Hi, I don't know if this can help, but I found an external implementation for ilcorsaronero and couchpotato
https://github.com/bateman/corsaronero-cp-provider

[2017-03-03 09:36] bonny1992 commented on #986
@Jorman
I already knew about that provider (which kinda works on CouchPotato), and that uses the "third" method I listed.

`def getMagnetLink(self, url):
		data = self.getHTMLData(url)
		html = BeautifulSoup(data)
		magnet = html.find('a', attrs={'class': 'forbtn'})['href']
return magnet`

[2017-03-03 09:49] Jorman commented on #986
Ok, tnx

[2017-03-03 10:57] pmmsoares commented on #1113
Mine throws endless errors i gonna paste a fragment, because it repeats over and over again:
[code]

Then i ran  cert-sync /etc/ssl/certs/ca-certificates.cr as sugested and got:

[code]

[2017-03-03 11:41] rodti commented on #1123
[While Googling the issue yesterday, found this.](http://stackoverflow.com/questions/41837397/where-is-btls-cert-sync-on-osx-for-mono-4-8)

[2017-03-03 14:54] armani316 opened #1135 "MoreThanTV requires frequent reconfiguration"
I believe MoreThanTV has made a change over the past couple of days. The site now logs me out every few hours (on the browser as well), and as such, I frequently need to reconfigure it in Jackett. I think auto re-login might be necessary.

Jackett version:  0.7.1115.0
Mono version (if not using Windows):  N/A

[2017-03-03 17:13] fryfrog opened #1136 "No redirect with changed base url"
At initial setup, if you visit http://localhost:9117/ it redirects to http://localhost:9117/Admin/Dashboard and works great. After you add a base url, going to http://localhost:9117/ works still and redirects to http://localhost:9117/jackett/Admin/Dashboard nicely.

But if you go to http://localhost:9117/jackett, it doesn't redirect.

So reverse proxy to it doesn't work super nicely, instead of us

[2017-03-03 17:47] kaso17 commented on #986
Have a look at the hdsky definition, it's using post requests for downloads.
isohunt is an example for indirect downloads (set the download link in the search block to the details page. Then Jackett will use the selector in the toplevel download block to get the actual DL link.

The available variables depend on the context.
The config variables (usernamepassword, etc) are always available.
In the

[2017-03-03 17:52] kaso17 commented on #1135
added with 2561415847c4d5a6aef50f89c440d18afe96cadb

[2017-03-03 17:52] #1135 closed

[2017-03-03 17:55] bonny1992 commented on #986
@kaso17
First of all, thank you for your reply.
It seems that ilcorsaronero uses a weird method to handle torrent downloads, so it's not so practical to implement, it will be maybe better to fetch the details page of the single torrent and then get the href attribute of the magnet link.
What can I do?

Can I contact you by your email? It'd be easier to communicate.
(Also I'm planning to implement

[2017-03-03 17:55] kaso17 commented on #1123
The core problem is `System.DllNotFoundException: /usr/lib/../lib/libmono-btls-shared.so` the underlying btls library is missing.

[2017-03-03 18:01] armani316 commented on #1069
@robgates The only problem is that torrentz2 removes a lot of torrents after receiving DMCA or EUCD notices, therefore some results from magnetdl.com will not appear on torrentz2.

There's also the fact that Jackett only returns the results shown on the 1st page on the tracker's website (See issue #975), so not all results from magnetdl.com will be returned upon searching torrentz2. However, there

[2017-03-03 18:06] kaso17 commented on #986
with magnet links indirect download doesn't work as most clients don't support http to magnet link redirects. But to me it looks like the "value" attribute of the download button (input tag) contains the magnet hash. Just build the magnet link form it using prepend/append filters. Have a look at the torrenz2 definition for an example.

[2017-03-03 18:11] kaso17 commented on #1113
Same problem as in #1123. Please report the cert-sync error/missing dll to your distribution/mono package source.
You'll have to run Jackett with `-c libcurl` for now.

[2017-03-03 18:11] #1113 closed

[2017-03-03 18:12] kaso17 commented on #1134
If the definition file is missing something went wrong with the installation. please check your permissions.
The Indexers folder contains only the config files.

[2017-03-03 18:28] bonny1992 commented on #986
@kaso17
Ok, I understood... Is there any filter to uppercase the string?

Also, I have some issues with the date parsing, can you help me?
The format is **dd.mm.yy**, how can I put it in the yml file to get it parsed correctly?

[2017-03-04 05:45] desimaniac commented on #1124
I am having the same issue. I have Synology DSM 6.

 ash-4.3# /var/packages/Mono/target/usr/local/bin/mono JackettConsole.exe
03-03 21:42:07 Info App config/log directory: /root/.config/Jackett
03-03 21:42:07 Info Starting Jackett 0.7.1090.0
03-03 21:42:07 Info Environment version: 4.0.30319.42000 (/volume1/@appstore/Mono/usr/local/lib/mono/4.5)
03-03 21:42:07 Info OS version: Unix 3.10.77.0 (64bi

[2017-03-04 09:47] fana13 opened #1137 "Can't add Redacted since name was changed"
Hi,

Since PTH changed to RED name, i can't add it.
When i want to add it i've got this message :

`Configuration failed : Something went wrong. You have 5 attemps remaining. WARNING: You will be banned for 6 hours after your login attempts run out!`

Obviously i'm sure to my id/pwd.
I've enable the 2FA, do you think that may cause errors here ?

[2017-03-04 12:18] ArjenD opened #1138 "when adding Torrentday, jackett gives error: Exception in GetConfigForm"
**Please use the search bar** at the top of the page and make sure you are not creating an already submitted issue. Duplicating issues makes it more difficult for everyone to follow. Your issue may have already been solved in the past as well.

Provide a description of the feature request or bug, the more details the better.
If you are experiencing an issue with a tracker, a **full log must be inc

[2017-03-04 13:52] memnos commented on #1099
I'm sorry, i've got no invite, but if you tell me i can give you my account  credential to enter the site.
If you give me your mail i'll send to you.

[2017-03-04 21:34] testarea1 opened #1139 "Error while parsing on M-Team - TP tracker"
Jackett version:  0.7.1115.0
Mono version (if not using Windows):  4.8.0
-------------------------------
Receiving multiple errors when Jackett searches M-Team - TP tracker:
`CardigannIndexer (mteamtp): Error while parsing row '<tr> <td class="rowfollow nowrap" valign="middle" style="padding: 0px">`
or
`System.Exception: Error while parsing field=date, selector=td.rowfollow:nth-child(4) > span[tit

[2017-03-04 22:13] aser007 opened #1140 "torrentday/torrentleech/torrenting not grabbing x265"
torrentday/torrentleech/torrenting not grabbing x265 in Sonarr
it shows in Jakett but Sonarr doesnt grab it:
TorrentDay	Taken 2017 S01E01 1080p HEVC x265-MeGusta	423 MB		TV/HD

[2017-03-05 11:51] kaso17 commented on #1140
please provide a log showing the search query from sonarr

[2017-03-05 13:16] armani316 opened #1141 "[Bug] Unable to download torrents from HDSky"
Clicking on the download icon for any torrent from HDSky redirects to an empty webpage and does not download the torrent.

Jackett version:  0.7.1115.0
Mono version (if not using Windows):  N/A

[2017-03-05 13:23] kaso17 commented on #1139
working for me, please enable enhanced logging and post alog

[2017-03-05 13:52] aser007 commented on #1140
Sonarr doesnt grab Jackett´s x265 Files
Example Jackett search 4 "Taken x265":

2d ago TorrentDay Taken 2017 S01E01 1080p HEVC x265-MeGusta 423 MB TV/HD 24 0 1 1
4d ago TorrentDay Taken S01E01 720p HEVC x265-MeGusta 209 MB TV/HD 124 6 1 1
82d ago TorrentDay The First 48 S16E02 Taken for a Ride 720p HEVC x265-MeGusta 268 MB TV/HD 6 0 1 1
2y ago TorrentDay Taken 3 (2014) BRRip x265 HEVC HQ-CPG 748 M

[2017-03-05 14:16] aser007 commented on #1140
Sry 4 the^Fuckup  i just fixed it^^ i falsely put in the torrenting Torznab Feed into torrentday with the torrentday feed all works great now opps;)

[2017-03-05 14:16] #1140 closed

[2017-03-05 16:55] nabot93 commented on #1123
They do not seem to think that the library is missing. https://bugzilla.xamarin.com/show_bug.cgi?id=53015

[2017-03-05 18:01] kaso17 commented on #1138
works for me, please prove an enhanced log

[2017-03-05 20:52] testarea1 commented on #1139
Here is an enhanced log
[log.20170305.00146.txt](https://github.com/Jackett/Jackett/files/819736/log.20170305.00146.txt)

[2017-03-05 21:05] raspdealer opened #1142 "All tests are KO since 0.7.1990"
All tests are KO except T411 and ABN... and based on the log, it sounds like a SSL issue.

2017-03-05 22:04:21.1482 Error Exception in test_indexer System.Net.Http.HttpRequestException: An error occurred while sending the request ---> System.Net.WebException: Error: SecureChannelFailure (The authentication or decryption has failed.) ---> System.IO.IOException: The authentication or decryption has

[2017-03-05 21:07] raspdealer opened #1143 "Impossible to launch a manual update with prerelease"
It tryin to call 2017-03-05 22:00:13.9172 Error IWebClient.GetString(Url:https://api.github.com/repos/Jackett/Jackett/releases): No encoding detected, defaulting to UTF-8

which send a request to https://api.github.com/repos/Jackett/Jackett/releases):
instead of https://api.github.com/repos/Jackett/Jackett/releases

[2017-03-06 08:51] kaso17 commented on #1123
`You are not authorized to access bug #53015.`

[2017-03-06 08:58] nabot93 commented on #1123
'''
Jo Shields 2017-03-04 19:10:53 UTC
Alex, this seems to be a broken assumption in cert-sync that the BTLS store is always available (right now it's only on x86/amd64)? We should be checking for availability before calling `ImportToStore (roots, X509StoreManager.NewLocalMachine.TrustedRoot);`
[reply] [−] Comment 2 Alexander Köplinger 2017-03-05 15:59:35 UTC
Thanks. I sent a pull request with the

[2017-03-06 09:19] kaso17 commented on #1143
The encoding error isn't critical and was already fixed.
These are the same URLs, it should work perfectly fine.
Please post the following log lines.

[2017-03-06 09:28] kaso17 commented on #1123
Seems like btls is simply not supported on the generic arm platform. I wonder why (it's supported on android)?. But you'll have to use libcurl on ARM for now.

[2017-03-06 11:01] kaso17 commented on #1142
Please check if this is a dupe of #1123

[2017-03-06 11:18] kaso17 commented on #1141
fixed with 9d96821c2063442814356a2ed6bc9ff6c7649e5e

[2017-03-06 11:18] #1141 closed

[2017-03-06 13:06] kaso17 commented on #1139
fixed wtih 3b0cfa4aba361572fa0849cde768e5c21afb39fb

[2017-03-06 13:06] #1139 closed

[2017-03-06 13:07] kaso17 commented on #1137
2FA is not supported

[2017-03-06 13:07] #1137 closed

[2017-03-06 13:16] kaso17 commented on #1124
Please run jackett with the "-t -l" arguments to get more debug output.

[2017-03-06 13:22] kaso17 commented on #986
Time format needs to be in go lang format.
http://fuckinggodateformat.com/ is highly recommended.
For `dd.mm.yy` the format string would be `02.01.06`

[2017-03-06 14:30] kaso17 commented on #1136
cdf11067a281fcc826accd4e394afa7b3bf2942c might fix it

[2017-03-06 14:39] kaso17 commented on #1127
should be fixed with 39833dcb02dcf5309cdf5f35d59be116ed247c4d

[2017-03-06 14:39] #1127 closed

[2017-03-06 14:50] kaso17 commented on #739
fixed with ff70548bf528feba5151a9136e3123963a652f04

[2017-03-06 16:46] valantislevas opened #1144 "[Req]: Greek Team"
https://www.greek-team.cc/
Greek Team is a GREEK Private site for TV / MOVIES / GENERAL

Hello is possible to make it work with these tracker? because i cant send invite for it.. if @kaso17 want i can send you on your mail my informations to get test for it..

thnx and this tracker is very big.. i also cant see atm what template is using but i think if you check it you will find it..

thanks

[2017-03-06 17:58] kevincork commented on #1124
mono /opt/jackett/JackettConsole.exe -t -l
03-06 17:42:11 Info Logging enabled.
03-06 17:42:11 Info Tracing enabled.
03-06 17:42:11 Info App config/log directory: /home/odroid/.config/Jackett
03-06 17:42:11 Info Starting Jackett 0.7.1084.0
03-06 17:42:11 Info Environment version: 4.0.30319.42000 (/usr/lib/mono/4.5)
03-06 17:42:11 Info OS version: Unix 3.10.104.133
03-06 17:42:11 Info ThreadPool Ma

[2017-03-06 18:11] kevincork commented on #1124
Here is the full log :  https://app.box.com/s/2cw4hjcs1os1kt95jm1pudn9getjdd0a

[2017-03-06 18:32] kaso17 commented on #1124
`Unhandled exception: Message = Access to the path "/opt/jackett/Content/index.html" is denied.`
Check your file system permissions

[2017-03-06 18:35] kaso17 commented on #1090
Change your URL to https, that should fix it.

[2017-03-06 18:35] #1090 closed

[2017-03-06 18:38] kaso17 commented on #1144
I assume account sharing is not allowed. So an invite is required.

[2017-03-06 18:41] valantislevas commented on #1144
can you tell me your mail? to send invite?

[2017-03-06 20:15] dpmdiego commented on #1044
@memnos ,
Could you send me an invitation too? Thank you very much.

imdiegodpm@gmail.com

[2017-03-06 21:54] akoeplinger commented on #1123
The reason is simple: we didn't test BTLS on ARM outside of Android so we decided to only enable it for that platform for now :)

[2017-03-06 22:32] dpmdiego commented on #1099
@memnos Could you send me an invitation to the Arabafenice? I would love to be a part of this community, but it is very difficult to find members ...
Thank you very much in advance if you can send me the invitation ...
imdiegodpm@gmail.com

[2017-03-06 23:35] dpmdiego commented on #1144
Guys, someone has an invitation to arabafenice?

[2017-03-07 06:27] Eisa-AlAwadhi commented on #1117
HorribleSubs torrent indexer is Nyaa.se
However, Sonarr already supports Nyaa but perhaps you use Jackett with a different service.
Then it will make more sense to request Nyaa.se even though Sonarr supports it already.

https://www.nyaa.se/

[2017-03-07 06:53] kaso17 commented on #1144
got the invite, thank you

[2017-03-07 07:02] kaso17 commented on #1123
@akoeplinger thank you for letting us know. It would be great if you still could include it in the ARM build. Just don't use it by default? That way some early adopters could provide some real world compatibility feedback. The legacy TLS implementation is missing to much in order to be useful.

[2017-03-07 08:06] epheterson commented on #1093
Is this in the latest release (0.7.1090.0)? I have ShowRSS enabled but always get zero results.

[2017-03-07 08:22] dpmdiego commented on #1144
@kaso17  Nothing arrived in my email.
Confirming my email, imdiegodpm@gmail.com
If you want, I can send you one from a Brazilian community.
Thanks man.

[2017-03-07 08:56] dpmdiego commented on #986
Does anyone know how I can get an invitation to the arabafenice or shareisland?
If anyone can send me an invitation to the Arabafenice I would be very grateful.
If anyone is interested, I can send an invitation to TB, it is a Brazilian community. Thank you!

[2017-03-07 08:57] dpmdiego commented on #986
Does anyone know how I can get an invitation to the arabafenice or shareisland?
If anyone can send me an invitation to the Arabafenice I would be very grateful.
If anyone is interested, I can send an invitation to TR, it is a Brazilian community. Thank you!

[2017-03-07 09:50] kaso17 commented on #1093
Are you searching for a specific show? That doesn't work. Otherwise please provide a log.

[2017-03-07 09:55] kaso17 commented on #986
@dpmdiego please stop asking for invites/offering invite trades. You may only ask for an invite if you're planning on adding a tracker/fixing a bug.

[2017-03-07 09:55] epheterson commented on #1093
Thanks, that's my issue. I'll disable search in Sonarr, I thought you could search.

[2017-03-07 10:47] valantislevas commented on #1144
thanks also i think the file are using is TorrentStrike template

[2017-03-07 10:56] kaso17 commented on #1093
While it could try to fetch the corresponding show page and get the torrents from it. It's a little point less beacause of the very short history on ShowRSS.

[2017-03-07 11:03] kaso17 commented on #1123
With 4823e610155da295c4c42dc368a0acc6823b2ab3 Jackett should automatically fall back to libcurl if btls is not available. Please try pre-release version v0.7.1127.

[2017-03-07 12:11] kaso17 commented on #300
With 7f648d19a56924f31ba3435309ef10875618fcd8 it show a error message when there are unread messages

[2017-03-07 12:41] kaso17 commented on #304
It seems like SceneFZ is down/gone, does someone know if it will come back?

[2017-03-07 12:44] kaso17 commented on #168
this tracker seems to have shutdown, can someone confirm/deny?

[2017-03-07 12:45] hex commented on #304
SceneFZ is gone, there was a post on the Facebook page but I can't find the FB page anymore.
They recommended some other sites like [https://www.myxz.org/](https://www.myxz.org/)

[2017-03-07 12:50] kaso17 commented on #764
will this tracker come back or stay offline?

[2017-03-07 12:53] kaso17 commented on #771
someone knows if they'll come back or did they shutdown permanently?

[2017-03-07 13:01] thenamelessthing commented on #764
Unfortunatly, I think it's definitly closed.

[2017-03-07 13:04] kaso17 commented on #304
thank you, removed via 4226a48041d85e07b95e366332598685b4664007

[2017-03-07 13:07] akoeplinger commented on #1123
That's a bit difficult given the current setup because afaik we can't make that decision based on the platform.

Our hope was that enthusiasts would just build Mono themselves and enable BTLS :)

[2017-03-07 13:07] kaso17 commented on #764
ok, thank you.
Removed via 8f869995e9acd631c685fa77ccc4ec552a46b922

[2017-03-07 13:40] kaso17 commented on #1123
Ok, would have assumed that simply making the "MONO_TLS_PROVIDER" env var default to "legacy" on arm would be possible.

To anyone using an ARM platform: Please compile mono yourself and enable BTLS support. The extra work will reward you with a general faster Jackett (With libcurl no parallel requests are supported).

[2017-03-07 14:17] armani316 commented on #85
@kaso17 Gone for good.

[2017-03-07 14:18] armani316 commented on #168
@kaso17 I believe that's the case, yes, but I'm not 100% certain.

[2017-03-07 14:27] armani316 commented on #1072
@kaso17 Please confirm when you receive the invite.

[2017-03-07 14:38] kaso17 commented on #1075
added with 901693d6de50e18b27de2f70d8c5f86a68c39862

[2017-03-07 14:38] #1075 closed

[2017-03-07 15:31] kaso17 commented on #1144
added with 0f639d23442aa40cf7098ebcf32f5227c0b20427

[2017-03-07 15:48] armani316 commented on #814
@kaso17 Gone for good.

[2017-03-07 15:53] nabot93 commented on #1123
Ok, I will try to compile mono. Where did you see we should set MONO_TLS_PROVIDER to legacy?

[2017-03-07 16:29] kaso17 commented on #1073
added with 826367f061ee0bb8d9e6e1fc2d1d829d7e8da12c

[2017-03-07 16:32] kaso17 commented on #1123
I assume btls support is some kind of option of the configure script, see http://www.mono-project.com/docs/about-mono/supported-platforms/arm/
There's no need to set MONO_TLS_PROVIDER

[2017-03-07 16:33] kaso17 commented on #814
removed via 53a1161dda388a9722b01870076e48d79bc06add

[2017-03-07 16:33] kaso17 commented on #1144
in 2-3 hours

[2017-03-07 17:00] kaso17 commented on #1131
added with f4e788f77abcd318d08f92cecc58045d7a716ed5

[2017-03-07 17:00] #1131 closed

[2017-03-07 17:04] kaso17 commented on #1072
didn't receive one yet

[2017-03-07 17:06] #1132 closed

[2017-03-07 18:05] kaso17 commented on #1077
added with 71b8b78589b2db3dd75abaace0740406822c2418

[2017-03-07 18:41] RoloSoze commented on #968
@M0kkisjeva Are you able to provide an enhanced log showing the error you're describing here?

[2017-03-07 19:47] bonny1992 commented on #986
@kaso17
Nothing, I seem to cannot understand how to make the pull request (still quite new to github, sorry).

If you want, here's the yml file with the definition: http://pastebin.com/EBBSVFt4

[2017-03-07 20:51] raspdealer commented on #1123
Hi
Using -c libcurl Xthor is back but not the others...
Any updates?
Thanks!!

[2017-03-07 20:55] #1142 closed

[2017-03-07 20:56] raspdealer commented on #1143
Ok related to #1123
But even after, back to old update issues on rpi :(

[2017-03-07 20:56] #1143 closed

[2017-03-07 20:58] raspdealer commented on #154
i still have issues...

2017-03-07 21:53:19.6354 Info New release found.  Current: v0.7.1090 New: v0.7.1138
2017-03-07 21:53:28.3605 Info Updater started process id: 16330
2017-03-07 21:53:28.3633 Info Exiting Jackett..
2017-03-07 21:53:39.9069 Info Jackett will ignore SSL certificate errors.
2017-03-07 21:53:40.3609 Info App config/log directory: /home/osmc/.config/Jackett
2017-03-07 21:53:41.009

[2017-03-07 21:24] RoloSoze commented on #1136
@fryfrog Did cdf1106 fix the problem for you?

[2017-03-08 00:19] RoloSoze commented on #835
@kaso17 Seems like the 'p' and 'i' problem is back. Try searching for something like Manchester by the Sea 1080p and compare the results with Manchester by the Sea 1080.

Looks like stripping the 'p' and 'i' might be necessary after all. Feel free to refer to the 'BHD Keywords.txt' I attached up there a while back.

[2017-03-08 02:02] RoloSoze commented on #1127
@kaso17 Works fine now! Thanks!

On a side note, do you think it's a good idea to swap the positions of the 'Category' & 'Tracker' drop-down boxes? I think it makes more sense for Tracker to come before Category since the user will likely choose the tracker first, and then choose the required Category - if any - within the selected tracker. At least that's what I do personally.

Thoughts?

[2017-03-08 07:33] twilightrazor opened #1145 "[New Tracker Request] YTS [Formally Yify] [$15]"
Please add [https://yts.ag/]  as a tracker as they have small movie files PERFECT for streaming, they do have an api! The same people that run EZTV run YTS!!

<bountysource-plugin>

---
Did you help close this issue? Go claim the **[$15 bounty](https://www.bountysource.com/issues/42796709-new-tracker-request-yts-formally-yify?utm_campaign=plugin&utm_content=tracker%2F25207257&utm_medium=issues&utm

[2017-03-08 08:57] kaso17 commented on #1127
@RoloSoze makes more sense.
Swapped with f6bbb0cf9ef2ff1d97b4e8a1da8cfd0a174ea6c5
Also removed the "Search trackers" text from the search button

[2017-03-08 10:19] kaso17 commented on #835
fixed with 342cfedcd881f6459575b2bfd6ae54b6ae18f8cb

[2017-03-08 10:24] kaso17 commented on #154
@raspdealer it doesn't look like the recommended systemd config from https://github.com/Jackett/Jackett/wiki/systemd-service is used (--NoRestart argument and restart=always). Additionally there might be a permissions problem (please post the update.txt log file)

[2017-03-08 10:40] kaso17 commented on #1123
Which others? libcurl should work with all indexers.

[2017-03-08 13:16] kaso17 commented on #986
Thank you.
Added it via 8163c28c1c57aa9554b157e3519528c5dfc1a72a
Added a urldecode filter for the title and made the itorrents links configurable

[2017-03-08 13:19] kaso17 commented on #986
I'm also getting less search results when using
http://ilcorsaronero.info/adv/bdrip.html (use the the definition)
compared to
http://ilcorsaronero.info/argh.php?search=bdrip
What's the difference between the two searches?

[2017-03-08 16:52] Quiksmage commented on #380
I received word back from staff, but no invite.

""Your popcorn quota has been reached, come back later!" means that you did too many requests in a period of time. Try rate limiting the requests. 0.5 request/sec is a safe limit."

Would this information be enough to go on to move forward with a fix?

[2017-03-08 18:15] kaso17 commented on #380
CP is doing a hard 2 second wait between requests.
I'll add some general rate limiting feature to the webclient implementation which will support such simple limits too.

[2017-03-08 19:58] vampywiz17 opened #1146 "Problem with Ztracker"
Hi!

I i try to search something in "Ztracker" (it added the latest release, thanks :) ) it only work if i search the part of the title:

![02](https://cloud.githubusercontent.com/assets/14281430/23721366/c2a09ed4-0441-11e7-86c4-ab7753c45a63.jpg)

If i search full title, not  found:

![01](https://cloud.githubusercontent.com/assets/14281430/23721392/dcaa6e40-0441-11e7-8ddd-7ceebcb9730a.jpg)

Same

[2017-03-08 20:07] raspdealer commented on #1123
2f4y, cinemaz, paradisdunet, privatehd, rapidetracker,...
may be few of them are dead? :(

[2017-03-08 22:54] bonny1992 commented on #986
That's strange.
With
http://ilcorsaronero.info/adv/bdrip.html
I'm getting 50 results, instead with
http://ilcorsaronero.info/argh.php?search=bdrip
I'm getting 40 results, which is the max for "normal" search (the first one is the advanced search).

Also, I have made another definition, for "passionetorrent" tracker (Italian private tracker), what can I do? Should I open a new issue to give the fil

[2017-03-09 06:49] kaso17 commented on #986
My concern with the searches is that the advanced search doesn't sem to include the most recent releases. Currently the advanced search is showing one more torrent at the top of the list than the normal search for me.

With a more common keyword it's more visible:
http://ilcorsaronero.info/adv/ita.html vs http://ilcorsaronero.info/argh.php?search=ita
currently the advanced search is 24 releases (~

[2017-03-09 06:51] kaso17 commented on #1123
rapidtracker is gone (removed from the latest release already).
The other ones are working fine for me, please try to reconfigure. If that does't fix them please post an enhanced log in a new issue

[2017-03-09 06:56] kaso17 commented on #1146
fixed with 23d49cdb53c6b59d683885eb0f7558904fe93c4c

[2017-03-09 06:56] #1146 closed

[2017-03-09 07:11] albertsj1 commented on #1019
Having the same issue.  Wish I could do something to help out, but I don't even know where to get started with C#.

[2017-03-09 10:20] kaso17 commented on #831
Searching twice (with/without diacritics) has been added with a34a3fb4b682e2b25dcd210d0c8db7d45fb3603e
also added missing categories with 34cdedae12f84cee19b0da33d8149f18f8fb2459

[2017-03-09 10:20] #831 closed

[2017-03-09 13:24] kaso17 commented on #968
closing this due to no response

[2017-03-09 13:24] #968 closed

[2017-03-09 14:07] kaso17 commented on #380
quota/rate limiting should be fixed with d352a699b6a5459ebb3e95971f9e9fef58ef87cd and f9c4b876bd928868de397c9643aa6682266fb4c3

[2017-03-09 14:53] RoloSoze commented on #1053
@michaelgeorgeattard I'm closing this for now since there's no response. Post the enhanced log later when you see this, and feel free to reopen the issue.

[2017-03-09 14:53] #1053 closed

[2017-03-09 14:56] RoloSoze commented on #1134
@sudoalias Did @flightlevel's or @kaso17's suggestions solve this issue for you?

[2017-03-09 14:58] RoloSoze commented on #1138
@ArjenD Could you please post an enhanced log showing this issue so that @kaso17 can work on resolving it? Thank you.

[2017-03-09 15:00] RoloSoze commented on #1124
@kevincork @desimaniac Does assigning the correct file system permissions solve this issue for you guys?

[2017-03-09 15:01] RoloSoze commented on #1125
@kamikazechaser Any luck posting an enhanced log to show this issue?

[2017-03-09 15:06] RoloSoze commented on #1014
@Fungie Did you manage to update to the latest Mono version? Did that solve the issue for you?

[2017-03-09 15:07] RoloSoze commented on #910
@kaso17 Since this is a tracker-caused issue, should it be closed?

[2017-03-09 15:09] sudoalias commented on #1134
Flightlevel's did, although Kaso brings up an interesting point.

On Mar 9, 2017 8:56 AM, "RoloSoze" <notifications@github.com> wrote:

[2017-03-09 15:13] kamikazechaser commented on #1125
Will get back to you.

[2017-03-09 15:14] #1134 closed

[2017-03-09 15:56] ArjenD commented on #1138
sorry for the late post. the system (orange pi) where jackett was running on, crashed.... and an install on antoher system ( synology ) works like a charm.
so, ignore this issue.

[2017-03-09 15:56] #1138 closed

[2017-03-09 17:21] kaso17 commented on #910
yes, closing for now

[2017-03-09 17:21] #910 closed

[2017-03-09 17:47] bonny1992 commented on #986
Oh I now notice what are you saying.
I contacted the admins through the email address they put it in http://ilcorsaronero.info/contatti page, but I'm not so sure they'll reply (soon or at all).

If unsure we can always switch from the advanced search to the normal one in just a moment.

I'll open that right now, then.

[2017-03-09 17:58] bonny1992 opened #1147 "[Indexer] PassioneTorrent"
Indexer Name
PassioneTorrent

Type
Mostly italian HD/SD movies/tv series and some games

Indexer URL
http://www.passionetorrent.info/

Indexer Language
Italian

Definition url:
http://pastebin.com/ZRvbtR0S

That one was quite easy, since it's quite similar to the "arabafenice" one.

[2017-03-09 18:33] bonny1992 commented on #1111
I am currently working on this tracker, but I'm encountering some problems.

It seems that the post request needed for the search function is not sent correctly.
It requires 3 values:
- **cat** (value: 0)
- **page** (value: 1)
- **srcrel** (value: our search terms)

Trying them with Postman returns the correct results, but not with Jackett (which returns the page like no request has been made)

I

[2017-03-09 19:23] RoloSoze commented on #1019
If anyone wants to join this tracker and debug the issue, they're currently open for registration.

Signup link:
https://www.gimmepeers.com/guestentry.php

Invite code:
JusHy6F23i7GyeZ

[2017-03-09 21:29] kaso17 commented on #1111
post support is simply not implemented yet, no tacker needed it. I'll add it soon.

[2017-03-09 21:30] kaso17 commented on #1019
I assume it's still a pay for access tracker? I won't touch it n that case.

[2017-03-09 21:38] RoloSoze commented on #1019
@kaso17 Yes, it's still a paid tracker.

[2017-03-09 22:17] bonny1992 commented on #1111
Oh.

I supposed it was working because of the logins, some of them requires the post request, after all.

[2017-03-09 22:33] morpheus65535 commented on #479
Can I use a SOCK5 proxy?

[2017-03-09 22:48] flightlevel commented on #479
No, refer to https://github.com/Jackett/Jackett/issues/1083

[2017-03-10 01:08] desimaniac commented on #1124
@RoloSoze Hi. I uninstalled the Synology package and installed a docker instead ([link](https://hub.docker.com/r/linuxserver/jackett/)). That fixed everything.

[2017-03-10 02:57] morpheus65535 commented on #479
@flightlevel Thank you to point me in the right direction!

[2017-03-10 04:02] jamesb2147 commented on #1019
I don't think it's especially relevant to C# specifically... I suspect the issue is in the parser. Anyone in this thread should be able to post a debug output from above the error. There's a ton of HTML tags, which is exactly what the parser needs, but then it errors out saying it "can't find anything."

My hunch is that the tag parsing is off; the code looks for particular HTML tags and has logic

[2017-03-10 07:32] welle opened #1148 "Issue to add indexer "HD-Only""
Hi,

I added the indexer for HD-Only two days ago. Works fine.
However sincer yesterday I got an issue when trying to test this indexer.

`Error on 20170310082711 for HD-Only.txtSystem.ArgumentNullException: Value cannot be null.
Parameter name: String
  at System.Number.StringToNumber (System.String str, System.Globalization.NumberStyles options, System.Number+NumberBuffer& number, System.Globali

[2017-03-10 08:36] kaso17 commented on #1148
fixed with b1453157bdb0b6a7570b2f5666d8d44c7336e866

[2017-03-10 08:36] #1148 closed

[2017-03-10 08:52] kaso17 commented on #1147
Thank you.

Added with f2bcc654f1347bb09b01b17edf0289daf9294346
Converted to the new category mapping schema and enabled movie search with 98f32bfadd48b8a4f3b2cc4fd5d65dd6288eab95

[2017-03-10 08:52] #1147 closed

[2017-03-10 08:54] #1124 closed

[2017-03-10 10:19] D4rk56 commented on #1067
+1

[2017-03-10 11:18] kaso17 commented on #1111
For login it's supported since the beginning.
For search there was never the need.
It's supported now with 3c46daf7eefbdbafbc6465267605c07c367db578
Please try pre releae v0.7.1150
You'll have to use the newer multi path syntax:

[code]

[2017-03-10 12:21] kaso17 commented on #360
the update/log.txt files from ~/.config/Jackett/

[2017-03-10 13:55] RoloSoze commented on #1019
Joined for the sake of reproducing the error, no plans to become a member. Here's an enhanced log of the error.
[log.txt](https://github.com/Jackett/Jackett/files/834090/log.txt)

[2017-03-10 17:40] bonny1992 commented on #1111
@kaso17
Ok, now with pre release it works like a charm!
I have two problems, yet.

On the releaselist page it does not show the publish date nor the torrent size. Is there any way to navigate to the details page and fetch them from there? Apart from that it works like a charm:

![JacketTNTVillage](http://image.prntscr.com/image/0e2c7bba06e04197b8909dddf0f08c4e.png "TNTVillage tracker on Jackett -

[2017-03-10 18:16] kevincork commented on #1124
sudo chmod -R 755 /opt/jackett/Content/index.html but same issue

[2017-03-10 18:31] kaso17 commented on #1111
No, accessing any other page than the search results page is not supported. I wouldn't recommend it either due to the additional site requests involved (causing a lot of extra load on the server and the corresponding extra delay to get the search result pages).

[2017-03-10 18:40] kaso17 commented on #1124
Check the permissions of the Content directory too.
You should chown the directory to the corresponding user running jackett:
`chown -R jackett /opt/jackett/`
Otherwise the build in update mechanism won't work either.

If that doesn't fix it there might be some extra security policies (apparmor/selinux) preventing access.

[2017-03-10 18:51] bonny1992 commented on #1111
So what we do? Do we omit the date and size?

[2017-03-10 19:12] kaso17 commented on #1111
yes

[2017-03-10 19:24] RoloSoze opened #1149 "[Bug] HoundDawgs' search results direct to the tracker's homepage"
Clicking on any torrent from HoundDawgs directs to the tracker's homepage instead of the torrent's page.

Jackett version: 0.7.1150.0
Mono version (if not using Windows):  N/A

[2017-03-10 19:29] kevincork commented on #1124
Resolved, thank you !

[2017-03-10 19:36] bonny1992 commented on #1111
Perfect.

Then here you go the yml file:
http://pastebin.com/tHKn7i4F

[2017-03-10 19:47] kaso17 commented on #1149
works fine for me, got a log?

[2017-03-10 19:55] kaso17 commented on #1111
added with 38f78e116cb604013b6ef69097822f36e721f585 (added movie search and set downloadvolume factor to 0), thank you

[2017-03-10 19:55] #1111 closed

[2017-03-10 19:56] bidulle95 commented on #1067
+1

[2017-03-10 20:00] RoloSoze commented on #1149
Attached, @kaso17
[log.txt](https://github.com/Jackett/Jackett/files/834985/log.txt)

[2017-03-10 20:19] kaso17 commented on #1149
looks fine to me, the download request is never sent to jackett in your log.
Can you paste the link of the download button from the search results please?

[2017-03-10 20:27] RoloSoze commented on #1149
Clicking on the download button works fine, the torrent downloads successfully. Here's an example:

http://127.0.0.1:9117/dl/hounddawgs/z2utsv9iqidtox0dqmsn2lo0sb81j8vm?path=aHR0cHM6Ly9ob3VuZGRhd2dzLm9yZy90b3JyZW50cy5waHA_YWN0aW9uPWRvd25sb2FkJmlkPTQwMzgxJmF1dGhrZXk9anNzbG9wYm9xaGNnc3VwYnRvNmk2MjRra3NtaTBrMWQmdG9ycmVudF9wYXNzPWFuZDY4ZGp5emd6dDloeHRpYW9mYW00bXN3OXRwcTAz0&file=Game.Of.Thrones.S01.COM

[2017-03-10 21:26] SilverSix311 commented on #1014
Alright, so I think the issue actually ended up being resolved in an update anyways. If it happens again in the future ill re-open the issue. Thanks for the help troubleshooting the issue!

[2017-03-10 21:26] #1014 closed

[2017-03-10 22:05] BNAS1017 opened #1150 "Jackett on Ubuntu all Indexers failing"
Ubuntu 16 system. New to Ubuntu, even newer to Jackett so I apologize for my lack of intelligence. All of my indexers on Jackett have been failing for the past 48 hours. I read somewhere that I may need to update, so i clicked the  "check for updates" button which says to check the log. When I check the log, it just shows me errors. I tried to update manually, but everything I have tried doesn't s

[2017-03-10 22:07] RoloSoze commented on #1150
@BNAS1017 Can you please enable enhanced logging and post the log here showing the issue you're facing?

[2017-03-10 23:26] BNAS1017 commented on #1150
Mar 10, 2017 11:57:57 AM 	Error

HandleCore(): unhandled exception: Message = Sharing violation on path /opt/jackett/Content/index.html
Data = System.Collections.ListDictionaryInternal
InnerException =
TargetSite = Void Throw()
StackTrace =   at System.IO.FileStream..ctor (System.String path, System.IO.FileMode mode, System.IO.FileAccess access, System.IO.FileShare share, System.Int32 bufferSize,

[2017-03-11 15:40] robgates commented on #360
Sorry managed to fix this by using the new init script

[2017-03-11 20:23] Gillingham commented on #1090
I've been having the same issue for months, currently with `Mono JIT compiler version 4.6.2 (Stable 4.6.2.7/08fd525 Tue Dec 27 10:49:36 UTC 2016)` and `Jackett Version 0.7.1146.0`

[2017-03-11 21:44] rbroh commented on #380
I'm just wondering the status on this.  Is PTP support working for radarr as well, or only for CouchPotato?

Thanks

[2017-03-11 23:01] gregorij89 opened #1151 "[New Tracker] Trezzor and CzTorrent"
Hi,
I am trying to code indexer for Trezzor tracker (tracker.czech-server.com) and CzTracker (tracker.cztorrent.net). They are private, respecitve semi-private, Czech trackers. The first one requires standard login form, the second one uses recaptcha 2.

In case of Trezzor, I can add indexer and perform searching. But after some time, the communication is stopped and I have to open indexer setting

[2017-03-11 23:03] RoloSoze commented on #1126
Closing this since it's being discussed in #1151

[2017-03-11 23:03] #1126 closed

[2017-03-12 03:34] RoloSoze commented on #1136
@fryfrog Please feel free to reopen this issue if cdf1106 hasn't fixed it for you.

[2017-03-12 03:34] #1136 closed

[2017-03-12 10:32] gregorij89 commented on #1151
Ok, it looks like it was my mistake. My testing server is behind multiwan firewall/router and there was a rule for load balancing network connection for that server. So probably when Jackett initiated the connection to the tracker and firewall sent it through the second interface than login was performed, it was refused and signed off. I've disabled this rule and for now, it seems to work well. I

[2017-03-12 11:09] kaso17 commented on #380
the quota issue should be fixed for all feeds

[2017-03-12 11:11] kaso17 commented on #1150
very odd.
please make sure the directory is owned by the user running jackett, e.g.:
`chown -R jackett /opt/jackett`

[2017-03-12 11:18] kaso17 commented on #1151
Would have suggested to use cardigann definitions for new trackers but seems like it's already to late for that.

Regarding your redirect issue. Just check for the "You've been successfuly loged in" message in the ConfigureIfOK call (most trackers check for the logout link which probable isn't shown yet).

[2017-03-12 11:19] kaso17 commented on #1090
@Gillingham please post a log

[2017-03-12 12:37] bunius commented on #1072
@kaso17
just sent an invitation

[2017-03-12 14:10] BNAS1017 commented on #1150
@kaso17, yep that's set still nothing.

[2017-03-12 14:42] bodenkers commented on #1090
I added https and it fixed things for me

On Mar 12, 2017 5:20 AM, "kaso17" <notifications@github.com> wrote:

[2017-03-12 14:49] RoloSoze commented on #1072
@bunius Thank you, but @kaso17 had already received an invite before you sent him one. Please feel free to cancel the invite you sent. Sorry for the confusion.

[2017-03-12 17:19] Gillingham commented on #1090
[code]

[2017-03-12 17:27] RoloSoze commented on #1000
+1 for this tracker.

[2017-03-12 18:17] kaso17 commented on #1072
@bunius thank you, let me know if I should send the invite somewhere else.

[2017-03-12 18:19] kaso17 commented on #1090
Please post the output of
`curl -v https://www.shazbat.tv/`
It's probably a certificate validation issue.
You can try running jackett without validation ("-t true" argument) or upgrade to mono 4.8

[2017-03-12 18:24] Gillingham commented on #1090
I was running with `-t -l`, I restarted it with `-t true -l` with no change. You are correct about the curl error, `curl: (35) error:14077410:SSL routines:SSL23_GET_SERVER_HELLO:sslv3 alert handshake failure`

Is there any possible alternative to upgrading mono? This is on a freebsd system so hand compiling to get to 4.8 would be my last resort.

[2017-03-12 20:27] bunius commented on #1072
there's no need. If it not used then invite return back to me.

[2017-03-12 20:38] gregorij89 commented on #1151
Unfortunatelly it is not that simple. I've already checked for that phrase. The problem lies somewhere in the cookie creation.

Cookie created and sended by Jackett (even after calling RequestLoginAndFollowRedirect) is something like
__cfduid=d541dc9362c1dc06cbc1478bde09692061489350184; TestCookie=ok; request_uri=%2Flogin-page%3Furl%3D%252Findex.html

But in browser before login it looks like:
__c

[2017-03-12 22:43] RoloSoze commented on #987
@kaso17 HDHome just came back up after maintenance was done, and now the tracker cannot be configured in Jackett due to the changes/updates they made.

[2017-03-13 05:45] seanvree opened #1152 "Request: Psytorrents"
Requesting support for PSYtorrents

https://psytorrents.info

I have invites available if needed.

Thanks for the hard work!!!

[2017-03-13 07:18] Nerwysh commented on #1067
+1

[2017-03-13 11:09] kaso17 commented on #1150
Ok, this might have happened if there are two or more request for the same file at the same time.
Should be fixed with 937d0597ec4e51147dc1f1bbefa10dfe9fea2182.

[2017-03-13 11:09] #1150 closed

[2017-03-13 11:17] kaso17 commented on #1090
Sorry, the command line argument to disable certificate logging is `--IgnoreSslErrors true`.
But based on the curl error it won't fix the problem. You probably are still using openssl 0.9.8 which is to old for shazbat. See the handshake simulation on https://www.ssllabs.com/ssltest/analyze.html?d=www.shazbat.tv&s=2400%3acb00%3a2048%3a1%3a0%3a0%3a681c%3ad1a

[2017-03-13 12:38] kaso17 commented on #1152
please send the invite to kaso1717 -at- gmail.com

[2017-03-13 13:00] seanvree commented on #1152
@kaso17  sent!

[2017-03-13 15:04] Gillingham commented on #1090
Looks like I actually solved this, upgrade the jail to FreeBSD 10.3 which includes openssl 1.0.1, and libcurl compiled against that, and shazbat is working. Thanks for the support.

[2017-03-13 16:17] Quiksmage commented on #380
Jackett Version 0.7.1146.0

I had issues testing my existing passthepopcorn in jackett. I removed it and tried re-adding and am receiving the same error. See below

`
Error on 20170313091421 for PassThePopcorn.txtSystem.ArgumentNullException: Value cannot be null.
Parameter name: String
   at System.Number.StringToNumber(String str, NumberStyles options, NumberBuffer& number, NumberFormatInfo info

[2017-03-13 17:52] kaso17 commented on #987
fixed with b3dca67d0aafb0f7c5245f91a55cabcfc5d8c865

[2017-03-13 18:09] kaso17 commented on #380
can't fix that one without an account. looks like a potential url decoding error.

[2017-03-13 18:10] kaso17 commented on #1152
turns out that I already had an account, you can reuse the invite.
added with 7211dfe07d890c965ec75cc058a5ce2421b33a02

[2017-03-13 18:26] rafuz opened #1153 "[New Tracker REQ] HDTorrents.it"
Indexer Name
HDTorrents.it

Type
Movies, TV, Audio

Indexer URL
https://hdtorrents.it

Indexer Language
Italian

Invite
An invite is needed.
I can provide one in a few days

Note
Recently has removed geo-blocking from website.
Please check if it can be added.

[2017-03-13 19:07] Quiksmage commented on #380
Can I possibly do what you need done and provide the information? I know it's less than ideal and I don't blame you if you'd rather not do a monkey in the middle approach, but I would be willing to help any way I can that doesn't put my account in danger (IE Sharing/rule breaking).

[2017-03-13 22:33] RoloSoze commented on #1153
@rafuz HDTorrents.it has already been requested in #1043 so I'm closing this and I'll mention your name there to specify that you can provide an invite.

[2017-03-13 22:33] #1153 closed

[2017-03-13 22:33] RoloSoze commented on #1043
@rafuz Mentioned in #1153 that he can provide an invite if required.

[2017-03-14 01:53] akizzle opened #1154 "HandleCore(): unhandled exception: Message = An error occurred while sending the request."
Receiving this error over and over again. If I force a test it sometimes works or fails once then works.

Any idea what could be wrong?

Unhandled exception url: http://IP:9117/torznab/tehconnection/api?t=movie&cat=2000,2010,2020,2030,2035,2040,2045,2050,2060&extended=1&apikey=lwct62mzze7idqe5tqdvs20pq6is1256&offset=0&limit=100

HandleCore(): unhandled exception: Message = An error occurred while

[2017-03-14 02:22] seanvree commented on #1152
THANKS!

[2017-03-14 04:18] seanvree commented on #1152
Hey, I updated to the latest branch, and I have psytorrents.cs in the jackett\src\jackett\indexers dir, but I'm not seeing it when I try to add it from the WebUI?

Currently on ver: 0.7.1150.0

[2017-03-14 05:41] kaso17 commented on #1152
it's not yet included in a release. You'll have to build it yourself or wait a few hours.

[2017-03-14 05:43] kaso17 commented on #1154
They had some down time issues during the last days. The error means that their server closed the connection. Should resolve itself.

[2017-03-14 05:48] kaso17 commented on #380
would at least need the json output you started to post, of course you should remove any personal information (authkey/passkey)

[2017-03-14 05:51] kaso17 commented on #1151
does RequestLoginAndFollowRedirect return the correct cookies?

[2017-03-14 05:55] kaso17 commented on #380
Additionally a list of category IDs and their corresponding description wold be useful (HTML code of the category selection dropdown/checkboxes of the search).

If sharing that information in the public is against the rules of course I wouldn't recommend it.

[2017-03-14 06:02] RoloSoze commented on #1154
@akizzle Yeah TehConnection has been down for maintenance for the past few days. I'll close this issue since it's caused by the tracker. If the problem persists after the tracker comes back online, please feel free to reopen this.

[2017-03-14 06:02] #1154 closed

[2017-03-14 06:03] kaso17 commented on #1151
If you want to port it to a cardigann definition this login block should work for cztorrents:
[code]

[2017-03-14 06:10] RoloSoze commented on #929
@kaso17 Has TT's certificate expired again? Log attached.
[log.txt](https://github.com/Jackett/Jackett/files/840401/log.txt)

[2017-03-14 10:33] kaso17 commented on #1149
fixed with 6f3127d36c492ff3d330390249dabe010cf812c1

[2017-03-14 10:33] #1149 closed

[2017-03-14 10:35] kaso17 commented on #1043
[code]

[2017-03-14 10:50] kaso17 commented on #929
yes, added an exception with 75dccd186be5acdc20c218de6dd74b37a04ae830

[2017-03-14 11:52] rafuz commented on #1043
It is just offline this morning... I don't know why, even the tracker is offline now.
I will check later and let you know

[2017-03-14 12:31] kaso17 commented on #1072
Added with cbbcf5dc0d07053cbc5adee8bc49bca43b55e848
Please test, it feels a little fragile.

[2017-03-14 12:31] #1072 closed

[2017-03-14 15:07] rafuz commented on #1111
Sorry but setting size to 0 breaks Sonarr results parsing.
It needs to know file size to compare quality categories.

[2017-03-14 15:09] kaso17 commented on #1111
In that case I suggest setting it to an arbitrary value, e.g.:
[code]
I also suggest to contact the TNT village admins and ask them to add the size to the search results.

[2017-03-14 15:16] rafuz commented on #1111
This is a good idea
In the meantime I will try adding a fixed size value to see if Sonarr parser is able to get results

[2017-03-14 15:22] rafuz commented on #1111
This is the result when using the search from Couchpotato :-(

`HandleCore(): unhandled exception: Message = Nullable object must have a value.
Data = System.Collections.ListDictionaryInternal
InnerException =
TargetSite = Void Throw()
StackTrace =   at System.Nullable`1[T].get_Value () [0x0000b] in <f712f98eb8e445c8918edaf595bbe465>:0
  at Jackett.Controllers.PotatoController+<Call>c__async0.Move

[2017-03-14 15:34] kaso17 commented on #1111
Ok, size is required for the potato feed :)
Should work with f2a03324f3872a7ca6b45c7fbadfdb048bfb6c8e

[2017-03-14 16:01] rafuz commented on #1111
5G is read as 5 byte.
I am using "3000000000" to set it to 3 GByte

It could be nice to report different default sizes based on category (1 GByte for TV and Anime and 2 GB for Movies)

Anyway the real solution is to get the real size from the search.

[2017-03-14 16:29] regisdepret commented on #610
Some search results come with string Name Year S99E99. when it happens, sonarr is unable to identify the correct match.
![image](https://cloud.githubusercontent.com/assets/20420844/23910943/05a836f2-08ba-11e7-8e3e-978df7a3a8e3.png)

Other results come as Name S99E99 Year, and work correctly, how to fix it?

[2017-03-14 16:44] kaso17 commented on #1111
For "dynamic" sizes something like this should work:
[code]

please create a pull request for it.

If the admins say no to adding the size I'll add a way to grab it from the details page.

[2017-03-14 16:47] kaso17 commented on #610
Please post the sonarr log of the manual search.

[2017-03-14 16:50] rafuz commented on #1111
I have already asked, waiting for an answer.

[2017-03-14 16:56] bonny1992 commented on #1111
It is extremely unlikely that the admins will say yes.
They are a lot against the use of tools like Sickrage or Couchpotato.

[2017-03-14 17:03] rafuz commented on #1111
TLDR: the admins says no

They are a lot against the use of tools like Sickrage or Couchpotato.

This is true but I did not asked it for download automation, but just to improve the search feature.
Anyway they answered that the page we are using for search is not meant to get all the details from a torrent. I should use the RSS sync or login to the full website to get all details.

[2017-03-14 17:05] bonny1992 commented on #1111
@rafuz
It is not needed to login, once you have the release detail link (which is a thing we already have) you can navigate into it with ease.

So we'll need to wait for @kaso17 if he has the time and will to add a way to grab the detail of the torrent from the detail page.
In that way I could even add the correct posting date.

[2017-03-14 17:23] regisdepret commented on #610
![image](https://cloud.githubusercontent.com/assets/20420844/23913370/8b345b96-08c1-11e7-955f-5d720a5106e4.png)

![image](https://cloud.githubusercontent.com/assets/20420844/23913399/a8255fb6-08c1-11e7-8f0f-16e9d4254903.png)

[2017-03-14 18:47] bonny1992 commented on #1117
I am currently doing Nyaa.se and it kinda works.
My only issue is when the status of the torrent is unknown, the "seeders" and "leechers" cell of the table is just not present.
How can I fix this? Is there any if statement I can run to check if a td with a determined class is present and then return 0 or something else?
@kaso17

[2017-03-14 19:13] regisdepret commented on #610
I think during the string creation for sonarr, the problem occurs, but i don´t know who create the string, if Sonarr, Jackett to Sonarr, or BJ to Jackett.

[2017-03-14 19:50] kaso17 commented on #610
Please check the files section for a more detailed log.
I think the problem is that sonarr searches without year and can't handle results containing the year.

[2017-03-14 20:00] kaso17 commented on #1117
You can make fields optional like this:
[code]
If you want to have a default use it like this (define it twice), the optional will override the first one if the selector matches:
[code]

[2017-03-14 20:01] kaso17 commented on #1111
Is the size/time included in the results if you're logged in? Then that would be the simple solution.

[2017-03-14 20:27] dpassmor opened #1156 "[REQ] Add Movie/x265 category for IPTorrents"
Please add the following category mapping for IPTorrents to pick up HEVC/x265 movie encodes:

AddCategoryMapping(100, TorznabCatType.Movies, "Movie/x265");

[2017-03-14 21:05] theotherp commented on #380
Sent you a mail.

[2017-03-14 22:31] RoloSoze commented on #1125
@kamikazechaser I'm closing this due to non-response. When you get the chance to post an enhanced log showing the issue, please feel free to post it.

[2017-03-14 22:31] #1125 closed

[2017-03-15 02:00] cpiscos opened #1157 "alpharatio.cc"
I'm using mono 4.8.0.495 and jackett v0.7.1158.
I keep getting a connection error when to add alpharatio.cc
This is from the debug:
--- End of stack trace from previous location where exception was thrown ---
  at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw () [0x0000c] in /media/sdx1/cpiscos/mono-4.8.0/mcs/class/referencesource/mscorlib/system/runtime/exceptionservices/exceptions

[2017-03-15 04:37] RoloSoze commented on #1072
@kaso17 It's working fine for me. Fragile how?

[2017-03-15 05:04] cpiscos opened #1158 "Sonarr not connecting"
Can't add indexers specifically thepiratebay on sonarr. When testing, I get a huge error in the mono debug:
--- End of stack trace from previous location where exception was thrown ---
  at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw () [0x0000c] in /media/sdx1/cpiscos/mono-4.8.0/mcs/class/referencesource/mscorlib/system/runtime/exceptionservices/exceptionservicescommon.cs:143
  a

[2017-03-15 06:11] seanvree opened #1159 "Can't download from sonarr/radarr: HTTP request failed: [404:NotFound] [GET]"
In the past couple days, I've noticed I can't DL anything from jackett via Sonarr/radarr:

Jackett ver: 0.7.1158.0
Windows 10E

The indexers can connect fine.

Downloading torrent file for episode 'The Matrix Revolutions 2003 1080p Blu-ray VC-1 TrueHD 5.1-FGT' failed (http://192.168.1.20:9117/jackett/dl/nethd/yta2gs8jaetdm4atln6nxabhcqt9uemd?path=aHR0cDovL25ldGhkLm9yZy9kb3dubG9hZC5waHA_aWQ9MTA0ODE

[2017-03-15 07:59] bonny1992 commented on #1111
Do you mean in the details page or in the releaselist?
In the releaselist it doesn't change if you're logged or not, and in the details page you can only thank the uploader of reply to the topic if logged.
The date/size is accessible without logging.

[2017-03-15 08:27] rafuz commented on #1111
From the release list if you click on an item you will open the release details:

![image](https://cloud.githubusercontent.com/assets/22271829/23939497/362dbb2e-0961-11e7-8373-7e500799d376.png)

You can find the torrent info at the bottom of the first post, I think that something like that has been done in a couchpotato plugin: [https://github.com/autoscatto/tntvillage-cp-provider](url)

[2017-03-15 10:56] ATor69 opened #1160 "Turn on/off available categories in Jackett"
This enhancement request is for the provided tracker "categories" to be able to be turned on/off at the user's discretion.  This will reduce the amount of unwanted/incorrect search results that could be returned for trackers that are not quality specific (Ex: Books v Audiobooks).  Since not all software this interfaces with supports category selection, being able to disable/enable categories on Ja

[2017-03-15 13:48] regisdepret commented on #610
Kaso17,

Since yesterday i´m trying to adjust sonarr, but i cant find any configuration with naming syntax.

In other side i´m thinking about something:

Look at images below, the year information comes during the jackett search.

I don´t know why, feud comes without year, and it works in sonarr, but legion comes with year, and don´t work in sonarr.

Looking at bj-share for both series profile, th

[2017-03-15 14:06] regisdepret commented on #610
Same issue when using Radarr.

![image](https://cloud.githubusercontent.com/assets/20420844/23952191/5df5ffe6-096f-11e7-9f5a-62c12a2a40d9.png)

[2017-03-15 14:07] regisdepret commented on #610
May be possible the problem is the syntax of year not coming between []???

2016 - Wrong
[2016] Correct

Just thinking.

[2017-03-15 14:26] regisdepret commented on #610
Looking at https://github.com/Jackett/Jackett/blob/87d3fd9443afb65789ccc32703d3cfa97ff7c0a9/src/Jackett/Indexers/BJShare.cs

I believe found the place where the string is created, but i´m not a developer, just an enthusiast.
![image](https://cloud.githubusercontent.com/assets/20420844/23953008/1881dc8e-0972-11e7-826a-8f59bf4b4c1f.png)

Could be the problem?

[2017-03-15 14:57] regisdepret commented on #610
I think i found the solution. In BJ profile configuration we have an option to group search results.
![image](https://cloud.githubusercontent.com/assets/20420844/23954378/e106b55a-0975-11e7-925a-cd3dd73e4ff9.png)

I deactivated the option to group, jackett now brings different information.
![image](https://cloud.githubusercontent.com/assets/20420844/23954510/3c29c9f4-0976-11e7-8093-869a4f2da01a.pn

[2017-03-15 15:59] Quiksmage commented on #380
I have been given the okay by staff to give you this information. Let me know if the below pastebin's are what you need.

http://pastebin.com/qV5xBhwk
http://pastebin.com/AsNVhqa4

[2017-03-15 16:07] Oscarteg commented on #1145
Little of topic but I would not use Yts.

[https://torrentfreak.com/yts-ag-wants-to-be-the-new-yify-on-popular-torrent-sites-151113/](https://torrentfreak.com/yts-ag-wants-to-be-the-new-yify-on-popular-torrent-sites-151113/)

[2017-03-15 17:53] rafuz commented on #1043
Reverted to geoblocking, I am sad :'(

[2017-03-15 17:59] kaso17 commented on #1160
I don't like the idea, it shouldn't be hard to make one more argument configurable in the client software. Do you have an example of such a client software (which doesn't support category selection)?

[2017-03-15 18:07] kaso17 commented on #1157
please include the lines before that debug output

[2017-03-15 18:08] kaso17 commented on #1072
they've some extra cookie checks, had some issues with automatic logoffs (not sure if they support multiple sessions).

[2017-03-15 18:11] kaso17 commented on #1159
It's working fine for me. Please post the corresponding jackett log.

[2017-03-15 18:13] kaso17 commented on #1158
please post a log with enhanced logging enabled.

[2017-03-15 18:14] bonny1992 commented on #1117
Added Nyaa.se thanks to @kaso17 with #1161

[2017-03-15 18:33] kaso17 commented on #1111
The CP plugin is using the "dim" column for size from http://forum.tntvillage.scambioetico.org/index.php?act=allreleases, which doesn't make any sense to me.
It additionally queries the details page, but just to get the magnet link...

[2017-03-15 18:34] kaso17 commented on #1111
Will add a feature to query other pages.

[2017-03-15 18:35] kaso17 commented on #1117
thank you

[2017-03-15 18:56] kaso17 commented on #1043
@bonny1992: with your recent addition of some italian trackers: I assume you're from italy?
Maybe you can help with this one?

[2017-03-15 19:56] bonny1992 commented on #1043
Yep, I'm italian :D You assumed correctly haha.
Sure, in the next days I'll see what can I do with this tracker.
If @rafuz could provide me an invite or access I'd be able to do that.

Related: Is it still geolocked? What kind of error it gives when you try to enter from a non-italian IP?

[2017-03-15 21:26] ATor69 commented on #1160
LazyLibrarian

[2017-03-15 22:31] EWouters opened #1163 "Config file"
Hi,

I'd like to install and configure jackett using a bash script. Is there a config file I can write options to?

Preferably I'd like to automatically setup the connections to for instance sonarr after install, but at least I'd like to set the Base Path Override and Admin password.

Can anyone point me in the right direction?

[2017-03-15 22:59] seanvree commented on #1159
@kaso17

Failed download response:
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="NetHD.org" />
<meta name="description" content="" />
<meta name="generator" content="NetHD.

[2017-03-16 02:57] desimaniac opened #1164 "Jackett is not yielding results from Sonarr search string for missing season"
Sonarr is sending a specific request when searching for a missing season (`This+is+Us&season=1`) that is not yielding any results by Jackett (for EZTV and Limetorrent).

To experiment, I did some manual searches on Jackett and my results are below...

Search strings that **did not** yielded 0 or few results:
- `This+is+Us&season=1`
- `This+is+Us+s01`
- `This is Us s01`
- `This+is+Us`
- `This%20is&

[2017-03-16 03:55] RoloSoze commented on #1043
@bonny1992 The error I get when trying to access it from a non-Italian IP:
404 Not Found

[2017-03-16 05:53] kaso17 commented on #1164
+ and %20 are ways to encode spaces in URLs. Can you please post a complete query URL from the jackett or sonarr logs?
http://127.0.0.1:9117/torznab/limetorrents?apikey=xxx&cat=5040,5030&q=This+is+Us&season=1 returns 1 result for me.

The problem seems to be with EZTV/limetorrents.

The resulting URLs from which the results are parsed are these:
https://eztv.ag/search/This%20is%20Us%20S01
https://

[2017-03-16 06:17] Taloth commented on #1164
afaik, Sonarr does use %20 not + (but an url parser should handle both cases transparently). I posted the example query string to emphasis to @desimaniac that sonarr queries by queryparams for the season, and not as part of the title string, and as such isn't involved in generating the search string used for individual sites.

[2017-03-16 06:21] desimaniac commented on #1164
@kaso17 http://hybridoneconstruction.synology.me:9118/torznab/limetorrents/api?t=tvsearch&cat=5030,5040&extended=1&apikey=xxx&offset=0&limit=100&q=This Is Us
is returning all episodes available to me. I tried to modify Sonarr to send the tv show name without + or &20, but Sonarr is giving validation errors even though Jackett finds results.

[2017-03-16 06:24] kaso17 commented on #610
The default format (with grouping) is fine for sonarr.
The problem is that sonarr can't handle the always present year (if the year is behind the episode tags it's ignored). I've opened https://github.com/Sonarr/Sonarr/issues/1768 for it.

A hacky workaround on the jackett side would be to remove the year from the title if it's not present in the search string. But fixing it on the sonarr side is

[2017-03-16 06:29] kaso17 commented on #1159
It's returning a "Permission denied!" error.
Please try downloading the torrent file via the nethd website, does that work?
Also change your password and logoff/login again (cookies are included in the log)

[2017-03-16 06:35] kaso17 commented on #1164
The + and %20 is not your problem, these are just different ways of encoding spaces in URLs.

These URLs will all work and return the same results:
[code]

[2017-03-16 06:36] RoloSoze commented on #1159
NetHD's membership expires every six months. You'll need to send an email to the address mentioned on the website to have it renewed. You can still access the website but it won't let you download torrents.

[2017-03-16 06:45] desimaniac commented on #1164
Ok. Then it's the S01 or Season1 part that is doing it then.

[2017-03-16 06:46] kaso17 commented on #1164
Yes, see these examples:
https://www.limetorrents.cc/search/all/This%20is%20Us%20S01/
https://eztv.ag/search/This%20is%20Us%20S01
@desimaniac: are you aware of any way to get all season 1 results (season packs and single episodes) using the search on https://www.limetorrents.cc?

[2017-03-16 06:49] kaso17 commented on #1164
@Taloth: do you know how sonarr behaves if a search for a season without episode returns single episodes? Will it download the individual episodes or only packs?

[2017-03-16 06:53] desimaniac commented on #1164
@kaso17 Cant figure it out a way to do so without having to do every episode (eg s01e01 s02e02 etc)

[2017-03-16 06:56] kaso17 commented on #1163
all config files are in ~/.config/Jackett

An automated way sync the indexers added in jackett to sonarr/radarr is on my wishlist too. I didn't look into the sonarr API yet. If you can provide a proof of concept bash script or similar to create/remove/edit indexers in sonarr/radarr it would be highly appreciated.

[2017-03-16 07:24] kaso17 commented on #380
Thank you.
The error is caused if movies without imdb ID.
Overall it looks like a slightly modified gazelle API. I'll probably port it to the generic gazelle provider. What does "GoldenPopcorn" mean? Freeleech?

[2017-03-16 07:29] theotherp commented on #380
Golden popcorn rips are those considered especially high quality. They should be scored higher, I think. Some tools have an option to require golden rips for movies.

[2017-03-16 07:52] bonny1992 commented on #1043
@RoloSoze
From where is your IP?
Because I have some non Italian ips and I can't reproduce the error.
It may be locked outside Europe.

[2017-03-16 08:12] seanvree commented on #1159
@kaso17 , @RoloSoze , thanks!

[2017-03-16 08:12] #1159 closed

[2017-03-16 08:19] rafuz commented on #1043
@bonny1992  Actually you can freely register an account [http://hdtorrents.it/signup.php](url)
The geoblocking has changed someway, but not completely removed.

[2017-03-16 08:54] twilightrazor commented on #1145
I know but they still provide reliable movies in a small file size. Plus (as far as I know) the people that run this YTS are the same people that run EZTV which is already supported.

[2017-03-16 10:26] kaso17 commented on #1043
I tried it from 3 different IPs (2 European, 1 US).
On both links (http://hdtorrents.it/ and http://hdtorrents.it/signup.php) I'm getting the 404 error.

[2017-03-16 10:44] bonny1992 commented on #1043
@rafuz
Oh, neat. I just registered.

@kaso17
I don't understand properly which country is blocked and which is unlocked.

Also they handle categories in a very weird way.
![Releases](https://i.imgbox.com/C0hX7aMl.png)

As you can see, "Chicago Fire" is marked as the same category of "Dio esiste e vive a Bruxelles".
There is no direct way to get the correct categories from the list, the releases ar

[2017-03-16 11:50] kaso17 commented on #380
Please check v0.7.1167, categories have been updated and the imdbid bug should be fixed. Will make more improvements in the following days.

[2017-03-16 11:52] regisdepret commented on #610
how can i trace this log to send you?

[2017-03-16 12:10] kaso17 commented on #1043
The only way would be to match on certain strings in e.g. the title

In that case add some dummy categories:
[code]

And then use a case to map it to a category based on a matching selector
[code]

[2017-03-16 12:12] #1156 closed

[2017-03-16 12:14] kaso17 commented on #610
in Sonarr it's at "System/Logs/Files"

[2017-03-16 12:26] RoloSoze commented on #1072
Not sure about the extra cookie checks but you're right about the tracker not supporting multiple concurrent sessions. The same thing's happening over here, but everything else seems to be working fine so far.

[2017-03-16 13:37] regisdepret commented on #610
[radarr.txt](https://github.com/Jackett/Jackett/files/847819/radarr.txt)

[2017-03-16 14:50] rafuz commented on #1043
I don't know if ti could be useful but there is a CP provider for hdtorrents.it too: [https://github.com/neothematrix/hdtorrentsit-cp-provider](url)

[2017-03-16 15:13] Taloth commented on #1164
@kaso17 "&season=1" means "any episode in that season or season pack", so yes. It's expected behavior that the indexer returns season packs and all individual episode releases (including possible S01E01E02 doubles).
Mind you, in newznab (and by extension torznab) this is supposed to be a simple "AND season = 1" in the database backend, fast and easy.... if an site as actually a proper indexer.

[2017-03-16 15:16] memnos commented on #1099
@bonny1992 : as i see you are italian, if you want i can give you access to my account so that you can create definition.
You can use my account whenever you want with no problem. i have i very good ration :-)

[2017-03-16 16:54] desimaniac commented on #1164
@Taloth So basically individual episodes such as "sXXe01, sxxe02, sxxe03, etc" are triggered by "AND season=1"...

@kaso17 Can that be hardcoded in to do those individual searches automatically?

[2017-03-16 17:17] desimaniac commented on #1164
@kaso17 The EZTV update worked! Can we do something similar for LimeTorrents? Just search the name without the SXXEXX format for season searches?

[2017-03-16 17:18] Quiksmage commented on #380
It looks to be working well. I did searches for a few movies and everything looked good. I haven't hit any api limit yet. I tested a filter for GoldenPopcorn and that worked too. Thanks for all your effort in this :)

[2017-03-16 17:51] rbroh commented on #380
I've updated to .1167, but I'm still unable to get anything from PTP.  No errors, just no results show up for automatic or manual search.  Testing in either radarr or jacket interfaces gives me success.  Any ideas?

[2017-03-16 18:34] mrmrmrmr1 opened #1165 "Jackett not downloading from piratebay proxy"
[log.txt](https://github.com/Jackett/Jackett/files/848682/log.txt)
Hi,

I am using Jackett to download torrent files from Piratebay proxy with CouchPotato.
I am also using it with Sonarr.
With Sonarr , I have no issues but with CouchPotato, I can't download recently.

CouchPotato log shows :

`03-12 23:24:01 INFO
[hpotato.core.plugins.base] Opening url: get http://192.168.254.3:9117/dl/thepirateba

[2017-03-16 19:21] Quiksmage commented on #380
I haven't tested in radarr or couchpotato, yet. I specifically tested in Jackett itself with its manual search. Does it work for you there?

[2017-03-17 10:44] valantislevas commented on #204
@kaso17 Configuration failed: Login failed: No form found on http://magico.info/?p=home&pid=1 using form selector form#loginbox_form

it changed to https:// is possible to upgrade it?

[2017-03-17 19:39] rbroh commented on #380
I just tested in Jackett and it's working there for manual search.

Here's the relevant section of the log file from within Radarr, perhaps something jumps out:

`17-3-16 14:08:21.8|Info|NzbSearchService|Searching 1 indexers for [American Pie 2]
17-3-16 14:08:21.8|Debug|Torznab|Downloading Feed http://127.0.0.1:9117/torznab/passthepopcorn/api?t=movie&cat=100001,100003,100002,2000,2010,2020,2030,20

[2017-03-17 20:15] Quiksmage commented on #380
You're correct that it's not working in radarr. I just tested with both my torznab jackett PTP and with the inbuilt indexer for PTP.

I only received results from the built-in Indexer of Radarr.

When I look in Jackett's log, I see

Mar 17, 2017 01:09:20 PM	Info
Found 5 (5 new) releases from PassThePopcorn

When I look in Radarr's log of that same transaction, I see

17-3-17 13:09:11.6|Info|NzbSea

[2017-03-17 20:30] rbroh commented on #380
Same thing here - if I enable IPtorrents indexer in jackett, this same search does produce results.

To get more verbose logging in Radarr, go to settings > general and then bump up the log to either debug or trace.  These logs are stored in C:\ProgramData\Radarr\logs

[2017-03-18 07:35] kaso17 commented on #380
Seems like Radarr expects more than just the movie name and the imdb id which is currently provided by the indexer (Is assume quality tags, etc. are expected).
I'll include the extra information provided in the output

[2017-03-18 07:39] #1164 closed

[2017-03-18 07:40] kaso17 commented on #1164
thank you

[2017-03-18 07:41] desimaniac commented on #1164
No, thank you!

[2017-03-18 07:54] kaso17 commented on #204
You've to change the site link in the configuration.
There's a small bug with form based login. If you change the url and click ok you still get the error. Just close and reopen the dialog and click okay again.

[2017-03-18 07:54] kaso17 commented on #204
default is changed with 1865ba1393c557482dd1abeb5184bf5fad9321a9

[2017-03-18 08:09] kaso17 commented on #1165
It seems like they removed the download link for torrent files, only magnet links are supported now.
Jackett should no longer report a download link and CP should use the magnet link.

[2017-03-18 08:20] kaso17 commented on #610
Please increase log level to Trace (settings > general > logging) and post the update log again.

[2017-03-18 09:30] valantislevas commented on #204
fantastic thanks.

[2017-03-18 12:22] regisdepret commented on #610
[radarr.txt](https://github.com/Jackett/Jackett/files/852397/radarr.txt)

[2017-03-18 14:58] kaso17 commented on #610
Seems like there's an DNS problem (Error: NameResolutionFailure)?
17-3-18 09:17:29.4|Warn|Torznab|BJ-Share http://regisdepret.no-ip.org:8517/torznab/bjshare/api?t=search&cat=2000,2010,2020,2030,2035,2040,2045,2050,2060&extended=1&apikey=(removed)&offset=0&limit=100&q=rogue%20one%20star%20wars%20story%202016 Error: NameResolutionFailure

[2017-03-18 17:00] W3Warp opened #1167 "Manual search page issues"
**Windows 10 x64
Firefox x64 52.0.1 (64-bit) resolution 3840x2160
Jackett Version 0.7.1167.0**

Issues with the manual search page --> http://imgur.com/a/lh2VI
-------------------------------

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/43181535-manual-search-page-issues?utm_campaign=plugin&utm_content=tracker%2F25207257&utm_medi

[2017-03-18 19:42] kaso17 commented on #1167
which firefox version are you running with which resolution?

[2017-03-18 19:45] Blackkatt commented on #1167
52.0.1 (64-bit) resolution 3840x2160

[2017-03-18 20:57] mrmrmrmr1 commented on #1165
ok. so where should be the solution ?
jackett or Couchpotato ?

[2017-03-18 21:13] RoloSoze commented on #1163
@EWouters Did @kaso17's response answer your question?

[2017-03-18 21:18] RoloSoze commented on #1167
I've always had this issue as well on Firefox (regardless of the version). I've only ever used Jackett in Firefox so I don't know about Chrome and other browsers.

The results table extends out of bounds when at least one of the search results is too long and does not get wrapped up to the next line. If, for example, you filter the search results, and the particular ones causing this issue are hid

[2017-03-18 21:24] kaso17 commented on #1167
I assume in the hidden part of the results from your screenshot you've a very long release name (using . and _ instead of spaces)?
Firefox (and Chrome) won't wrap words on typical scene release punctuation causing the overflow.
I've added 14cd771f8d02e8ebf9174e91c5bab598f7afc823 to inject word wrap markers at all typical punctuation.

[2017-03-18 21:32] kaso17 commented on #1165
If you're still getting this error the proxy site might be rewriting the links. Please share which proxy you're using.

[2017-03-18 21:51] RoloSoze commented on #1167
In my case, this line wrapping issue tends to happen with another issue, which I believe is Firefox-specific.

Sometimes when I search all trackers using fairly generic keywords (e.g. only the TV show's name), I'd get the following error:
![unresponsive script](https://cloud.githubusercontent.com/assets/23747425/24076253/2127f9e0-0c3d-11e7-9898-e3f1ca776823.jpg)

And when I click on Debug script,

[2017-03-18 22:00] mrmrmrmr1 commented on #1165
what do you mean by "still getting" ?
nothing has changed , so I am still getting the error. Has anything changed on code ?

I am using Piratebay proxy as: https://ukpirateproxy.xyz/

[2017-03-18 22:21] RoloSoze commented on #903
@kaso17 Jackett does not return dead torrents from M-Team. Can this be fixed?

[2017-03-19 06:15] Blackkatt commented on #1167
@kaso17 yes, http://imgur.com/a/mGpLr

[2017-03-19 09:32] kaso17 commented on #1165
yes, the proxy site is to blame. They change the download link to the details page (I assume to show one more round of popup adds). I can't find the torrent hash in the result page, so there's no good way to fix it. I suggest you use another proxy page.

[2017-03-19 09:32] #1165 closed

[2017-03-19 09:48] kaso17 commented on #1167
@Blackkatt your problem should be fixed with the next release.
@RoloSoze Try searching with less displayed search results (try 20). Does that make a difference?

[2017-03-19 09:52] kaso17 commented on #903
should be fixed with 0fe06c4cd2a906528376b4f9e0f3723af6e20146

[2017-03-19 10:04] RoloSoze commented on #1167
@kaso17 Just tried using the same keywords and 20 search results. The problem is still there. It doesn't seem to be related to the no. of search results displayed. If I make the search a bit more specific (in this case I added 1080p to the search string), the problem is gone.

[2017-03-19 11:52] bentux commented on #1067
+1

[2017-03-19 12:03] RoloSoze commented on #987
@kaso17 HDH's management decided to revert to the old design after users complained. Now the tracker can't be configured in Jackett. I guess we need the old configuration back :)

[2017-03-19 14:12] kaso17 commented on #1167
In the background it still adds the freeleech tags, tooltips, etc. for all rows. Seems like that's already to much in your case. Probably have to change that.

[2017-03-19 15:02] kaso17 commented on #987
done with 2d4d27175b776b80ab1015c5ae99f095f2e9dea0

[2017-03-19 15:02] RoloSoze commented on #1167
@kaso17 Seems like it doesn't like the onloadCallback function.

[2017-03-19 15:10] kaso17 commented on #380
deeba22c3936e98d07ebe7bb0c6c9eccdc8afe49 contains various changes.
It turns out that there are plenty of torrents with a crappy ReleaseName (no quality, etc. tags, sometimes even the movie name is missing, ...) So I added the available quality, etc. information in [] Brackets to the title, hopefully Radarr picks them up.
Please test it, please also try a manual search for some non movie/TV torrent

[2017-03-19 15:21] kaso17 commented on #1167
The onloadCallback is an unrelated warning, but fixed anyway with 02de1239aa7dd18b2b79fe12a5c7d08a15955b34

[2017-03-19 21:08] mrmrmrmr1 commented on #1165
ok. but if you close this thread how can I find a solution ?
you say "try another proxy page" , you mean another piratebay proxy ?
I tried that with similar result. so what can I try now ?

[2017-03-19 21:12] mrmrmrmr1 commented on #1165
btw, how does it work with Sonarr ?
I have the same settings on Sonarr and Couchpotato. there is no problem with Sonarr+Jackett
and why are we dealing with download link when there is the magnet link ?

[2017-03-20 00:39] EWouters commented on #1163
Thanks, I was able to configure the Base Path Override. Is there anyway to write a [hashed password](https://github.com/Jackett/Jackett/blob/a26e07210f0b7db1bffcda397523e713bc5aea16/src/Jackett/Services/SecuityService.cs#L42) to the config file from bash?

I will post back with a script to create indexers in sonarr if I find a way to do it.

[2017-03-20 00:39] #1163 closed

[2017-03-20 02:12] RoloSoze commented on #304
@kaso17 Looks like SceneFZ is back and is open for registration at the moment :) Any chance of adding it back in Jackett?

http://scenefz.me/signup.php

[2017-03-20 02:59] RoloSoze commented on #986
I'm closing this issue since Il Corsaro Nero has already been added,

[2017-03-20 03:01] RoloSoze commented on #1032
@bonny1992 Thought I'd bring this to your attention since you've been working on a number of Italian trackers lately - Thank you for that, by the way!

Are you able/willing to help out with this one?

[2017-03-20 03:03] RoloSoze commented on #1046
@kaso17 Any updates on this one?

[2017-03-20 03:06] RoloSoze commented on #1157
@cpiscos Are you able to include the lines that @kaso17 has asked for? That would be appreciated. Thank you!

[2017-03-20 03:07] RoloSoze commented on #1158
@cpiscos It would be great if you could post an enhanced log of this problem! Thank you!

[2017-03-20 03:13] RoloSoze commented on #838
@kaso17 It also seems like BitMeTV needs an andmatch filter. The tracker has the tendency to spit out so many irrelevant results, particularly when searching multiple trackers.

[2017-03-20 06:07] RoloSoze commented on #1167
@kaso17 Thanks for that, but how would you go about changing things to resolve this issue? What changes need to be made?

[2017-03-20 08:13] NagWolf commented on #1145
Hi Guys

Can you please add https://yts.ag/ tracker  as this is also where I download my movies from .

[2017-03-20 08:46] bonny1992 commented on #1032
@RoloSoze of course I'm willing to help with this one, but in this exact period I have some tasks I have to do, so maybe I won't be able to put my hands on the work in a short time.
Also I already started doing something with this tracker.

[2017-03-20 09:03] RoloSoze commented on #1032
@bonny1992 No problem at all! Thank you for your help, and please take your time!

[2017-03-20 12:00] regisdepret commented on #610
i made some adjustments in Jackett address to localhost:9117.

now i have success for some movies.
![image](https://cloud.githubusercontent.com/assets/20420844/24098814/2eb12848-0d4b-11e7-9e4e-2dd3415c862e.png)
There is an error but download button is available.

And some movies keep unparseable.
![image](https://cloud.githubusercontent.com/assets/20420844/24098861/58595486-0d4b-11e7-8b30-6181f16a

[2017-03-20 14:06] RoloSoze opened #1168 "[Bug] Chinese trackers do not return dead torrents in Manual Search"
The following Chinese trackers do not return dead torrents in Jackett. It would be great if this can be fixed. Thanks you.

- [x] HDHome
- [x] HDSky
- [x] CHDBits
- [x] TorrentCCF
- [x] Ourbits (HDPter)
- [x] M-Team TP

They're all based on NexusPHP and follow the same design, more or less. In order to view dead torrents on the trackers' websites, you'll need to expand the Search Box (at the top o

[2017-03-20 16:18] rbroh commented on #380
kaso, I'm not a dev, so I'm sorry if this is stupid Q, but is this change already posted?  As in, if I updated through the Jackett interface, am I getting this change?  If so, it hasn't resolved the problem.

I can get you in to PtP. How can I contact you?

[2017-03-20 18:35] kaso17 commented on #1165
yes, I mean another piratebay proxy.
If you compare the link of the magnet symbol of the search result page you'll see that it's not a magnet link on https://ukpirateproxy.xyz/ while it's on the official piratebay. That's the problem.
In order to get the magnet link we would have to get each detail page when https://ukpirateproxy.xyz/ is used. That would significantly increase the load and make th

[2017-03-20 18:37] kaso17 commented on #380
Check the bottom of your Jackett website.
You need version v0.7.1176.
If the update doesn't work please post the log.txt and update.txt files.

[2017-03-20 18:51] kaso17 commented on #610
`17-3-20 08:59:14.2|Debug|ParsingService|No matching movie Resident Evil 6O Capítulo Final [Resident EvilThe Final Chapter`
As expected Radarr doesn't handle the duplicate (english+foreign title) correctly.
I'll try to add some option to rewrite it to the corresponding name.
Does Radarr expect the foreign title or the english original one?
Additionally it seems like the HD and Full HD tags are use

[2017-03-20 18:56] rbroh commented on #380
Ok, thanks.  I am running v0.7.1176.

However, manual search in Radarr still not producing any results, though Jackett's manual search does. Here's the trace log from Radarr:

`17-3-20 14:52:54.4|Trace|ConfigService|Using default config value for 'proxyenabled' defaultValue:'False'
17-3-20 14:52:55.1|Trace|HttpClient|Res: [GET] http://127.0.0.1:9117/torznab/passthepopcorn/api?t=movie&cat=100001,10

[2017-03-20 19:10] kaso17 commented on #1163
jackett uses some AES based password obfuscation.
In the config file the result is stored as base64 encrypted string.
The key is derived from a fixed constant and the InstanceId from the config file (randomly generated on the first time).
If you set the InstanceId too you can use the same hash across all installations.
Check ProtectionService.cs for the implementation details.

[2017-03-20 19:10] regisdepret commented on #610
I believe radarr expects english title, because during "add movie" action, this is the results of search:
![image](https://cloud.githubusercontent.com/assets/20420844/24116678/4ff726d4-0d86-11e7-8638-3537a8418e25.png)

This youtube video was made to teach how upload into bj, i believe the information about tag rules is inside it.
https://www.youtube.com/watch?v=j-36j9bsgi0&feature=youtu.be

[2017-03-20 19:12] bunius commented on #1072
unfortunately it doesn't work :( Found 0 torrentpotato releases from PolishTracker for: ....
When you press "view cached releases" then in a column "Name" is a category name instead a release name.

[2017-03-20 19:19] kaso17 commented on #304
can't login with my old account. Reregistered. But seem slike they changed something, will have to look at it later.

[2017-03-20 19:23] kaso17 commented on #1167
There are many ways to optimize the manual search. Could start with doing the postprocessing only for the displayed results. The best option probably would be to replace the complete manual search engine with some kind of streaming (results come in for each tracker individual). But to do that properly we would need WebSockets which aren't supported by the WebServer implementation. And changing the

[2017-03-20 19:25] kaso17 commented on #380
please post the extended jackett  log for that request (ttp://127.0.0.1:9117/torznab/passthepopcorn/api?t=movie&cat=100001,100003,100002,2000,2010,2020,2030,2035,2040,2045,2050,2060,2070,2080,5000&extended=1&apikey=(removed)&offset=0&limit=100&imdbid=0486822) too.

[2017-03-20 19:26] kaso17 commented on #1072
please share an enhanced log, might be some profile settings affecting the search result table

[2017-03-20 19:35] rbroh commented on #380
I just tried another movie - Sully, and this time I received 1 result, though PtP has numerous.  The result that radarr got was the sole French release.

Here's the log for that from Radarr.  The extended log from Jackett follows
[code]

And here is the extended jackett log for the Disturbia request:

[code]

[2017-03-20 19:43] mrmrmrmr1 commented on #1165
hi,

I tried a few other piratebay proxies but all of them produced same results. I can't find a proxy site with proper download button. Do you have a working example ?
and what do you mean by "magnet link is not actually a magnet link"
I get this link under magnet link of an example:

it seems decent...

I mean , I use Jackett+SOnarr for TV series and Jackett+Couchpotato for movies.
I have no iss

[2017-03-20 20:16] kaso17 commented on #1165
that magnet link looks fine, but that's not the one I'm getting from https://ukpirateproxy.xyz/

[2017-03-20 21:23] mrmrmrmr1 commented on #1165
well , all I do is search for a movie and copy the link from magnet symbol.
anyway, what do you suggest for me  considering following :

1. with sonarr I have no issues
2. with couchpotato+Jackett , using several different piratebay proxy servers, I can't succeed
3. magnet url seems ok, but looks like couchpotato is using download instead of magnet url

[2017-03-20 22:45] RoloSoze commented on #304
@kaso17 This is actually a new tracker that uses the SceneFZ name; I doubt it's connected to the old SceneFZ in any way.

[2017-03-20 23:23] RoloSoze commented on #1167
@kaso17 I guess we could try post-processing for the displayed results & see how it goes. With Jackett now supporting way more trackers than it did a few months ago, I think improving Manual Search has become a necessity.

[2017-03-21 01:28] RoloSoze commented on #885
@kaso17 Is 7tor working for you? It seems like they switched from https to http but when I try to use the latter, I get redirected!

[2017-03-21 02:01] maxcore opened #1169 "[Bug] Elite-Tracker"
with couchpotato :
[code]
with raddar
[code]

[2017-03-21 07:57] hex commented on #304
@kaso17 Yep, this is not the old SceneFZ. The old one is gone, only the email addresses of the users could be recovered.

[2017-03-21 11:31] rafuz commented on #1043
![image](https://cloud.githubusercontent.com/assets/22271829/24145592/23fbf512-0e32-11e7-9519-dc199bc823a6.png)

Seems strange but when creating an RSS link you can choose categories.
So somewhere in the release should be a category set.

[2017-03-21 12:01] RoloSoze commented on #890
@kaso17 Could you please double check the category mapping? I believe Jackett omits some results.

E.g. Search for Office 2015 on ADC's website - 4 results vs. In Jackett - 3 results - The BD50 is missing. I've noticed this a number of times.

[2017-03-21 17:13] regisdepret commented on #610
What if you use IMDB/TVDB number instead of name? BJ demands uploaders to put the identify uploads with this information?

[2017-03-21 18:47] RoloSoze commented on #885
@kaso17 UPDATE: The issue has now been resolved. Ignore my above comment.

[2017-03-21 19:11] mrmrmrmr1 commented on #1165
hi,

what can I do ?

[2017-03-21 19:48] bunius commented on #1072
@kaso17
I hope you find this information helpful. Thank you.

[logPolishTracker.txt](https://github.com/Jackett/Jackett/files/859472/logPolishTracker.txt)
![obraz](https://cloud.githubusercontent.com/assets/26360350/24167516/4f58bfac-0e77-11e7-895e-4d9a3f4ff559.png)

[2017-03-22 00:56] soulvoid86 opened #1171 "IPTorrents Freeleech Category"
Not sure if it's possible to include the Freeleech category for IPTorrents to Jackett. That's the only feature it's missing for me!

Thanks :)
Sage

[2017-03-22 00:59] soulvoid86 commented on #1171
Not sure if it helps, but this is the URL to the cat.

https://iptorrents.com/t?free

[2017-03-22 03:43] RoloSoze opened #1173 "[BakaBT] General Improvements"
I believe BakaBT has not been brought up to speed with the latest Jackett features & enhancements. Among those are the following:

1. Mark the tracker as Semi-Private. I believe registration is always open at https://bakabt.me/signup.php

2. The Manual Search results table is incomplete - Needs freeleech / discount rules, number of files, category (not sure if these are up to date), grabs, and DL

[2017-03-22 04:28] RoloSoze opened #1175 "[New Tracker REQ] HDBits.org"
**Indexer Name**
HDBits

**Type**
Movies & TV in HD

**Indexer URL**
https://hdbits.org/

**Indexer Language**
English

**Invite**
- It would be ideal if a current HDBits member is willing to start a conversion with the staff about providing an invite to a Jackett developer to add support for HDBits.

- Otherwise, if a current HDBits member is willing to implement Jackett support themselves and su

[2017-03-22 05:02] RoloSoze commented on #1160
@kaso17 Are any further actions required here?

[2017-03-22 05:36] adamwinn commented on #1175
I can probably create a pull request for this

[2017-03-22 05:37] RoloSoze commented on #1175
@kaso17 @flightlevel Would you guys be willing to review @adamwinn's pull request for HDBits?

[2017-03-22 05:50] RoloSoze commented on #1175
@adamwinn Given your recent pull requests, any interest in adding **I Love Classic**?

[2017-03-22 05:54] adamwinn commented on #1175
@RoloSoze I'm working on getting an invite as we speak

[2017-03-22 06:28] adamwinn commented on #1175
I'm going to have to pass on doing this one.  They use a csrf token during login.  Also, you get redirected and logged in again with a separate hash, pass, and uid that seems system generated.  I don't want to risk getting banned trying to figure it out.

[2017-03-22 06:58] RoloSoze commented on #1175
@adamwinn Are you willing to speak to the admins & developers about this? They may be able to help if they knew the purpose is adding Jackett support.

[2017-03-22 07:11] adamwinn commented on #1175
No, I'm brand new there

[2017-03-22 07:38] RoloSoze commented on #1175
@adamwinn No problem at all. We may be able to sort this out some other way in the future.

Thank you for your tremendous contributions so far. Any other trackers would be welcome :)

[2017-03-22 11:15] silverbullettruck2001 opened #1177 "Jackett Dev Help"
I am trying work on some changes for Jackett but when I try to debug the Jackett solution VS 2015 gives me an error of "A project with an Output Type of Class Library cannot be started directly.  In order to debug this project, add an executable project to this solution which references the library project.  Set the executable project as the startup project".  Can someone provide some pointers on

[2017-03-22 12:07] Jorman commented on #986
Hi, tnx for this. I've one little question about categories, on jacket side, with the plugin I've:

On sonar, with advanced settings, on categories I see 5030,5040. My question is, I've to put 100015 instead 5030 or I can leave the default one? The categories function is not clear for me.

Tnx in advance, Cry

[2017-03-22 18:23] kaso17 commented on #986
The IDs >= 100000 are the tracker specific ones.
You can see the mapping to the generic ones (<100000) here:
https://github.com/Jackett/Jackett/blob/master/src/Jackett/Definitions/ilcorsaronero.yml#L11-L16
If you set it 5000 it will include the anime category too. If you set it to 100015 it's the "TV Series" category only.

[2017-03-22 18:52] kaso17 commented on #1171
What's your use case?
"Only download freeleech"?

[2017-03-22 19:30] soulvoid86 commented on #1171
Yes, then fall back on non freeleech if possible. If not, I can just go in and manually search.

[2017-03-22 19:31] kaso17 commented on #1160
I'm planning to check out lazylibrarian. But I've very little available time for Jackett currently.

[2017-03-22 19:37] kaso17 commented on #1175
Without having access you'll have to use form based login "method: form" with "path: /login"
The CSRF part should be handled fine. If there are multiple redirects setting cookies it might be a problem.

[2017-03-22 19:41] kaso17 commented on #1177
You've to change the Executed project (drop down next to the the start button) to "JackettConsole.exe".

If you're planning to add a new tracker I suggest to use a Cardigann Definition if possible (Have a look at the Definitions directory for some examples). It doesn't require recompiling Jackett.

[2017-03-22 19:51] kaso17 commented on #1171
The proper way of handling this is in Sonarr/Jackett. The corresponding attributes (See https://github.com/Sonarr/Sonarr/pull/1464) are already available for most indexers (including IPtorrents). They've been added exactly for this use case but Sonarr/Rararr currently ignores them in their download decision. In the Jackett manual search you can already sort by "DL factor".

I suggest you open a ne

[2017-03-22 19:53] Jorman commented on #986
Tnx for your reply, but I don't get it. Maybe I ask the wrong question.

I mean:
On Jackett side this addon have this categories

But on Sonar side, when I add the ability to search on ilcorsaronero, Sonar, by default, have 5030,5040 categories. So my question is, if I leave 5030, 5040 on Sonar, can be ok? If I got it right, on Sonar, If I set 5000, Sonar will search all over 5000? If yes, way the

[2017-03-22 20:29] soulvoid86 commented on #1171
Great, thank you!

[2017-03-22 20:52] mrmrmrmr1 commented on #1165
am I the only one having this issue on Jackett ?

[2017-03-22 22:09] shenanigans12 opened #1179 "No documentation whatsoever on ca-certificates-mono"
The instructions for OS X say to install ca-certificates-mono, but there are no instructions on where to find that package or how to install it.  I've been googling for an hour and theres no information here, on the Mono site, or anywhere else. Please advise!

[2017-03-22 22:32] frankhommers commented on #261
I solved this by installing some a mono package (with dependencies):

sudo apt-get install libmono-system-servicemodel4.0a-cil

[2017-03-23 01:38] ozoak opened #1181 "Search Results Returned on Season and Episode only (IPT)"
When a search (for IPT) is passed to Jackett from Sonarr the results appear to be for all shows, matching only on the Season and Episode numbers passed.

Appears to be a recent occurrence, however I couldn't pin down when it began. I updated to 0.7.116 to attempt to correct it, so the behaviour started before that. I would _guess_ at it being in the 0.7.11## range, and I'll start rolling back vers

[2017-03-23 03:23] ozoak commented on #1181
I'm guessing this is Sonarr. I've gone back as far as 7.841, tried 7.902 and 7.1176 as well - same result. Will try rolling back Sonarr.

Spose this can be closed now. Will do so once I can confirm a Sonarr rollback corrects :)

[2017-03-23 04:33] kaso17 commented on #1181
looks like a dupe of #526 and #1132 (sonarr issue)

[2017-03-23 04:33] #1181 closed

[2017-03-23 04:43] ozoak commented on #1181
Yeah, correct. Missed the reference to opening up the API to see the capabilities being reported. And if I read it right, RID has never been supported. I already created a post on Sonarr forums, I'll keep following up there. Wish I'd caught some earlier logs in Sonarr to be able to demonstrate it not behaving the same. C'est la vie.

Cheers

[2017-03-23 04:44] RoloSoze commented on #1043
Closed through #1180

[2017-03-23 04:49] kaso17 commented on #1043
Thank you @bonny1992 for adding it. Please test it. It might need some keywordsfilters like shareisland to work for TV series.

[2017-03-23 04:51] RoloSoze opened #1182 "[New Tracker REQ] Waffles"
**Indexer Name**
Waffles

**Type**
Audio (FLAC, MP3), e-books, audiobooks, apps, e-learning videos

**Indexer URL**
https://waffles.ch/

**Indexer Language**
English

**Invite**
It would be great if someone is willing to send an invite to a developer

**Note**
Waffles is a large music tracker with around 290K torrents. It had been offline for months but it's back online now.

[2017-03-23 04:54] kaso17 commented on #261
Was mono-devel installed before?

[2017-03-23 04:55] ozoak commented on #1181
FYI for anyone finding this - looks like something is a bit off with the restart process once a Sonarr update has been applied (guessing). Restarting Sonarr via the web UI didn't make a difference, however restarting Sonarr through shell (service nzbdrone restart) kicked it back to not using 'rid=' element for search requests.

[2017-03-23 04:56] kaso17 commented on #1179
Check which package provides the "cert-sync" tool, if the command is already working it should work.

[2017-03-23 04:59] kaso17 commented on #986
5030 (TV/SD) and 5040 (TV/HD) are the default values, it won't work with these.
Use "100015", or "100015, 100005" (if you intend to search for anime).

[2017-03-23 05:51] adamwinn commented on #1182
I'll take a stab at this tomorrow.  I was already thinking of doing it anyway.

[2017-03-23 05:54] RoloSoze commented on #1182
@adamwinn Thank you very much! I'll keep the 'invite needed' label for now until you let me know that everything is going well :) Cheers!

[2017-03-23 07:59] adamwinn commented on #1182
@RoloSoze Can you help me get the rows returned from Waffles? I keep getting "Info Manual search for "rock" on Waffles with 0 results." (I'm searching for "rock")

[code]

Waffles html:
http://pastebin.com/jQpG9HES

[2017-03-23 08:07] RoloSoze commented on #1182
@adamwinn This question is better directed to @kaso17 since he's the one who usually adds new trackers. I mostly identify & report bugs and enhancement opportunities, and nominate new trackers to be added.

@kaso17 Are you able to help?

[2017-03-23 17:44] D4rk56 commented on #1067
For help : https://raw.githubusercontent.com/SickRage/SickRage/8634d3730c1015c653dcdc4de888cd08355239e8/sickbeard/providers/torrent9.py

[2017-03-23 18:17] DrSeussFreak opened #1183 "v0.7.1191197 Windows EXE Installer not working"
For Windows, I grab the latest (v0.7.1191197) exe installer and it won't run, nothing happens.   Tried the previous release (v0.7.1176) at works fine.ine.

[2017-03-23 18:20] DrSeussFreak opened #1184 "Fix Demonoid URL"
Demonoid is back with a new URL, er the old URL anyways - https://www.demonoid.pw/

[2017-03-23 18:39] crafty35a opened #1185 "[New Tracker REQ] Zooqle.com"
Could you please add support for Zooqle (API info here: https://zooqle.com/help/api.html)

Thanks!

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/43367673-new-tracker-req-zooqle-com?utm_campaign=plugin&utm_content=tracker%2F25207257&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysourc

[2017-03-23 18:43] bonny1992 commented on #1043
@kaso17
Sure, no problem.
I need to know how Sonarr/Sickrage searches for season packs, though.
Like S01E01-10 or S01E02-E10?

[2017-03-23 18:53] kaso17 commented on #1184
updated default URL via 7e44145355f43e78fb0c5b10a36d385f9daf8e0a, thank you

[2017-03-23 18:53] #1184 closed

[2017-03-23 18:56] kaso17 commented on #1043
AFAIK Sonarr will just search for the specific season (episode ranges are not used)

[2017-03-24 07:17] manderss99 opened #1187 "xspeeds test fails"
xspeeds has recently stopped working, result from test:

Test failed for xspeeds: The 'meta' start tag on line 7 position 2 does not match the end tag of 'head'. Line 20, position 3.

version 1197

[2017-03-24 08:06] mmarquezs commented on #1165
@mrmrmrmr1
The magnet icon from https://ukpirateproxy.xyz/ doesn't not provide a magnet, only a link to the details page as kazo17 said.

I'm using http://ahoy.one/ and this one has a magnet and it should work fine.

[2017-03-24 08:29] kaso17 commented on #1187
I had to reconfigure it but besides that it'w working fine for me, please post a complete enhanced log

[2017-03-24 08:38] RoloSoze opened #1188 "Enable 'Enhanced logging' by default & add a 'Clear log' button"
I think it might be a good idea if 'Enhanced logging' is enabled by default. This should reduce the back and forth communication with users who raise issues which require posting an enhanced log. Instead of them posting a basic log, and us having to ask them for the enhanced one, they'll directly post the enhanced log when opening a new issue.

I also think a 'Clear log' button might be useful. Us

[2017-03-24 09:16] manderss99 commented on #1187
started working again without any change from my part ... closing

[2017-03-24 09:16] #1187 closed

[2017-03-24 09:34] RoloSoze commented on #1177
@silverbullettruck2001 Has @kaso17's response answered your question?

[2017-03-24 09:52] manderss99 opened #1189 "Jackett stopped working since upgrading to mono 4.8"
updated since I got a warning that jackett has issues with 4.2. Seems like a bad move.
followed instructions on mono site and had to do apt-get dist-upgrade to get it installed.

Now I get this message on every indexer:

 Test failed for alpharatio: An error occurred while sending the request: Error: TrustFailure (Ssl error:1000007d:SSL routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED)

Ubuntu

[2017-03-24 12:12] Jorman commented on #986
Ok, so, I only add the categories that this particular site use.

Tnx again

[2017-03-24 14:11] itdaboyz opened #1190 "[HD-Only] Jackett doesn't grab language info"
Hi,

On HD-Only, when searching for a release, the language and subtitle info seem not to be parsed :
Jackett search
http://i.imgur.com/K8yvJh1.png

HD-O search
http://i.imgur.com/MrJ7Yol.png

I think because of this, Radarr assumes every release are in english.

Thank you.
______________________________
Jackett version: 0.7.1197.0
Mono version : 4.6.2

<bountysource-plugin>

---
Want to back this

[2017-03-24 16:24] BNAS1017 opened #1191 "Jackett not connecting"
Using Ubuntu 16

Jacket will not connect, and every time I click test it just continues to spin here is the error log:

[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/43405415-jackett-not-connecting?utm_campaign=plugin&utm_content=tracker%2F25207257&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource]

[2017-03-24 17:10] RoloSoze opened #1192 "[The-Torrents] Configuration failed: Login Failed, got redirected"
I'm getting redirected whenever I try to configure The-Torrents in Jackett. It was working fine until a few hours ago. I'm able to access the website normally. Enhanced log attached,

Error message: Configuration failed: Login Failed, got redirected

Jackett version: 0.7.1197.0
Mono version (if not using Windows): N/A

[log.txt](https://github.com/Jackett/Jackett/files/868637/log.txt)

[2017-03-24 18:52] theCheek opened #1193 "Minimum Seeders"
I know this subject is a bit of a controversial one, and discussed often in Sonarr threads, but the fact that there is no way to configure the minimum acceptable seeders from trackers/jackett is in my view much more noticeable for large movie files.

The switch from Couchpotato to Radarr has been insanely helpful apart from this one missing feature. It is resulting in movies downloading at crazy s

[2017-03-24 18:53] #1193 closed

[2017-03-24 18:53] theCheek commented on #1193
embarassingly this was meant for the radarr github

[2017-03-24 20:06] shenanigans12 commented on #1179
These are the steps I was able to complete:

- [√] Install Mono 4 or better (version 4.8 is recommended)

- [√] Follow the instructions on the mono website and install the mono-devel (the instructions simply say to install Xamarin, so I did that)

- [ ] Follow the instructions on the mono website and install the ca-certificates-mono packages. (the only reference to this package is on the linux pag

[2017-03-24 20:41] shenanigans12 commented on #1189
This may or may not be related, but I'm getting the same error for ticket #1179

[2017-03-24 21:40] fryfrog commented on #1136
It mostly works. If I go to ./jackett/, the redirect works. But if I go to ./jackett it doesn't. I'll accept that, but it'd be nice if that got fixed too. Re-close if wontfix.

[2017-03-24 21:59] mrmrmrmr1 commented on #1165
thanks. I chnaged to that one now. but it still fails. I see this log when I try to download something :
03-25 00:57:19 INFO
[code]

[2017-03-24 22:39] zhdenny opened #1194 "[Nyaa] Fails"
[Latest Windows Jackett Version]
Nyaa successfully added in Jackett Web Interface. Manual Search test also successful. Sonar fails to add it though.

I successfully added IP Torrents to Jackett and then into Sonarr just fine. I would think this would be no different. Same API Key, just different Torznab Feed.

Not sure why Sonarr isn't seeing Nyaa though. Help?

[2017-03-24 23:33] adamwinn commented on #1179
I had this same issue too and @kaso17 helped me figure it out.

Here's how I think I remember solving it:

Download this pem file:
```https://curl.haxx.se/ca/cacert.pem```

Then run:
```sudo cert-sync ~/Downloads/cacert.pem```

The output should contain a "Importing into BTLS system store:" line (I think I ran it a couple of times)

[2017-03-25 00:58] ZacCoffman commented on #1179
You're a life saver @adamwinn!

[2017-03-25 02:05] shenanigans12 commented on #1179
Thank you @adamwinn, that was a hell of a journey.  To any other poor laymen that comes along and gets completely lost like I did, there are a few more steps to do before you can successfully add these certificates:

If you try to do this in OS X 10.11 or newer, you'll likely receive the error, "Warning: Could not import C=US, O=Amazon, CN=Amazon Root CA 4 System.UnauthorizedAccessException: Acces

[2017-03-25 04:43] adamwinn opened #1195 "[ImmortalSeed] "Value cannot be null" error when no results are found"
Jackett Version 0.7.1197.0
Mono version (if not using Windows):  4.8.0

-------------------------------

Searching with a string that will return no results for ImmortalSeed, will cause a "Value cannot be null" error.

Steps to Reproduce:
1)  Select ImmortalSeed as the tracker for a manual search
2)  Search for "asdasdasd"
3)  Jackett will show "Value cannot be null" in the logs

Full logs:
http:/

[2017-03-25 05:26] manderss99 commented on #1189
This solved it on Ubuntu (from #1179):

Download this pem file:
https://curl.haxx.se/ca/cacert.pem

Then run:
sudo cert-sync ~/Downloads/cacert.pem

many thanks @shenanigans12 !

[2017-03-25 05:26] #1189 closed

[2017-03-25 06:09] RoloSoze commented on #1179
@adamwinn @shenanigans12 Thank you guys for resolving this issue! I think we'll be referencing this quite often as many users will like raise similar issues.

[2017-03-25 06:09] #1179 closed

[2017-03-25 06:17] RoloSoze commented on #1171
Closing this since the issue will be opened in the Sonarr issues page.

[2017-03-25 06:17] #1171 closed

[2017-03-25 06:20] RoloSoze commented on #1157
@cpiscos I'm closing this issue due to non-response. Please feel free to reopen it when you're able to include the missing lines from the enhanced log! Thanks!

[2017-03-25 06:20] #1157 closed

[2017-03-25 06:20] RoloSoze commented on #1158
@cpiscos I'm closing this issue due to non-response. Please feel free to reopen it when you're able to post the enhanced log! Thanks!

[2017-03-25 06:20] #1158 closed

[2017-03-25 06:24] RoloSoze commented on #1183
@DrSeussFreak Once you have 0.7.1176 installed, try upgrading from within Jackett instead of running the .exe installer. Does that work?

[2017-03-25 06:26] DrSeussFreak commented on #1183
It didn't before, I had tried to get it to do so, but it seems that after manually upgrading to 1176 it triggered the update feature and it is now on 1197

[2017-03-25 06:26] #1183 closed

[2017-03-25 06:55] RoloSoze commented on #1169
@kaso17 Do you need advanced logs for this issue? @maxcore Might be best to post the advanced logs anyways.

[2017-03-25 10:19] Kusaha commented on #1194
I can second this, having the same exact issue

[2017-03-25 12:32] maxcore commented on #1169
@kaso17 strange this morning all work good .. if i get this error again my advanced log was on now.

[2017-03-25 15:50] VadVoci commented on #865
I have this error:

"Found no results while trying to browse this tracker"

Please fix it when you have time.

[2017-03-25 15:56] fana13 opened #1197 "Add Xthor impossible"
**Please use the search bar** at the top of the page and make sure you are not creating an already submitted issue. Duplicating issues makes it more difficult for everyone to follow. Your issue may have already been solved in the past as well.

Provide a description of the feature request or bug, the more details the better.
If you are experiencing an issue with a tracker, a **full log must be inc

[2017-03-25 15:57] VadVoci opened #1198 "[Bug]IceTorrent"
I have the following error in the ICETorrent Jackett:

"Found no results while trying to browse this tracker"

Please fix it when you have time
Jackett Version 0.7.1197.0

-------------------------------

[2017-03-25 19:07] petercontact opened #1199 "[bug] ptn"
ptn changed address and it is not working now, i tried changing piratethe.net to http://piratethenet.org/login.php or http://piratethenet.org/ and it isn't working

[2017-03-26 01:59] maxcore commented on #1169
[code]

[2017-03-26 02:00] maxcore commented on #1169
thats in red in the log of jackett

[2017-03-26 04:40] aka-charos commented on #1144
Not working here (Jackett Version 0.7.1197.0) . Test fails with

Also manual search queries give no result

[2017-03-26 04:59] RoloSoze commented on #1197
@fana13 Can you check if it's related to #1123?

[2017-03-26 05:00] RoloSoze commented on #1199
@petercontact I'm using http://piratethenet.org/ and it's working fine for me. Can you post an enhanced log showing this error?

[2017-03-26 05:06] RoloSoze commented on #1198
I can confirm this issue as well. Here's an enhanced log.
[log.txt](https://github.com/Jackett/Jackett/files/870566/log.txt)

[2017-03-26 05:40] RoloSoze commented on #1144
@aka-charos Please post an enhanced log showing this issue.

[2017-03-26 08:29] fana13 commented on #1197
Yes I'm starting to read this before post my issue and nothing works for me.
But for triying, I do a test with Xthor and it works like a charm !
Don't understand how but it works !
Thanks for reply, I close ;)

[2017-03-26 08:29] #1197 closed

[2017-03-26 11:32] Giantdouche33 opened #1200 "[Linkomanija] Configuration failed: Only http or https scheme is allowed"
when adding speed.cd tracker i get the error Configuration failed: Only http or https scheme is allowed

[log.txt](https://github.com/Jackett/Jackett/files/870705/log.txt)

Jackett version:  Jackett Version 0.7.1176.0
Mono version:Mono JIT compiler version 4.8.0 (Stable 4.8.0.495/e4a3cf3 Wed Feb 22 18:30:58 UT
-------------------------------

<bountysource-plugin>

---
Want to back this issue? **[

[2017-03-26 13:34] grumpwagon commented on #232
In case anyone comes across this later and Force SSL doesn't work, I'll just tell my story quick.

I upgraded Jackett versions manually by unzipping over the top. BMTV stopped working with this same error. I had to reenter my user/pass/captcha text (I think it was the captcha that was wrong), then it worked.

[2017-03-26 14:20] macbean101 commented on #1083
if using Linux, should a socks proxy with authentication work?

[2017-03-26 14:40] mrmrmrmr1 commented on #1165
any ideas ?

[2017-03-26 16:04] RoloSoze opened #1201 "[Diablo Torrent] - Configuration failed: Login failed: No form found using form selector form"
I'm getting the following error when I try to configure Diablo Torrent:

Configuration failed: Login failed: No form found on https://diablotorrent.net/login.php using form selector form. Strangely, the enhanced log shows nothing related to this error so I'm not sure that including it here would be helpful.

Did Diablo Torrent change something recently? Is anyone else having this issue?

Jackett v

[2017-03-26 17:09] ghost opened #1202 "[Xthor] - Always getting the same results"
Jackett version:  0.7.1197.0
Mono version (if not using Windows):  4.6.2

-------------------------------
Hello, This morning I started to have some issues when searching on sonarr with the xthor tracker.
For any show I make a search for I always get the same results like if it was cached and was not able to delete the cached results or something like that.

http://i.imgur.com/DNj1Z9Y.png

[2017-03-26 17:34] JigSawFr commented on #1202
It's strange, do you tried with xhtor api directly ?

[2017-03-26 17:38] jenkinsddl commented on #1202
Yes I did. Directly through Xthor api on Jackett it works like a charm.

[2017-03-26 18:08] petercontact commented on #1199
this is going to sound stupid but  http://piratethenet.org works
 http://piratethenet.org/  still shows me Configuration failed: Login Failed
who knew an / could make a difference

[2017-03-26 18:11] #1199 closed

[2017-03-26 18:46] aka-charos commented on #1144
[log pastebin](http://pastebin.com/raw/Df1Z8x2i)

I can see errors related to DateTime

[2017-03-26 20:03] Qdhcjv commented on #265
Jackett still does not support the TV Pack categories from AlphaRatio. I don't think log files are relevant since the category simply isn't an option at this time. If I search AR from Jackett it can find season pack torrents but these results are not available in software like Sonarr since no category number is provided.

[2017-03-27 00:40] badbonez commented on #185
How do we try that version on Synology?

[2017-03-27 03:22] runaroundhome opened #1203 "[REQ] TheEmpire"
**Indexer Name**
The Empire

**Type**
TV Shows, Movies and Music videos

**Indexer URL**
http://theempire.bz/

**Indexer Language**
English

**Invite**
Signup is open: http://theempire.bz/signup.php

**Note**
Around 17k torrents, mostly Australia, New Zealand and Canada made content.

[2017-03-27 05:35] adamwinn commented on #1198
I can probably fix this if I can get an invite to test with

[2017-03-27 05:37] adamwinn commented on #1175
Actually, is this even needed since they have an API?  I figured that's why Jackett didn't have support for hdbits and BTN since they have an API and have native support in Sonarr.

[2017-03-27 05:41] adamwinn commented on #1200
I saw this also with x264 trying to add the indexer using 127.0.0.1 and recaptcha.  Using the full cookie header method allowed me to add it without error tho.

I'm guessing it's because of this line in the log file.  Maybe a base url variable hasn't been specified?
[code]

[2017-03-27 07:13] adamwinn commented on #1203
Fixed by #1204

[2017-03-27 07:31] Giantdouche33 commented on #1200
how do you do the cookie method please?

[2017-03-27 07:41] adamwinn commented on #1182
I finally figured this out.  It's fixed with #1205

[2017-03-27 08:13] runaroundhome commented on #1203
Absolute legend @adamwinn! That was days/weeks faster then I expected.
Thank you!
Fingers crossed it gets accepted.

[2017-03-27 08:20] RoloSoze opened #1206 "[New Tracker REQ] BIGTorrent"
**Indexer Name**
BIGTorrent

**Type**
Movies, TV, Audio, Games, Software, XXX

**Indexer URL**
http://www.bigtorrent.eu/

**Indexer Language**
Hungarian

**Invite**
Registration is now open for a very limited amount of time:
http://www.bigtorrent.eu/signup.php

_Please note:_
Registration seems to be open only for certain countries. Europe & North America are the ones I'm sure of, so make sure you

[2017-03-27 08:30] RoloSoze commented on #1175
@adamwinn Jackett actually supports BTN but none of the current developers is a member of BTN, so the features for this tracker are outdated as far as I understand.

[2017-03-27 08:36] #1182 closed

[2017-03-27 11:50] rafuz commented on #1043
Seems that the plugin does not handle year correctly when searching from Couchpotato.
This is what happens:

![image](https://cloud.githubusercontent.com/assets/22271829/24354910/0b090e70-12f4-11e7-8858-9f83d2abd493.png)

When I search the movie title with year without brackets I can't find it. Couchpotato searches without brackets so  I see that it can't match any movies.

[2017-03-27 16:18] c2af5c5f28e38384295f2fc2af opened #1208 "[BeyondHD] search by imdbid"
Currently the BeyondHD indexer doesn't appear to support searching via imdbid. IMDB URL's are required for every upload on BeyondHD, so if searching via imdbid (or IMDB URL) is possible, it's guaranteed to return results if any uploads exist. This is especially important when using services like Sonarr or Radarr, where currently the search string is often too long or unique to return any results,

[2017-03-27 16:36] RoloSoze commented on #1208
@c2af5c5f28e38384295f2fc2af While BeyondHD does require every uploader to enter the IMDb link in the description part of the upload, this is not strictly enforced. Many uploads on BeyondHD do not include the corresponding IMDb ID.

For example, search BeyondHD for the movie The Borune Identity using the title and using its IMDb ID (tt0258463). The first returns 3 results, the 2nd returns only 1. T

[2017-03-27 18:16] lucasboulouys opened #1209 "T411 Domain"
Hi

the domain of T411 is now   T411.ai
please change the domaine of T411.li to T411.ai

Thanks

[2017-03-27 19:57] c2af5c5f28e38384295f2fc2af commented on #1208
@RoloSoze In that example, searching by title may return 3 results but those 3 results aren't guaranteed to be the right movie, whereas the 1 result via imdbid is. While it's a bummer the imdb url's aren't as enforced as they should be and that can affect search results, I think it might be more important to ensure accurate results.

Currently you can simply search for whatever string you want via

[2017-03-27 20:01] VadVoci commented on #1198
@adamwinn  give me an gmail address ..

[2017-03-27 20:07] adamwinn commented on #1198
@VadVoci, winnadam -at- gmail
Thanks

[2017-03-27 21:04] JigSawFr commented on #1209
@lucasboulouys already done by https://github.com/Jackett/Jackett/pull/1196
Please wait a new release, you can change domain manually until update

[2017-03-27 21:04] #1209 closed

[2017-03-27 21:16] JigSawFr commented on #1209
@lucasboulouys now fixed since https://github.com/Jackett/Jackett/releases/tag/v0.7.1207 release.

[2017-03-28 04:44] VadVoci commented on #1198
@adamwinn
ICETorrent Invite Sent!

[2017-03-28 04:50] adamwinn commented on #1198
I'll get working on it now

[2017-03-28 05:57] adamwinn commented on #1198
This is fixed by #1211

[2017-03-28 05:57] #1198 closed

[2017-03-28 06:15] roddyrodman opened #1212 "torrenting returns error"
hi

if we test the torrenting setup we always get this error:

Mar 28, 2017 09:57:58 AM	Error
Exception in test_indexer
Mar 28, 2017 09:57:58 AM	Info
Found 0 releases from Torrenting
Mar 28, 2017 09:57:58 AM	Error
CardigannIndexer (torrenting): Error while parsing row '<tr class="torrentsTableTR"> <td class="browse" style="padding: 0px;" align="center">
		<a onclick="change('cata=yes&amp;cat=40');

[2017-03-28 06:34] adamwinn commented on #1206
Fixed by #1213

[2017-03-28 06:35] #1206 closed

[2017-03-28 06:38] RoloSoze commented on #1177
@silverbullettruck2001 Feel free to reopen this if you still need help.

[2017-03-28 06:38] #1177 closed

[2017-03-28 06:57] adamwinn commented on #1212
Fixed by #1214

[2017-03-28 07:01] adamwinn commented on #1192
@RoloSoze I can take a look if you have an invite

[2017-03-28 08:12] halali commented on #1151
any news ?

[2017-03-28 08:54] gregorij89 commented on #1151
Unfortunatelly not. To busy at work, so no time for developing. Both extensions are working with Sonarr and Radarr, but ...

Both have issue with loging out when user login to tracker page in browser.

And of course with CzTorrent, there is still present the issue with signing in. That is possible only with cookie, not with name, password and reCAPTCHA2. And another one I have discovered is when u

[2017-03-28 10:14] #1212 closed

[2017-03-28 10:19] RoloSoze commented on #1192
@adamwinn Unfortunately I do not have an invite at the moment.

[2017-03-28 11:17] OldMike commented on #1169
Hi,

Same here: 500 error using this provider. It worked perfectly a few days ago.

`2017-03-28 11:16:00 INFO SEARCHQUEUE-BACKLOG-303236 :: [Jackett-EliteTracker] :: Request failed: 500 Server Error: Internal Server Error for url: http://xxx:xxx/torznab/elitetracker/api?apikey=**********&season=1&maxage=500&cat=5030%2C5040&q=Outsiders+%282016%29+S01E05&limit=100&t=tvsearch&offset=0&ep=5`
I only up

[2017-03-28 12:51] rbroh commented on #380
Hi kaso.  Just wondering if you had any other thoughts on this?  It seems like Radarr only returns the first result from Jackett's ptp feed.

Thanks

[2017-03-28 13:08] roddyrodman commented on #1212
wow fast fix!!! thank you - works great now!

[2017-03-28 16:39] rob1998 opened #1216 "[New Tracker Request] PSArips"
website: ~~http://psarips.com~~ ~~https://psarips.org/~~ https://psa.pm/
This is a really hard one, since they don't provide an rss feed with magnet links.
It's a really nice release group because they provide high quality x265 movies and tv shows.

if it's not possible: is it possible to create a new tracker for ThePirateBay/KickAssTorrents search results (for example "psa 1080p")?

<bountysource

[2017-03-28 16:55] RoloSoze commented on #1216
@rob1998 Is this a torrent tracker or a direct download website?

Also, Jackett already supports both TBP & KAT. Can't you just search these two trackers in Jackett for PSA releases?

[2017-03-28 17:03] RoloSoze commented on #1208
@c2af5c5f28e38384295f2fc2af From my experience, the search results on BHD are pretty accurate if you search for the full movie / show title. Personally, I prefer getting more results than less i.e. Searching by title & year, and getting 8 results (5 of which are the movie you're looking for) is better than searching by IMDb ID and getting only 2 out of the 5 results because some of the uploader di

[2017-03-28 18:10] kaso17 commented on #380
The Radarr log isn't showing the PTP Jackett parsing.
Jackett currently only returns the first page of the search results (make sure you set the number of torrents to show to the maximum).
Adding support for pagination is on the todo list.

[2017-03-28 18:11] kaso17 commented on #1208
I agree with @RoloSoze: if movie torrents are regularly missing the IMDB ID we shouldn't enable IMDB search for it.

[2017-03-28 18:19] kaso17 commented on #1169
Should be fixed with 0cc9cb019b705f7b92d87557b6befe25c2c9e7fd
Should only happen if there were no torrent results.

[2017-03-28 18:19] #1169 closed

[2017-03-28 18:21] kaso17 commented on #1192
seems like they did some kind of cleanup/inactivity pruning, my account got deleted.

[2017-03-28 18:27] kaso17 commented on #1200
I believe this might be a potential mono bug (mono httpclient not handling relative redirects correctly )

[2017-03-28 18:29] kaso17 commented on #1200
will have to look into this, but it shouldn't redirect you back to login.php anyway. check your login details too.

[2017-03-28 18:30] kaso17 commented on #185
click on "check for updates", it should install the latest version.

[2017-03-28 18:31] RoloSoze commented on #1192
@kaso17 No invites at the moment, but check your email.

[2017-03-28 18:36] kaso17 commented on #265
Looks like gazelle, potentially it can be migrated to the generic gazelle indexer.
Will have to check later.
Categories are definitely incomplete.

[2017-03-28 18:48] maxcore commented on #1169
Thx !

[2017-03-28 18:48] kaso17 commented on #1192
They enabled the useless simple captcha. They changed their layout too. Will have to fix it later.
If you enable "include dead torrents" in the searhc options there's an error too, can you pleae report it to the admins.

[2017-03-28 18:51] kaso17 commented on #1201
they made some bigger changes, will fix it later

[2017-03-28 18:56] RoloSoze commented on #1192
@kaso17 Error reported to one of the Admins. Take your time with this one. Thanks a lot!

[2017-03-28 19:03] c2af5c5f28e38384295f2fc2af commented on #1208
@RoloSoze Correct, the issue with Rogue One is all the uploads use the shortened name, and a search via Jackett for 'Rogue One' does indeed return some results. The problem is, I can't change the search string when using a service like Radarr or Sonarr. Radarr for example will use the full title and year if the indexer does not support imdbid.

When it comes to searching via Jackett's interface -

[2017-03-28 19:47] JigSawFr commented on #1216
@RoloSoze It's a direct download site
@rob1998 sorry, Jackett implement only torrents trackers

[2017-03-28 19:51] RoloSoze commented on #1201
@JigSawFr What does the 'Provider' label mean?

[2017-03-28 19:56] JigSawFr commented on #1188
Hum, enhanced logging by default will produce a ton of useless logs (and space usage) until a potential problem encountered by a user. They just need to be smart or read how to report a problem in an issue ?

[2017-03-28 20:04] JigSawFr commented on #1201
@RoloSoze 'Provider' label is for every issue in relationship of an existing indexer (except for a new tracker, we use 'New Tracker' label).
Until an issue is confirmed or we take time to take a look, we use 'Needs Investigation' (aka something to do - backlog), after that, this label is dropped and replaced by 'Confirmed' (if problem exist), 'Won't fix' (if it's intended behavior or team decision

[2017-03-28 20:05] RoloSoze commented on #1188
@JigSawFr Maybe logging can be configured to get auto deleted every x days or so? You're right, but unfortunately, most users do not read the instructions, and just provide a basic log, which adds the extra step of us having to ask them for the enhanced log. In many cases, they never get back to us, so we're left with no option but to close the issue and ask them to reopen it if they're able to pr

[2017-03-28 20:07] JigSawFr commented on #1188
Why not auto prune logs but with manual activation.
Other ways could be:

- Auto send issue from jackett app (by a log viewer and user action on it).
- Add a GitHub template for issue (so users will be forced to read / autocomplete issue and follow guidelines)

[2017-03-28 20:08] RoloSoze commented on #1185
@JigSawFr I don't think an invite is needed for this one. I'm able to download torrents without registering. There is an option to register, without an invite, to receive RSS feeds and set up subscriptions.

[2017-03-28 20:11] RoloSoze commented on #1201
@JigSawFr Thanks a lot for the explanation! I was familiar with all the labels except 'Provider' :)

[2017-03-28 20:13] JigSawFr commented on #1185
@RoloSoze Thank you, it's not a private tracker but a beautiful / clear torrent website (with api !) which seems to scrape many other public trackers.

[2017-03-28 20:13] RoloSoze commented on #1188
@JigSawFr I'm OK with both, whichever works best to make problem solving easier & faster while eliminating unnecessary back & forth with the users.

@kaso17 Thoughts?

[2017-03-28 20:19] RoloSoze commented on #1185
@JigSawFr Agreed. Allowing Jackett to re-support Public & Semi-Private trackers was a good decision. I believe it'll work best when pagination #975 is supported, since public trackers typically display more results than private trackers, so returning results from the 1st page only might be not sufficient.

This might be especially true for this one (Zooqle) & Torrentz2 #1040 since both return many

[2017-03-28 20:26] JigSawFr commented on #1188
Or something like https://sentry.io/

[2017-03-28 20:29] RoloSoze commented on #1188
@JigSawFr Looks really promising! The 'Hobbyist' option is actually free!

[2017-03-28 20:37] rob1998 commented on #1216
@RoloSoze it's both, you can download the torrent or direct download the file, but you download .torrent files and their locations (url) can only be accessed after seeing an ad and solving a captcha.
I know I can search for PSA releases but I want to search in the psa releases, let me explain:
I'm using Jackett in combination with Sonarr. Let's say I want the newest episode of Game of Thrones. Son

[2017-03-28 21:12] badbonez commented on #185
There is no "check for updates in the synology package center," the version currently  installed is 0.7806-3.  There is a 'refresh' button that searches for updates, but Jackett does not list an update.  I'm having this same issue where Jackett is quitting on a daily basis.

I manually downloaded the current version but I have no idea where to install these files in my Synology *nix OS.

[2017-03-28 23:09] rbroh commented on #380
Sorry, I'm not sure I follow - where do I set the number of torrents that are returned to Radarr?  For other jackett feeds (IPtorrents for example) Radarr does receive more than the first result.

[2017-03-28 23:26] Quiksmage commented on #380
As @rbroh said, I also wanted to make it known that this issue is specific to the PassThePopcorn indexer in Jackett.

I can verify that MoreThanTV, IPtorrents, and TehConnection return proper results in Radarr when using torznab.

If I have the Radarr built-in PTP indexer enabled alongside the torznab Jackett PTP, I see that the results are VERY different. Sometimes I see a single result from the

[2017-03-29 00:56] c2af5c5f28e38384295f2fc2af commented on #1208
After giving it some more thought and testing some more searches, I think I've changed my mind. Until Radarr / Sonarr support both searching by imdbid and title, it's probably best to keep BeyondHD as is. From my tests, while most of the torrents did have imdbids, there were enough that didn't that would have been returned with a title + year search. So, it does seem you're more likely to get inco

[2017-03-29 02:01] H4ckey opened #1218 "Add Indexer Blank Ubuntu Ver 0.7.1225"
Mono JIT compiler version 4.2.1

Jackett Version 0.7.1225.0

Add indexer shows the following:

![image](https://cloud.githubusercontent.com/assets/24574362/24435217/87807950-1490-11e7-8f43-11030d41cf9f.png)

Started doing it after a update from 0.7.806(or 896 or something)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/43559907-add

[2017-03-29 04:58] RoloSoze opened #1219 "[BIGTorrent] Multiple issues: No results, no categories defined"
I'm getting the following issues for BIGTorrent:

1. Test failed for BIGTorrent: Found no results while trying to browse this tracker. Enhanced log attached.
[log.txt](https://github.com/Jackett/Jackett/files/877838/log.txt)

2. There doesn't seem to be any defined categories. None are mentioned in the 'Add Indexer' window next to BIGTorrent, and none seems to have been defined for the tracker aft

[2017-03-29 05:06] RoloSoze commented on #1218
@H4ckey Try upgrading Mono to the latest version. Does it solve the issue?

[2017-03-29 07:40] adamwinn commented on #1219
Ya, this one was a lil harder since it's in Hungarian.  I'll see what I can do.

For #1, they require at least a 2 character search string.  When you hit "test" in Jackett, it does a blank test (ie. &search=) so it fails.  I didn't know how to specify a fake, hard coded search string.  Running your own manual search should work tho.

For #2, It was hard to get the English translation for the categ

[2017-03-29 09:05] JigSawFr commented on #1216
@rob1998 my bad, i've just seen that there is also some torrents files, but i doubt that site will be incorporated in the future, as Jackett need to follow a redirector & solve a captcha.

[2017-03-29 09:33] chrisvdgeld opened #1221 "Jackett doesn't start anymore"
Jackett doesn't seem to start anymore.

Mono version 4.8.0 and latest git commit

https://puu.sh/v26SH/b9f2582f68.png
(cant ctrl c, ctrl v due to esxi. SSH not installed for security issues)

Update:

My server monitor says

"Warning, cannot assign requested address"
domain:port
localhost:9117

[2017-03-29 09:38] rafuz commented on #1043
There is a problem with torrents name/info too.
Couchpotato could not find any details from the torrent (quality, language) as the query comes back with only title and year.

[2017-03-29 10:21] RoloSoze commented on #1219
@kaso17 Are you able to help with point no. 1 regrading the failed test?

@adamwinn I can provide you with the translations for the categories & alive/dead torrent search options. I'll send those in a few hours.

[2017-03-29 11:48] rbroh commented on #380
An added piece of info, not sure if this helps.....If I add a filter to jackett for GoldenPopcorn, then I'll get the first GP result passed to Radarr.  This is sort of a work around to ensure I don't end up getting the actual first listed release from PtP (which is always an SD rip). But unfortunately many movies don't have GPs, and new movies take a lot longer for a GP to show up.

[2017-03-29 14:32] Lethtel commented on #1202
Hi,
Dont know if it's related but i don't get the exact same behavior.
For me it's like the search function didn't work as i get the last uploaded torrents on xthor no matter what i ask for sonarr or radarr to search.
Still working good via jackett directly.

[2017-03-29 14:37] jenkinsddl commented on #1202
Hey yep I have this issue as well on Radarr but I wanted to first ask for help on sonarr but yes it is probably related too.

[2017-03-29 17:00] rob1998 commented on #1216
that's what I thought, because of that I asked for the possibility to create a second indexer for tpb or kat with an extra filter on it for psa, because most of psa's files are on tpb/kat.
But I'm a programmer myself, so I knew it was not the easiest thing to do.

[2017-03-29 17:40] badbonez opened #1222 "How to manually install update on synology"
Synology DS 1515+
DSM 6.1-15047 Update 2
Mono ver: 1.7.0-2810
Jackett ver: 0.7.806-3

I am having the issue where Jackett quits daily.  Issue #185 says that d071f19 should fix it.  However, on Synology the current version is 0.7.806-3, there is no update from the synocommunity packages.  I would  like to install this current release.  Is there a way to install this manually on the Synology DS?  I

[2017-03-29 19:43] RoloSoze opened #1223 "[BIT-HDTV] Configuration failed: Found no results while trying to browse this tracker"
I believe the tracker has just been updated, so certain things have changed. It doesn't work in Jackett anymore. Enhanced log attached.
[log.txt](https://github.com/Jackett/Jackett/files/880196/log.txt)

Jackett version:  0.7.1225.0
Mono version (if not using Windows): N/A

[2017-03-29 21:22] kaso17 commented on #1221
check journalctl/log.txt for the error output.

[2017-03-29 21:23] kaso17 commented on #1221
according your update message it looks like it's already running? Check netstat for the port usage.

[2017-03-29 21:24] kaso17 commented on #1218
looks like a caching issue,try cleaning you cache.

[2017-03-30 01:45] adamwinn commented on #1223
I can take a look at this one

[2017-03-30 07:56] JigSawFr commented on #1216
@rob1998 I think filtering results must be done in apps which use Jackett, for example Sonarr with a required word "PSA".

[2017-03-30 08:44] chrisvdgeld commented on #1221
journalctl said exactly the same as status. After a reinstall everything seems to work peachy! Thank you anyway!

[2017-03-30 09:19] #1221 closed

[2017-03-30 11:16] rob1998 commented on #1216
Yeah, problem with that is that if it's required and an episode is not released by psa it won't automatically download it, but I think I have to wait untill the preferred option from Radarr is implemented in Sonarr, cause then it would work.

[2017-03-30 12:25] RoloSoze opened #1224 "[HDClub] Broken search strings"
This issue is very similar to BeyondHD's issue in #835. Basically, if you search for anything other than the title, the tracker will return no results. Things like year, resolution, etc. will break your search.

E.g. Search for Mad Max - 8 results, one of which is the 2015 movie. Search for Mad Max 2015, 0 results.
E.g. Search for The Silence of the Lambs - 4 results. Add 1080p to the search strin

[2017-03-30 12:40] roddyrodman opened #1225 "Base Path Override: - small one"
Dear beloved development heroes,

I just came across a small one but found others people seem to make the same mistake.
(and think something is wrong with the application)

If you enter in the Base Path Override: a path that end with a \ the result of the "copy torznab feed" will have a \\ after the path.

maybe it makes sense to enter a default volume in the Base Path Override: or check the entry

[2017-03-30 13:32] Giantdouche33 commented on #1200
checked login details and they are correct. same error.

[2017-03-30 18:12] kaso17 commented on #1224
"*mad*max*2015*" or "%mad%max%2015%" dosn't work either. I suggest to raise this as an issue/feature request on the tracker forum. I don't see a generic way to fix it.
For the special case of movie search we could remove the year from the search and filter the results using andmatch.

[2017-03-30 18:15] kaso17 commented on #1225
Can you provide a more complete example?
The feature is designed for usage with reverse proxies and paths in URIs shouldn't contain backslashes. The defualt value (if not configured) "/jackett/" should be a good example.

[2017-03-30 18:35] DrSeussFreak opened #1226 "TPB - Not searching comics"
ThePirateBay.org has comics, yet Jackett does not search that category, can this please be fixed?

[2017-03-30 19:02] kaso17 commented on #380
Please post the corresponding search urls generated by sonarr/radarr.

[2017-03-30 19:10] Globbered opened #1227 "[Hounddawgs] Configuration failed: String was not recognized as a valid DateTime."
Hi there

Getting the above error trying to add a indexer for Hounddawgs.

Verified the login credetials but keep getting that error!

Jackett version:
Jackett Version 0.7.1225.0 Debian system

-------------------------------
Best regards

[2017-03-30 20:52] Quiksmage commented on #380
Hey @kaso17
Let me know if this is what you need. It is a trace log from a search.
https://pastebin.com/Ayci7enS

[2017-03-30 22:21] mrmrmrmr1 commented on #1165
please, I really need help.
I don't understand why I am the only one who requires help on this matter.
it should be a common problem.
I am not able to use CouchPotato with Jackett on piratebay proxy servers.
Similar setup on Sonarr works.
SO it should note be a problem on my network or configuration...

[2017-03-31 03:30] adamwinn commented on #1226
Fixed with #1229

[2017-03-31 04:34] adamwinn commented on #1227
@Microbone I can look at this if you send me an invite

[2017-03-31 06:39] bonny1992 commented on #1043
Oh, I can see this definition has some problems.

Sadly right now I'm quite busy with work, but I'll have a look at it as soon as possible.

Thank you all in the meanwhile for reporting the issues!

[2017-03-31 07:36] JigSawFr commented on #1043
@rafuz please create a new issue for problems with providers ;)

[2017-03-31 09:05] rafuz opened #1230 "[HDTorrentsIt] Couchpotato could not match anything"
As mentioned in #1043 the plugin does not match the year correctly when Couchpotato searches something:

![image](https://cloud.githubusercontent.com/assets/22271829/24543937/bd444d2e-1601-11e7-98ec-d064cc2d9ac6.png)

Even when matching no details are returned for the torrent (as BDRIP, Bluray, quality, audio) just the name of the movie.

<bountysource-plugin>

---
Want to back this issue? **[Post

[2017-03-31 09:41] Undeadhunter opened #1231 "SickRage jackett double search"
See following issue raised with SickRage, it seems like Jackett needs to catch this?

https://github.com/SickRage/SickRage/issues/3526

[2017-03-31 15:23] Quiksmage commented on #380
For comparison sake.

Here is the trace log with the built-in PTP indexer on radarr doing the same search

https://pastebin.com/8Y9S7QRm

Similarly, here is the trace log from radarr using IPtorrents doing the same search.

https://pastebin.com/f1gCUFjd

Hopefully, the combination of these logs will let you see why the PTP output isn't working for some reason in radarr.

[2017-04-01 11:26] RoloSoze commented on #141
I believe HDChina's invite system has just opened up for the first time in over six months. If anyone would like to help add HDChina to Jackett, please send an invite to @kaso17 on:

kaso1717 -at- gmail.com

I believe you can exchange 100K BPs for 1 invite! Thanks, guys!

[2017-04-01 11:34] RoloSoze commented on #141
I believe HDChina's invite system has just opened up for the first time in over six months. If anyone would like to help add HDChina to Jackett, please send an invite to @kaso17 on:

kaso1717 -at- gmail.com

I believe you can exchange 200K BPs for 1 invite, and this will only be available for the next 10 hours or so! Thanks guys!

[2017-04-01 11:35] RoloSoze commented on #1223
Closed via #1232

[2017-04-01 11:35] #1223 closed

[2017-04-01 12:51] #1226 closed

[2017-04-01 13:53] kaso17 commented on #380
I'm confused why Radarr parses all results and then shows only 1 result (the first one). I've to look into the Radarr logic behind that.
[code]

I believe using the torrent/release name instead of the movie title is the correct way of going forward. Always using the movie title would result in the related releases (Other section from your screenshot) to be parsed as the movie too.

Can you post th

[2017-04-01 14:09] kaso17 commented on #1222
don't know the location, did you try clicking on "check for updates"?

[2017-04-01 18:49] Quiksmage commented on #380
The only problem with doing that is that radarr parses based on file name, and if the name isn't proper, then it won't download. Obviously, that's not your fault, but letting it use the movie name from the page would fix that. Could you possibly exclude the extras section from the search and use the movie name for the return? I'm not sure how hard that would be, but lets get it searching properly

[2017-04-01 19:35] badbonez commented on #1222
There is no 'check for updates' in the DSM system.  If you look at https://synocommunity.com/package/jackett you will note that the current release is 0.7.806-3 which is what I have installed, so as far as my Diskstation is concerend, this is the most up-to-date package.  The problem is that the synocommunity package has not been updated.

Having said that, I was able to find the location of the f

[2017-04-02 09:26] silentmiles commented on #1222
@badbonez, Jackett crashes regularly for me as well (also on Synology). However, I have 0.7.1225.0 installed, and the problem is not fixed. I'm not sure why your version would be so old. You don't need to manually install anything. Just go to the Jackett admin page and click on the "Check for updates" button in the configuration section. Jackett uses its own update manager, instead of the standard

[2017-04-02 09:29] silentmiles commented on #1222
Ah... Yes, I see now that my Synology package manager also reports v0.7.806-3. I think this was the version when I first installed the package. But, as I said above, Jackett updates itself (if that option is enabled), so the actual version may be different to what Synology reports (again, another reason Jackett should not be using its own mechanism). Have a look at the very bottom of your Jackett

[2017-04-02 16:04] badbonez commented on #1222
OK, I see that in the Jackett web page, the version is 0.7.1242.0.  Yes, I was confused between updating the synology package center or the actual app.  So far, it has not crashed today.  Thanks for the help.

[2017-04-02 16:04] #1222 closed

[2017-04-02 19:34] adamwinn commented on #1175
I used
[code]
as @kaso17 suggested.  It works great.  I'll have this ready soon

[2017-04-02 20:12] adamwinn commented on #1175
@RoloSoze @kaso17 Since HDBits has a proper API, is there a need to scrape the site with Jackett?  Any info needed from HDBits can just come from the API.  They don't like site scraping and it's actually against their rules

[2017-04-02 21:24] adamwinn commented on #1175
Fixed with #1235

[2017-04-03 02:18] Sunnay31 commented on #1202
Hello,
I have the same behavior with Couchpotato. When the request comes from CP, Xthor API returns the last uploaded torrents but it works fine if the research is done directly on Jackett.
According to my tests, the issue comes from the category parameter in the request send to XThor API :

`https://api.xthor.bz/?passkey=******&search=Batman+v+Superman+Dawn+of+Justice+2016&category=6+6+7+95+5+4+1

[2017-04-03 09:43] jenkinsddl commented on #1202
Yes ! on Sonarr each time you want to get the right result you have to remove one category

[2017-04-04 15:22] cron410 opened #1236 "[isoHunt] Silently Fails in Sonarr"
I have looked at the previous issues here with isoHunt. Using the Download Locally button in Jackett saves the .torrent files just fine. Sonarr will sometimes save the .torrent file.

http://imgur.com/a/CtktZ the torrent circled worked fine. The torrents with a red line work fine in Jackett with Download Local.

Jackett version:  0.7.1242.0
Mono version (if not using Windows):  Windows

----------

[2017-04-04 15:27] cron410 commented on #1236
Enhanced Log: https://pastebin.com/YJVnz0Ju

[2017-04-04 23:54] jimrubenstein commented on #265
Any info here? I Jackett doesn't seem to be able to handle the `season` or `ep` query params as they come from Sonarr. If I drop those from the the query-string that sonarr sends over to jackett, jackett will return results.

Maybe I'm barking up the wrong tree here - lmk if that's true.

[2017-04-05 15:33] #1175 closed

[2017-04-05 16:35] lucasboulouys opened #1237 "problem JSON"
i can't search, and when i test the indexer, i have this error message
on T411

Additional text encountered after finished reading JSON content: ). Path '', line 1, position 2.

i have try to delete t411 indexer
and when i add again, i have this message

Configuration failed: Unexpected character encountered while parsing value: <. Path '', line 0, position 0.

Jackett version:   0.7.1256.0

[2017-04-05 16:38] lucasboulouys commented on #1237
i have delete t411 indexer
and when i add again, i have this message

Configuration failed: Unexpected character encountered while parsing value: <. Path '', line 0, position 0.

[2017-04-05 18:24] Blackdixxa commented on #1237
It's a problem on their side :)

https://api.t411.li/discussion/comment/680387#Comment_680387

they'll resolve it asap.

[2017-04-05 18:25] lucasboulouys commented on #1237
thx @Blackdixxa   it's ok    i wait for

[2017-04-05 18:28] Blackdixxa commented on #1237
Yeah I was wondering if it was the last update and no traces of changes on jackett side so I dug in t411 forums and saw this :)
You're welcome !

Regards,

[2017-04-05 22:11] kdizzay commented on #1125
I am also facing this exact issue on 0.7.1242.0 for hon3yhd. Here are my logs:

Observations from logs :

Query that Jackett makes : IWebClient.GetString(Url:https://hon3yhd.com/browse.php?search=Akira&incldead=1)

Result from query :

IWebClient: Returning OK => <html>
<head>
<title>MySQL Error</title>

<style>P,BODY{ font-family:arial,sans-serif; font-size:11px; }</style>
</head>
<body>

<blockq

[2017-04-06 04:57] desimaniac opened #1238 "Jackett is not detecting latest update"
Jackett is not detecting the latest version (v0.7.1256).

Logs: https://gist.github.com/desimaniac/6a9bb9c45a2bfb3892e5ee85517b4b56

Jackett Version 0.7.1242.0
Mono JIT compiler version 4.6.2

[2017-04-06 05:04] theoneandonlyjoshua commented on #439
Jackett Version 0.7.1256.0 seems to be the latest version on SynoCommunity...any chance of an update coming...I am seeing same issues...where previously it worked a charm

[2017-04-06 08:05] Eisa-AlAwadhi commented on #415
Also using Windows and I have the same issue, waiting patiently for a fix!

[2017-04-06 08:40] geoffgs opened #1239 "[ImmortalSeed] "Configuration failed: " but logged in and successfully redirected"
While trying to add ImmortalSeed to a fresh jackett install in a FreeNAS jail, "Configuration failed: " is raised. No further error is generated:

![is](https://cloud.githubusercontent.com/assets/14260308/24745189/b8ee632e-1a82-11e7-9ecd-7588ba6a81c6.png)

Authentication does take place and my browser is redirected to ImmortalSeed.me.

I've enabled advanced logging via the GUI but see nothing out

[2017-04-06 09:58] flightlevel commented on #415
@Eisa01 An official fix would be changing the way Windows firewall works, I don't know how you expect us to do this? As a Windows user I would expect if I have the firewall turned off it to let everything through, but in reality this isn't what happens on Windows

[2017-04-06 10:07] Eisa01 commented on #415
@flightlevel
Hmm, will it not be possible to add a rule for Jackett to bypass the Windows Firewall?
There's no need to turn off Windows firewall, just a rule that allows Jackett to bypass the firewall.

Upon installation or Jackett's first run, Jackett can ask for permission to bypass firewall similar to different programs.
Once we accept the rule then Jackett can bypass the firewall freely.

Righ

[2017-04-06 10:37] flightlevel commented on #415
Sure, I get what you mean. But, I don't think its as easy as first thought because Jackett generally runs as a service on Windows which doesn't have the same level of access as a GUI application. Will consider

[2017-04-06 14:22] D4rk56 commented on #1067
Thanks @ChibiTomo 👍

[2017-04-06 16:26] #1237 closed

[2017-04-06 17:17] kdizzay opened #1240 "[Hon3yHD] not working with Jackett"
I am also facing this issue on since 1242 when I first installed and now after updating to 1256 for hon3yhd. Here are my logs:

Observations from logs :

Query that Jackett makes : IWebClient.GetString(Url:https://hon3yhd.com/browse.php?search=Akira&incldead=1)

Result from query :

IWebClient: Returning OK =>

<title>MySQL Error</title> <style>P,BODY{ font-family:arial,sans-serif; font-size:11px;

[2017-04-06 19:21] RoloSoze opened #1241 "[KaraGarga] Multiple Enhancements"
- [x] **1. Make Jackett search 'Title' instead of 'Torrents'**

On KaraGraga's website, the user has the option to search Torrents, Title, Director/Artist, Uploader, Year (or range), or IMDb ID, with the default option being 'Torrents', which is what Jackett uses. The problem with this option is that any given search returns many partially or completely irrelevant results, since it looks for the k

[2017-04-06 19:23] adamwinn commented on #1241
I can take a look at this

[2017-04-06 19:41] RoloSoze commented on #1024
@adamwinn Not sure if you're on AHD, but if you are, maybe you could help out with this one.

[2017-04-06 19:48] neuman1812 opened #1242 "[ThePirateBay] fails to work."
Log  Info
-------------------------------
[code]

----------------------
[code]
--------------
System Raspberry Pi 3
Description:	Ubuntu 16.04.2 LTS
Release:	16.04
Codename:	xenial
Jackett Version 0.7.1256.0

[2017-04-06 19:56] adamwinn commented on #1024
@RoloSoze No, I'm not, but I heard they're doing applications soon so hopefully I will be

[2017-04-06 19:58] adamwinn commented on #1242
[code]
Did you re-login?

What was your search query and did you select any categories?

[2017-04-06 20:10] neuman1812 commented on #1242
This was just pressing the test button in jackett.    As far as I know
there is no login for the pirate bay.  It still has the public page at
thepiratebay.se  Has that changed?

On Apr 6, 2017 3:58 PM, "adamwinn" <notifications@github.com> wrote:

[2017-04-06 20:10] RoloSoze commented on #1024
@adamwinn I've been hearing the same for over a month but nothing happened. If they start recruiting somewhere, please let us know. Thanks!

[2017-04-06 20:15] adamwinn commented on #1242
OK, Let me take a look at it.

[2017-04-06 20:22] gregorij89 commented on #1151
Hi, still no luck with CzTorrent signing in. But both indexers are doing well, I´ve modified CzTorent to return only valid torrents (it goes through pages before it collects 50 torrents minimal or finds end of the list). But from my point of view, both can be useful for others, signing with a cookie is not so hard and someone who really needs this extension could go through this process. Or maybe

[2017-04-06 20:26] JigSawFr commented on #1151
@gregorij89 you need to learn how to clone a git repo (in vs) and use git to submit your changes.
Take a look at the great microsoft docs here: https://www.visualstudio.com/en-us/docs/git/gitquickstart :)

[2017-04-06 20:41] RoloSoze opened #1243 "[HDPter] Rename tracker & change Site Link"
Please change HDPter's name to Ourbits - they have rebranded. Also, please change the Site Link to https://ourbits.club/

Everything else works fine. No other changes are required.

[2017-04-06 20:45] RoloSoze commented on #1239
I'm getting the exact same problem.

[2017-04-06 20:48] RoloSoze commented on #1093
Looks like ShowRSS has now become a Semi-Private tracker. Registration is required, and this needs to be reflected in Jackett. Currently, there are no fields to add the username & password since it used to be a Public Tracker.

[2017-04-06 21:00] RoloSoze opened #1244 "[New Tracker REQ] CCFBits"
**Indexer Name**
CCFBits

**Type**
Movies, Audio, TV, XXX

**Indexer URL**
http://ccfbits.org/

**Indexer Language**
Mandarin Chinese, some English

**Invite**
An invite is required. If someone can supply one, that would be great.

**Note**
CCFBits is a medium-sized Chinese tracker with over 80K torrents

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.boun

[2017-04-06 21:00] gregorij89 commented on #1151
Thank you for the link @JigSawFr. I had a local clone, so I've created a local branch. But any attempt to push or to create new pull request ends with fatal: unable to access 'https://github.com/Jackett/Jackett.git/': The requested URL returned error: 403

[2017-04-06 21:22] RoloSoze commented on #1219
@adamwinn Here are the category translations, in the order in which they appear in the drop-down list. Notice that some of them are in English or self-explanatory. For everything else, I added the English translation after the = sign.

- 3D
**- Egyéb = Other**
- Film DVD English
- Film DVD Hungarian
- Film HD English
- Film HD Hungarian
- Film SD English
- Film SD Hungarian
- Games ISO
- Games Rip

[2017-04-07 00:05] Musabi13 opened #1245 "[IPTorrents] Fails to login"
Just updated Jackett in the last couple of days and previously had it working flawlessly with IPTorrents.

The new version of Jackett asks you to input your username and password for IPTorrents instead of getting the cookie from the header. This is the result when I try to login with my username and password:

http://imgur.com/a/AlaXQ

I have quadruple checked that my username and password are cor

[2017-04-07 02:50] #1245 closed

[2017-04-07 07:08] hiro45 opened #1246 "[Freedom-hd] Error downloading freedomhd"
Log Info
`2017-04-07 08:57:22.7804 Info redirecting to /Admin/Dashboard
2017-04-07 08:57:44.1633 Info Manual search for "The OA" on Freedom-HD with 16 results.
2017-04-07 08:57:48.9996 Error Error downloading freedomhd http://freedom-paradise.eu/download.php?id=6791&hit=1 MonoTorrent.BEncoding.BEncodingException: Invalid data found. Aborting
  at MonoTorrent.BEncoding.BEncodedDictionary.DecodeTorr

[2017-04-07 10:12] zductiv opened #1247 "[feature request] Add a combined torznab feed for all of your added trackers"
A combined torznab feed that combines all of the indexers you have added makes maintaining your list of indexers easier rather than having to test/remove/add them in Sonarr/Radarr and whatever else people are using them for.

[2017-04-07 10:34] #1208 closed

[2017-04-07 14:01] JigSawFr commented on #1247
This could be great, but with some problems:
- Some apps haven't implemented pagination
- You will not be able to prioritize sources in apps

[2017-04-07 16:44] Zunon commented on #1242
Same problem here

[2017-04-07 17:13] adamwinn commented on #1242
Fixed with #1248

[2017-04-07 17:27] adamwinn commented on #1243
Fixed with #1248

[2017-04-07 18:38] adamwinn commented on #1241
@RoloSoze can you give me an example in #3 like you did in #2?

[2017-04-07 19:08] adamwinn commented on #1241
@RoloSoze I've tried to fix number 4 already but I can't figure it out.  KG displays their dates in a non-standard format.  Someone else can fix it maybe.

[2017-04-07 19:10] adamwinn commented on #1241
1) and 2) fixed with #1249

[2017-04-07 19:18] RoloSoze commented on #1241
@adamwinn Thank you! I think it's best to see how the fixes to 1 & 2 work out before attempting 3. It might not even be needed. 3 basically applies to any movie search that has a year in it. With most trackers, I always include the movie's year in my search string since this usually returns more accurate results, but KG does not include the year in the movie's title.

Let me test the fixes to 1 &

[2017-04-07 19:24] adamwinn commented on #1240
It looks like the website is having issues.  There's a mysql error.  It'll probably be fixed soon or you can contact the admins about it

[code]

[2017-04-07 20:37] kdizzay commented on #1240
The error is saying though that the syntax of the query is wrong rather than the call not going through (from what I can tell). I have been having this issue for 2-3 months now.

SQL error: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ')' at line 1 SQL error code: 1064

[2017-04-07 21:28] adamwinn commented on #1240
That error is on their side.  It's saying that the database query they coded has a syntax error.  I'm a web developer and have seen millions of these.  You should be able to reproduce it via the website too.  It is possible they changed their search functions so now the old way fails and Jackett would need to be updated to the new way that doesn't produce an error.  If you have an invite, I can lo

[2017-04-07 22:06] kdizzay commented on #1240
Yeah, I was able to reproduce it on the website. I think as you said they changed the search functions so the Jackett code will need to be changed for this tracker to query with the new correct syntax as I posted above in the difference between the two, namely the addition of '&searchin=' in the query Jackett makes. Can you try to make the change for the call in your local repo and let me know? I

[2017-04-08 00:55] kdizzay commented on #1240
Hi, I have fixed the issue and verified that I get results properly from Hon3yHD.

File changed : /src/Jackett/Definitions/hon3yhd.yml   (Added new line 72)

69     inputs:
70       $raw: "{{range .Categories}}c{{.}}=1&{{end}}"
71       search: "{{ .Query.Keywords }}"
**72       searchin: "title"**
73       incldead: "1"

I understand that the dev can't just port a change on my word alone, but unf

[2017-04-08 10:28] DejaVu commented on #539
Seeing as this has now changed in the newer releases, is there any chance of including Zooqle and GloDLS now?

[2017-04-08 22:21] RoloSoze commented on #539
@DejaVu Already being discussed in #1185 :)

[2017-04-09 00:01] adamwinn commented on #1067
Added with #1250.  Thanks @ChibiTomo

[2017-04-09 01:56] adamwinn commented on #1219
Added categories with #1253

Specifying a search string with more than 2 chars when the Test button is pressed is still outstanding tho

[2017-04-09 02:21] flightlevel commented on #1242
@neuman1812 @Zunon Can you try the latest release to see if you still have the same issue

[2017-04-09 02:22] #1243 closed

[2017-04-09 03:28] desimaniac opened #1254 "[Torrenting.com] Jackett fails to load configuration file on restart"
When I add torrenting.com indexer, it "tests" ok, and search queries do show test results. But when I restart Jackett, torrenting.com disappears.

With Enhanced Logs enabled:

[code]

and in trying to get a backup config file to load....
[code]

Cookie headers I have tried:
1) the whole header line (ie `__cfduid=xx; PHPSESSID=xx; uid=xx; pass=xx `)
2) only from the start from PHPSESSID part (ie `P

[2017-04-09 06:53] Eisa01 opened #1255 "Open torrent link in new tab"
Hello,
Currently, after we search for a torrent and we want to visit the torrent link, tapping on the link redirects to the torrent website redirecting our Jackett and we have to search again (unless we open in new tab)

I believe it would be useful if by default tapping on a link opens the site in a new tab.
Thanks (^ ^)

[2017-04-09 08:14] flightlevel commented on #1255
Good call, will be available in the next release

[2017-04-09 08:16] #1255 closed

[2017-04-09 08:47] Eisa01 commented on #1255
@flightlevel
Amazing!
Can this be applied also to the torrent download? Because if the download fails then Jackett will be directed to an error page and we have to search once again.
Awaiting your response!
Thanks!

[2017-04-09 11:08] RoloSoze commented on #141
Added with #1251 Thanks, @adamwinn!

[2017-04-09 12:51] Baraddon opened #1257 "[HD4Free] returns empty releases"
The HD4Free tracker returns empty releases. See screenshot:
<img width="1513" alt="unbenannt2" src="https://cloud.githubusercontent.com/assets/25466451/24837415/cd200650-1d33-11e7-83c3-6e82275990d1.PNG">

Other trackers work fine.

[log.txt](https://github.com/Jackett/Jackett/files/908186/log.txt)

Jackett version:  0.7.1272.0 and 0.7.1256
Mono version (if not using Windows):  4.8.0 (Stable 4.8.0.

[2017-04-09 15:23] Eisa01 opened #1258 "Notification for download failure"
Hello,
When we download a torrent via Jackett it works smoothly, however if the download fails because the torrent web is down or something then Jackett will redirect our current page to the error page, and we lose our search results and have to search again.

I believe it would be useful if instead of redirecting to the error page we receive a small notification down in Jackett web interface , or

[2017-04-09 21:06] daviddob opened #1259 "[RevolutionTT] searching broken"
When searching via Couch Potato, Manually, or otherwise, it fails with the attached error. Looks like it is with regard to a parsing issue and just dumps the entire state of the site to the log file which I have attached. Please let me know if you require any more information.

Platform: Windows
Jackett version:  v0.7.1272
[log.txt](https://github.com/Jackett/Jackett/files/920777/log.txt)

-------

[2017-04-10 00:32] FusionAge opened #1260 "[FreshOnTv] Error when adding Indexer"
When adding FreshOnTv as an indexer, I receive the following errors:

Error Message Appears: "Input string was not in a correct format"

From the Logs:
[Debug] IWebClient.GetString(Url:https://freshon.tv/browse.php)
[Debug] IWebClient: Returning OK =>
---------------------------------
[ERROR] Exception in Configure
---------------------------------
[ERROR] Error on 20170409203938 for FreshOnTV.txt

[2017-04-10 00:35] FusionAge commented on #1260
Just wanted to add, this is a brand new install, and I was able to add MoreThanTv without a problem. Also seeing this for TehConnection.EU, I'll add a new Issue for that.

[2017-04-10 05:49] Eisa01 opened #1262 "Check box instead of ddl for selecting/filtering tracker, and category"
Hello,
Currently when we select/filter trackers and categories we have to either select all or select one because of drop-down-list limitation (ddl).

I believe it would be useful if tracker/category selection was via check boxes, then we could select for example 3 sources to search from without having to search all then filter one by one which causes search to be slower.
And the same could be app

[2017-04-10 06:40] hiro45 opened #1264 "[T411] Error config account in jackett"
Jackett Version: 0.7.1272.0

Error in jackett, can not add T411:
Configuration failed: Unexpected character encountered while parsing value: o. Path '', line 0, position 0.

Not Error in log

[2017-04-10 06:54] hbooo opened #1265 "[Xthor] No categories for some anime"
Jackett Version 0.7.1272.0

Hello,

It seems than some anime anime doesn't have categories in Xthor
![capture d ecran 2017-04-10 a 08 52 34](https://cloud.githubusercontent.com/assets/242125/24849265/36527e54-1dcb-11e7-8d80-8f90ca3df102.png)
When I check on the website, the episode is in the correct categorie but not on Jackett

[2017-04-10 10:15] raspdealer commented on #1264
Same for me.

[2017-04-10 11:46] neuman1812 commented on #1242
Sorrry for the delay in response.  Seems to be working now.

[2017-04-10 12:51] flightlevel commented on #1264
Are they still having server issues ?
https://github.com/Jackett/Jackett/issues/1237

[2017-04-10 12:54] flightlevel commented on #1265
@hbooo please provide the missing categories as per https://github.com/Jackett/Jackett/blob/master/src/Jackett/Indexers/Xthor.cs#L55

[2017-04-10 12:54] #1242 closed

[2017-04-10 12:57] flightlevel commented on #1260
Please try again, working perfectly here. If it fails again, a full enhanced log will be needed

[2017-04-10 13:03] hbooo commented on #1265
@flightlevel  Categories are 101 and 110, here is the code that should be present I think

`    // Anime
            AddCategoryMapping(31, TorznabCatType.TVAnime);             // MOVIES ANIME
            AddCategoryMapping(32, TorznabCatType.TVAnime);             // SERIES ANIME
            AddCategoryMapping(110, TorznabCatType.TVAnime);             // ANIME VOSTFR
            AddCategoryMapping

[2017-04-10 13:15] XavierTolza commented on #1264
Same problem here :)

[2017-04-10 13:35] JigSawFr commented on #1264
T411 API is currently offline, we have no ETA.
https://forum.t411.ai/discussion/45826/bugs-informations-demandes#Item_55

[2017-04-10 13:35] #1264 closed

[2017-04-10 15:12] RoloSoze commented on #1067
@adamwinn It might be a good idea to remove the username & password fields since the tracker is open/public and doesn't require registration.

[2017-04-10 18:14] kormic911 opened #1266 "[DigitalHive] error triggered while searching"
Following error received when attempting to search DigitalHive using keyword 'badlands'

[code]

Jackett version:  v0.7.1272
Mono version (if not using Windows):  4.8.0 (Stable 4.8.0.524/9d74414 Wed Apr  5 17:57:04 UTC 2017)

-------------------------------

[2017-04-10 19:07] FusionAge commented on #1260
Just tried -- same issue. Attached the full enhanced log (PII redacted) and screenshot of the UI error.

![image](https://cloud.githubusercontent.com/assets/1923210/24878007/5aa5063a-1dff-11e7-81d4-cef03951893a.png)

[jlog.txt](https://github.com/Jackett/Jackett/files/911166/jlog.txt)

[2017-04-10 19:55] adamwinn commented on #1067
@RoloSoze the definition file doesn't have username and password fields.  I think I asked @kaso17 a while ago why I was getting the username/password fields for another public tracker and he said to just press the Okay button.  I'm not sure why they're not present for TPB tho

[2017-04-10 20:01] RoloSoze commented on #1067
@adamwinn Yes, you can leave the username & password fields blank & press Okay - that'll work for any public tracker. It just makes more sense to remove them altogether since they're not needed. Case in point, TPB, RARBG, EZTV, KAT, Lime Torrents, Sky Torrent, Torrentz2, etc. Let's see if @kaso17 is able to help out with this when he's back. It's just a cosmetic / usability feature, nothing to do

[2017-04-10 22:11] Quiksmage commented on #380
Any updates on this? were my logs helpful in this regard? Thanks!

[2017-04-11 00:02] runaroundhome opened #1268 "[REQ]: tasmanit"
id: tasmanit
name: Tasmanit
description: "Tasmanit.es is a AUSTRALIAN / NEW ZEALAND Private Torrent Tracker for AUS/NZ TV"
type: private
links:
  - https://tasmanit.es/

minimumratio: 0.5

[2017-04-11 00:07] adamwinn commented on #1268
@runaroundhome If you send me an invite, I can do this one.  winnadam -at- gmail

[2017-04-11 00:08] runaroundhome commented on #1268
@adamwinn Sent, thanks!

[2017-04-11 01:24] kormic911 commented on #1266
After digging a bit deeper this is what a normal string it expects looks like:
`<br><span style='font-size: 12px !important;'>Added: 2016-10-28 14:22:02&nbsp;<td class='thicon'><a href="download.php?id=xxx&https=no&name=xxx.torrent"><i class='fa fa-download'></i></a></td>`

But once you download a file it changes to something like this
`<br><span style='font-size: 12px !important;'>Added: 2016-01-

[2017-04-11 03:53] adamwinn commented on #1268
Fixed with #1269

[2017-04-11 06:56] Matafakah opened #1270 "[BIT-HDTV] Returns 0 result"
When doing test i get:
Info	       Found 0 releases from BIT-HDTV
Error	Exception in test_indexer
Jackett version:  0.7.1272.0

[2017-04-11 07:18] runaroundhome commented on #1268
Amazing work, thank you!

[2017-04-11 08:39] SevenNine commented on #1270
+1

[2017-04-11 09:52] flightlevel commented on #380
Give kaso a few weeks, he is away at the moment, but essentially its EXTREMELY difficult to debug these sorts of things without site access

[2017-04-11 10:54] #1260 closed

[2017-04-11 10:58] flightlevel commented on #1260
@FusionAge You must have super powers, no one else has been able to click on the snatched column values by the looks of it, when the next release comes out, see if this fixes the issue

[2017-04-11 11:05] flightlevel commented on #1266
Had a go, see if the latest release fixes it, very hard without access

[2017-04-11 11:07] flightlevel commented on #1255
now in current release

[2017-04-11 12:34] fevkalbeser opened #1274 "Incorrect Name sent to Sonarr/Radarr"
When trying to search for a movie using Radarr/Sonarr via Jackett, the letter "I"(capital i) is not grabbed from Jackett, resulting in erroneous importing of the movie and failure to download.

I am using Jackett to search from indexers such as IPTorrents and Katcr. The search from within the app itself lists correct results. However, when I use Radarr/Sonarr to search, the "I" (if it is at the be

[2017-04-11 14:09] Quiksmage commented on #380
I completely understand. Thank you for the reply. :)

On Apr 11, 2017 2:52 AM, "flightlevel" <notifications@github.com> wrote:

[2017-04-11 14:49] kormic911 commented on #1266
That doesn't seem to work, I think something along the lines of this would probably work better:
`qRow.Find("td:nth-child(2) > span").First().Text().ReadLine().Trim().Replace("Added: ", "").Split('<br>')[0];`

[2017-04-11 15:41] desimaniac commented on #1240
@kdizzay you dont need a linux machine for a minor change. just fork it and make the change right on github and send pull request back.

[2017-04-11 17:11] FusionAge commented on #1260
I'm an admin, that's true. I'll try with a non-admin account and see.

[2017-04-11 19:12] fevkalbeser commented on #1274
As I suspected, the issue was caused by system language. Changed the format to United Kingdom and the problem was solved. Not the perfect solution but it works nonetheless.

[2017-04-11 20:09] FVGAZI commented on #1239
Same problem for me :(

[2017-04-11 21:40] WildCard1 commented on #968
Hi. I still have this problem. Did anyone find a solution for this? Here is the relevant part from the enhanced log file (some of it are translated from norwegian to english as best as I could). Thanks!

[code]

[2017-04-12 01:16] thenamelessthing opened #1276 "t411.ai error"
Since a couple of days maybe week, I now obtain this error

![image](https://cloud.githubusercontent.com/assets/10235448/24937009/9ed3e892-1efb-11e7-8153-064b12049ce6.png)

Jackett version:  Jackett Version 0.7.1287.0
Mono version (if not using Windows):  Mono JIT compiler version 4.6.2 (Stable 4.6.2.16/ac9e222 Tue Jan  3 11:48:26 UTC 2017)

-------------------------------

[2017-04-12 02:06] DamnedFacts commented on #1179
Replace:
`sudo cert-sync ~/Downloads/cacert.pem`

with:
`cert-sync --user ~/Downloads/cacert.pem`

and you avoid any issues with SIP.

[2017-04-12 05:48] raspdealer commented on #1276
Same for me, they probably changed something

[2017-04-12 10:03] JigSawFr commented on #1276
@raspdealer @thenamelessthing please search before post an issue, t411 API is down for the moment

cf. https://github.com/Jackett/Jackett/issues/1264

[2017-04-12 10:03] #1276 closed

[2017-04-12 13:12] chrishiam opened #1277 "All torrents failing tests"
Jackett version:  v0.7.1287
Mono version (if not using Windows):  4.8.0
Log File: https://pastebin.com/3LiuLxnU

-------------------------------

Recently all my added indexers have begun to fail. I updated both Jackett and Mono to the latest versions to make sure that wasn't the issue and it's persistent. I'm using public trackers, but when I try to add private trackers (i.e. torrentleech) it doe

[2017-04-12 14:27] jbmorgado commented on #1113
Starting jacket daemon with `-c libcurl` doesn't solve the problem, the error remains the same as before:

`An error occurred while sending the request: Error: TrustFailure (Ssl error:1000007d:SSL routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED)`

[2017-04-12 14:28] jbmorgado opened #1278 "Several trackers now giving the error: OPENSSL_internal:CERTIFICATE_VERIFY_FAILED"
Several trackers are now giving the error: OPENSSL_internal:CERTIFICATE_VERIFY_FAILED

Starting jacket daemon with `-c libcurl` doesn't solve the problem, the error remains the same as before:

`An error occurred while sending the request: Error: TrustFailure (Ssl error:1000007d:SSL routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED)`

[2017-04-12 15:02] FVGAZI commented on #1239
FWIW ImmortalSeed is working fine with Cardigann.

[2017-04-12 16:03] XavierTolza opened #1279 "[REQ] nextorrent.net"
Next torrent is a french open tracker
-------------------------------

https://www.nextorrent.net/torrent

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/44070194-req-nextorrent-net?utm_campaign=plugin&utm_content=tracker%2F25207257&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource

[2017-04-12 17:25] adamwinn commented on #1278
Try the steps in #1179

[2017-04-12 17:44] bOOm-X opened #1280 "Error when adding T411 indexer"
I get an error when I try to add T411 indexer.

The answer is below (from the http request):

{"indexer":"t411","name":"T411","config":[{"id":"sitelink","value":"https://t411.ai"},{"id":"apitoken","value":"*****"},{"id":"lasttokenfetchdate","value":"1491418809"},{"id":"username","value":"****"},{"id":"password","value":"****"},{"id":""},{"id":"cookieheader","value":""},{"id":"lasterror","value":"U

[2017-04-12 20:01] JigSawFr commented on #1280
Please search before create an issue.
cf. https://github.com/Jackett/Jackett/issues/1276

[2017-04-12 20:01] #1280 closed

[2017-04-12 20:03] #1278 closed

[2017-04-12 20:50] amuteau commented on #1202
I have same problem.
`https://api.xthor.bz/?passkey=XXXXXXXXXXXXX&search=ballerina&category=6+6+7+95+5+4+100+94+1+2+3+8+9`

I get
[code]
But if I remove category=6+6+7+95+5+4+100+94+1+2+3+8+9
[code]

[2017-04-12 22:52] jbmorgado commented on #1278
I had already tried those steps, they don't work. For me and for other people opening this issue.

[2017-04-12 22:52] jbmorgado opened #1281 "Several trackers now giving the error: OPENSSL_internal:CERTIFICATE_VERIFY_FAILED"
Several trackers are now giving the error: OPENSSL_internal:CERTIFICATE_VERIFY_FAILED

Starting jacket daemon with `-c libcurl` or using the steps in [#1179](https://github.com/Jackett/Jackett/issues/1179) doesn't solve the problem, the error remains the same as before:

An error occurred while sending the request: Error: TrustFailure (Ssl error:1000007d:SSL routines:OPENSSL_internal:CERTIFICATE_V

[2017-04-13 08:33] gregoryduckworth commented on #1019
I've been getting the same issue as this when using demonoid, with enhanced logging showing the same log as @RoloSoze

[2017-04-13 08:36] gregoryduckworth commented on #1019
I've been experiencing the same issue but with Demonoid and my logs show the same issue as @RoloSoze

[2017-04-13 11:38] flightlevel commented on #1278
Stop spamming the issue tracker, stick to one issue

This is related to YOUR ENVIRONMENT, but you've completely ignored the issue template when creating this issue TWICE, how is anyone meant to help you with YOUR ENVIRONMENT when you can't bothered providing versions, OS, full log as per the issue template

Recommend using docker so that the environment is already setup for you

[2017-04-13 11:38] #1281 closed

[2017-04-13 11:43] flightlevel commented on #1277
What OS?
Have you tried https://github.com/Jackett/Jackett/issues/1179

[2017-04-13 12:39] chrishiam commented on #1277
@flightlevel I'm on `Debian GNU/Linux 8.7 (jessie)`. I just tried running `wget https://curl.haxx.se/ca/cacert.pem && cert-sync cacert.pem` but nothing changed even after restarting Jackett, although I was getting the following error when running the command:

Unfortunately I have no sudo access.

[2017-04-13 13:30] seedforlife commented on #1005
Hello, is there any way that someone invite me to this tracker please?!
Thanks a lot!
Regards

[2017-04-13 14:01] jbmorgado commented on #1278
I'm not the only one with this issue and you keep closing issues without addressing them about this (probably about other stuff as well). I didn't provide my environment configuration because *many other users* are reporting the same bug and providing their environment config and still you keep closing them without fixing anything.

A bug can stay open until someone fixes it, I'm not asking for yo

[2017-04-13 14:21] corpseas commented on #1277
Downgrade mono to 4.6.2, I just fixed this issue myself as of a few hours ago. Apparently there's some SSL issue with Jackett and mono 4.8.0

[2017-04-13 16:26] surmail opened #1282 "[REQ] Newpct"
**Indexer Name**
NewPct

**Type**
Public provider
Movies, TV Shows

**URL**
http://www.newpct.com/

**Indexer Language**
Spanish

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/44113389-req-newpct?utm_campaign=plugin&utm_content=tracker%2F25207257&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://w

[2017-04-13 18:47] JigSawFr commented on #1278
@jbmorgado each case are different by environnement variations. We need all things to investigate problems. Reasons can be different for the same problem.

[2017-04-14 00:55] flightlevel commented on #1277
@chrishiam

What sort of CPU are you running?

Can you confirm you've installed both `mono-devel` and `ca-certificates-mono`

Try
`cert-sync`
and report version

Try from a directory you have write access eg. Downloads
`wget https://curl.haxx.se/ca/cacert.pem`
`cert-sync --user ./cacert.pem`
You should have access to do this without sudo and report results/try Jackett

Or even try (don't have to d

[2017-04-14 18:18] ConorNevin commented on #1270
+1

[2017-04-14 22:01] thebest28 opened #1283 "[torrent9.biz] Issue with search"
Hello,
I use radarr with jackett  for  french movies on torrent9 but the issue is the title  movie in  torrent9 .
They use the  year of the create  torrent and not the  year of the movie and radarr  search with the  year movie Also jackett  return 0 result..
The  year is good  in  the torrent name but not in  the  title  movie for  the  search :(
Is There a solution for  this issue?
Thanks you

[2017-04-15 00:05] adamwinn commented on #1283
@thebest28 Please post a sample movie you're searching for

[2017-04-15 07:44] thebest28 commented on #1283
For  exemple  : Fantastic Beasts
i can  see  in  the  jackett  log :

Found 0 releases from Torrent9 for: les animaux fantastiques 2016 (this is a radarr  search)
Found 3 releases from Sky torrents for: les animaux fantastiques 2016 (this is a radarr  search )

If i search manually in  torrent9 indexer : les animaux fantastiques 2016 ( i have 0 return)
If i search : les animaux fantastiques 2017 o

[2017-04-15 14:02] chrishiam commented on #1277
@corpseas tried downgrading to `Mono JIT compiler version 4.6.2 (Stable 4.6.2.16/ac9e222 Sat 15 Apr 13:12:42 UTC 2017)` but no luck, issue still exists.

@flightlevel I'm going to try these as a type this message out and report back, hopefully it'll help other people having this issue.

`cert-sync`: `Linux Cert Store Sync - version 4.6.2.0`

Imported `cert-sync` as suggested, import successful but

[2017-04-15 14:02] #1277 closed

[2017-04-15 19:59] ajslater opened #1285 "SSL Handshake error on all indexers using SSL"
http urls work fine but https fails

[code]

Jackett version:   0.7.1287.0
Mono version (if not using Windows):  Mono JIT compiler version 4.8.0 (Stable 4.8.0.524/9d74414 Thu Apr  6 19:26:41 BST 2017) (via homebrew, macOs 10.12.4)

I think this issue started around Jacket version: v0.7.1176 but am not sure.

[2017-04-16 01:11] adamwinn commented on #1283
I see what's going on here.  I don't know how to solve it tho.  Maybe you could write the mods and ask them why they're putting 2017 in the name, when he movie was released in 2016.

[2017-04-16 04:16] flightlevel commented on #1285
Seems like the certificates haven't been imported when you installed Mono 4.8

From a terminal

run
`cert-sync`

If version is 4.8 then continue

Go to a directory you have write access eg. Downloads

[code]

Don't have a mac to test on, but can't see why this shouldn't work

Otherwise have a read of https://github.com/Jackett/Jackett/issues/1179#issuecomment-289180922

You can also try running Ja

[2017-04-16 06:42] edege81 opened #1286 "restart of service or of the computer new port required."
After each restart of service or of the computer, I need to Change the port before all starts to work again
then i need to update couch potato with the new port, so far the only fix for this is to leave the computer running.

Jackett Version 0.7.1287.0
Mono version (if not using Windows):  Stable 4.8.1.0

-------------------------------

<bountysource-plugin>

---
Want to back this issue? **[Post

[2017-04-16 06:53] ajslater commented on #1285
That's it man, Thanks, makes perfect sense.
I'm a Mono/.Net novice.
[code]

Everybody should just run everything from containers.  No guessing.

[2017-04-16 07:55] thebest28 commented on #1283
Ok i will do it .
Thanks :)

[2017-04-16 09:11] #1285 closed

[2017-04-16 09:37] lucasboulouys opened #1287 "Can you add zooqle"
hi

Can you add zooqle to the tracker please

https://zooqle.com/

-------------------------------

[2017-04-16 11:10] flightlevel commented on #1286
What OS, that shouldn't happen after a restart

If you run `sudo netstat -lpn |grep :9117` where 9117 is port Jackett is running on, it will tell you what is using the port (probably another instance of Jackett)

and you can run
`sudo kill $(sudo lsof -t -i:9117)`
to kill the process that is stopping Jackett from starting so you don't have to change ports

[2017-04-16 11:11] flightlevel commented on #1287
https://github.com/Jackett/Jackett/issues/1185

[2017-04-16 11:11] #1287 closed

[2017-04-16 14:40] edege81 commented on #1286
even on windows 10 64 bit dose this same thing.

after a restart,

when  couch potato or sonarr trys to index jackett it gives error

Failed opening url in TorrentPotato:
http://localhost:5056/potato/torrentprojectimdbid=tt3228088&search=Spark%3A+A+Space+Tail+2017&user=&passkey=xxx

i can get sonarr error log later. i have it off line atm

but that port is open i can gui to it but as for indexing

[2017-04-16 15:32] Zyys opened #1288 "[nyaa] Unhandled Expection / Cannot use torznab"
No idea if this is due to my setup, but when trying to access torznab nothing is returned and jacket is throwing the following error in the log:

[code]

[2017-04-16 16:20] mtr2014 opened #1289 "[MoreThanTV] Configuration failed: Couldn't find category."
Jackett version:  0.7.1287.0
Mono version (if not using Windows):  4.8.1

-------------------------------

When I try to setup MoreThanTV in jackett i just get a little pop up box on the bottom saying in red: "Configuration failed: Couldn't find category."

It shows 2000 for Movies and 5000 for TV as categories. How can I see which are the correct categories and then change them in jackett?

Thank

[2017-04-16 16:25] bighi opened #1290 "Changing settings doesn't work. Value null error is shown."
I recently installed Jackett in my Arch Linux PC.

Problem: Changing settings doesn't work. It doesn't matter what I put in the input fields, whenever I try to save settings it shows this message: `Error: Value cannot be null. Parameter name: value`.

(Also nothing else works, but let's fix one thing at a time. If I go back to a 0.5.xxx version, things work)

Jackett Version 0.7.1207.0
Mono JIT co

[2017-04-16 16:53] JigSawFr commented on #1290
Seems to be duplicate of https://github.com/Jackett/Jackett/issues/1288

[2017-04-17 04:22] #1289 closed

[2017-04-17 04:37] flightlevel commented on #1286
Can you confirm the URL its failing on, as the one above will definitely fail `torrentprojectimdbid`
Can you try it from you web browser as well

[2017-04-17 04:38] flightlevel commented on #1288
Happening just on Nyaa or all trackers?

[2017-04-17 12:51] antoniogmartin opened #1293 "[req] divxtotal"
Id: divxtotal
Name: DivxTotal
Description: DivxTotal is a SPANISH site for Movies, TV series and Software
SiteLink: https://divxtotal.foo/
Public

[2017-04-17 13:25] EffeF opened #1294 "[HDTorrents.it] No results found"
I've inserted between the indexers of Sonarr and Radarr, the test is ok, but then it does not find any result.

Jackett version:
v0.7.1296

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/44219701-hdtorrents-it-no-results-found?utm_campaign=plugin&utm_content=tracker%2F25207257&utm_medium=issues&utm_source=github)** We accept bountie

[2017-04-17 15:20] edege81 commented on #1286
there is the error log on couch potato
Failed opening url in TorrentPotato: http://localhost:5056/potato/rarbg?imdbid=tt3228088&search=ubuntu&user=&passkey=xxx

Failed opening url in TorrentPotato: http://localhost:5056/potato/thepiratebay?imdbid=tt3228088&search=ubuntu&user=&passkey=xxx

Failed opening url in TorrentPotato: http://localhost:5056/potato/limetorrents?imdbid=tt3228088&search=ubuntu&

[2017-04-18 01:23] maxcore opened #1295 "[New Tracker REQ] https://hdf.world/"
new french tracker , invite was open and if is close i can give invitation !

thx !

[2017-04-18 01:30] SevenNine commented on #1270
fixed with latest release v0.7.1296

[2017-04-18 05:39] eyotiste commented on #1295
+1
Gazelle tracker :)

[2017-04-18 06:36] mtr2014 commented on #1289
It upgraded to 0.7.1296.0 but now it just says "Configuration failed"

[2017-04-18 08:18] flightlevel commented on #1289
Their website is down
`<title>www.morethan.tv | 521: Web server is down</title>`

[2017-04-18 08:19] #1270 closed

[2017-04-18 10:43] mtr2014 commented on #1289
Oops, my bad!

Von: flightlevel [mailto:notifications@github.com]
Gesendet: Dienstag, 18. April 2017 10:18
An: Jackett/Jackett <Jackett@noreply.github.com>
Cc: Mario Thiel <mario_thiel@outlook.com>; Author <author@noreply.github.com>
Betreff: Re: [Jackett/Jackett] [MoreThanTV] Configuration failed: Couldn't find category. (#1289)

Their website is down
<title>www.morethan.tv<http://www.morethan.tv

[2017-04-18 14:53] Zyys commented on #1288
I only use privateHD and Nyaa, but so far I have only seen this on Nyaa. privateHD works fine.

[2017-04-18 20:14] bighi commented on #1290
Not exactly. The message shows up on the web page, not in a debug log. And it's not while trying to use Torznab or any other service.

I am completely unable to save any changes to the settings.

[2017-04-18 21:12] badbonez commented on #1239
I am having this same issue with immortalseed.me, it says configuration failed and then sends me to the immortalseed webpage.

2017-04-18 14:10:33.5357 Info   http://kjcrowley.dynu.com:8081/Admin/Dashboard
2017-04-18 14:10:33.5362 Info DefaultHttpControllerSelector SelectController Route='action:Dashboard,controller:Admin'
2017-04-18 14:10:33.5362 Info DefaultHttpControllerSelector SelectControlle

[2017-04-18 22:05] delphiactual commented on #1145
yts.ag has a RSS feed so this should be really easy

https://yts.ag/rss-guide
https://yts.ag/rss/0/all/all/0

[2017-04-18 22:45] fryfrog commented on #1293
https://github.com/Jackett/Jackett/wiki/How-to-request-a-new-tracker

^ Might help you get it going, maybe even all by yourself. :)

[2017-04-19 08:24] Oscarteg commented on #1294
Do you by any chance use Docker for these applications?

[2017-04-19 08:34] EffeF commented on #1294
No, are installed on Windows 10

[2017-04-19 14:41] antoniogmartin commented on #1293
But... What am i suposse to do? Create a file with categories from the webpage?
like this one:
AddMultiCategoryMapping(TorznabCatType.TVAnime,116, 140, 151, 117, 141, 152, 148);

[2017-04-20 08:25] flightlevel commented on #1293
@antoniogmartin
Have a look in here https://github.com/Jackett/Jackett/tree/master/src/Jackett/Definitions for examples of other trackers
and if you are familiar with html you will probably be able to create your own definition

[2017-04-20 10:55] kaso17 commented on #1294
please provide an advacned log

[2017-04-20 11:01] kaso17 commented on #1239
They changed the login procedure slightly, fixed with b002220cc3b1c1e66964801a9f8713c87e71dbea

[2017-04-20 11:01] #1239 closed

[2017-04-20 11:06] EffeF commented on #1294
Where do I find the log file?

[2017-04-20 11:30] kaso17 commented on #1288
should be fixed with 566817c7cdeb739019557a1c69e220f7bf10e6b3

[2017-04-20 11:30] #1288 closed

[2017-04-20 11:30] kaso17 commented on #1290
@bighi please make sure to clear your browser cache after the update, that's usually the problem.

[2017-04-20 11:36] kaso17 commented on #1286
Please try a `curl -v http://localhost:5057/potato/...` while it's not working and post the output.
And please also post the jackett log content during the failed requests.

[2017-04-20 11:37] kaso17 commented on #1294
Try C:\ProgramData\Jackett\log.txt on windows

[2017-04-20 11:42] kaso17 commented on #1285
@ajslater
Which commands exactly did you need on macos? I would like to update the readme.

[2017-04-20 12:09] kaso17 commented on #1019
The log file
@gregoryduckworth please open a new issue for Demonoid.
It's most likely unrelated.
based on the log from RoloSoze it looks like the rows selector is simply wrong (changed) or there's some profile setting, etc. causing a different style to be used. I won't fix this.

[2017-04-20 13:03] rbroh commented on #380
It looks like Radarr's built in indexer for PTP has been fixed: https://github.com/Radarr/Radarr/issues/761

It works for me now, I wonder if this will shed any light on the problem for Jackett with PTP.

[2017-04-20 13:10] EffeF commented on #1294
This?
[log.txt](https://github.com/Jackett/Jackett/files/943165/log.txt)

[2017-04-20 13:45] kaso17 commented on #1294
It's some lower level owin exception, probably not much we can do about. With an english error message we might have more luck.
Are you using any security/antivirus/firewall products?

[2017-04-20 13:55] EffeF commented on #1294
Avira free... but can it cause problems with just one tracker? With all the others I have no problems.